@charset "utf-8";
@import url('common.css');

html,body{background: #f5f5f5;}
/***********************资质审核（共用）***********************/
.reg_head_wrap{width: 100%;height: 120px;background: url(../images/reg/regHead1.png) repeat-x;}
.reg_head_bg{width: 1300px;height: 120px;background: url(../images/reg/regHead2.png) no-repeat;}
.regLogo{display: block;width: 220px;height: 66px;float: left;margin: 17px 0px 0px 120px;}
.reg_content{width: 1098px;border: 1px solid #e6e6e6;background: #fff;margin: 10px auto 80px auto;}
.mt5{margin-top: 5px;}
.mb5{margin-bottom: 5px;}
.vt38{vertical-align: top;}
.vt38 .aItit{line-height: 36px;}
.accountInfo{width: 1000px;background: #fff;}
.accInfoTab{width: 740px;margin-left: 200px;margin-top: 20px;}
.accInfoTab tr td{padding-top: 18px;}
.aItit{color: #646464;font: 14px "Microsoft Yahei";text-align: right;padding-right: 5px;}
.aItit i{color: #ff4545;font: 14px "Microsoft Yahei";padding: 0px 2px;}
.aItit_tip{color: #999;font-size: 12px;text-align: right;padding-right: 20px;}
.aItext{color: #434343;font: 14px "Microsoft Yahei";}
.aIinput_p{width: 340px;height: 38px;position: relative;float: left;}
.aIinput{width: 328px;height: 20px;padding: 8px 0px 8px 10px;border: 1px solid #edf0f5;color: #434343;font: 14px/20px "Microsoft Yahei";}
.aIuser{width: 340px;height: 38px;float: left;}
.aIinput_jin{border: 1px solid #fff !important;}
.aIem{display: block;color: #ccc;font: normal 12px "Microsoft Yahei";position: absolute;top: 11px;left: 11px;}
.aIp{float: left;display: block;width: 220px;height: 38px;color: #ff4545;font: 12px/38px "Microsoft Yahei";padding-left: 25px;}
.aIup_p{display: block;width: 340px;height: 24px;color: #ff4545;font: 12px/24px "Microsoft Yahei";padding-left: 20px;}
.aIup_span{display: block;width: 30px;height: 34px;position: absolute;top: 70px;right: -38px;}
.aIup_span1{width: 30px;height: 34px;padding: 0px 0px 0px 25px;color:#f35050;font: 14px/34px "Microsoft Yahei";}
.aI_wrong{background: url(../images/common/wricon2.png) no-repeat 8px 12px;}
.aI_right{background: url(../images/common/wricon2.png) no-repeat 8px -74px;}
.aIup_wrong{background: url(../images/common/wricon2.png) no-repeat 0px 5px;}
.aIup_right{background: url(../images/common/wricon2.png) no-repeat 0px -74px;}
.aI_blue{border: 1px solid #3998e4 !important;}
.aI_red{border: 1px solid #ff4545 !important;}
.upImg_cont{width: 340px;float: left;position: relative;}
.aIupimgBox{width: 162px;float: left;padding-right: 58px;}
.aIupimg{width: 160px;height: 104px;border: 1px solid #edf0f5;overflow: hidden;}
.aIupimg img{width: 100%;height: 104px;}
.aIupbtn_p{width: 120px;height: 34px;position: relative;float: left;}
.aIupfile{width: 120px;height: 34px;position: absolute;top: 0px;left: 0px;z-index: 999;opacity: 0; filter:alpha(opacity=0);font-size: 26px;overflow: hidden;}
.aIupbtn{display: block;width: 118px;height: 32px;background: #edf0f5;border: 1px solid #e4e5e6;border-radius: 4px;color: #646464;font: 14px/32px "Microsoft Yahei";text-align: center;}
.aIupbtn_p:hover .aIupbtn{color: #fff;border: 1px solid #fd7373;background: #fd7373;}
.aIupbtn_jin{color: #fff !important;border: 1px solid #d7d7d7 !important;background: #d7d7d7 !important;}
.aIupsite{width: 162px;min-height: 18px;color: #646464;font: 12px/18px "Microsoft Yahei";word-wrap: break-word;overflow: hidden;padding: 5px 0px;}
.uptips{width: 372px;color: #a9a9a9;font: 12px/16px "Microsoft Yahei";margin-left: 0px;padding: 5px 0px;}
.run_div{width: 200px;height: 38px;float: left;}
.run_div a{float: left;display: block;color: #646464;font: 14px/38px "Microsoft Yahei";padding-right: 10px;}
.run_div i{float: left;display: block;width: 16px;height: 16px;border: 1px solid #edf0f5;border-radius: 50px;background: #fff;margin-right: 8px;margin-top: 10px;cursor: pointer;}
.run_on{background:#fff url(../images/common/chooseIcon.png) no-repeat 2px -35px !important; border-color: #ff6161 !important;}
.runTip{float: left;width: 300px;height: 38px;color: #ff4545;font: 12px/38px "Microsoft Yahei";padding-left: 25px;background-position-x: 0px !important;}
.run_wrong{background: url(../images/common/wricon2.png) no-repeat 20px 12px;}
.run_right{background: url(../images/common/wricon2.png) no-repeat 20px -74px;}
.subBtn{width: 312px;height: 38px;background: url(../images/reg/regBtn.png) no-repeat 0px 0px;color: #fff;font: bold 16px "Microsoft Yahei";cursor: pointer;margin: 25px 0px 80px 0px;}
.subBtn:hover{background: url(../images/reg/regBtn.png) no-repeat 0px -125px;}
.subBtn_jin{background: url(../images/reg/regBtn.png) no-repeat 0px -262px !important;cursor: not-allowed !important;color: #ddd !important;}
.disn{display: none;}
.aIsuc_tit{width: 300px;height: 37px;color: #333;font: 16px/37px "Microsoft Yahei";text-align: center;margin-top: 30px;padding-right: 20px;}
.aIsuc_tit img{vertical-align: middle;margin-right: 10px;}
.aIsuc_cont{width: 300px;height: 24px;color: #666;font: 16px/24px "Microsoft Yahei";text-align: center;padding-left: 20px;margin-top: 10px;}
.aIsuc_cont a{color: #138fca;text-decoration: underline;padding: 0px 5px;}
.aIsuc_cont span{padding: 0px 5px;}
/************end 资质审核（共用）*************/

/*审核未通过页*/
.rev_reason{width: 1098px;border: 1px solid #e6e6e6;background: #eeebee;margin: 0px auto 10px auto;padding: 20px 0px 21px 0px;}
.revren_i{float: left;display: block;width: 264px;height: 137px;background: url(../images/reg/revren_i.png) no-repeat 0px 0px;margin-left: 224px;}
.revren_div{float: left;width: 360px;overflow: hidden;margin: 46px 0px 0px 25px;}
.revren_tip{height: 16px;color: #ff4b4a;font: 16px/16px "Microsoft Yahei";padding-left: 28px;position: relative;}
.revren_tip i{display: block;width: 18px;height: 16px;background: url(../images/reg/revIcon.png) no-repeat 0px 0px;position: absolute;top: 0px;left: 0px;}
.revren_cont{margin-top: 14px;}
.revren_cont span{float: left;display: block;color: #606c71;font: 14px/20px "Microsoft Yahei";}
.revren_cont p{float: left;width: 230px;color: #999;font: 14px/20px "Microsoft Yahei";}
.rev_tip{width: 340px;height: 20px;color: #3996e4;font: 14px/20px "Microsoft Yahei";margin-left: 0px;background: url(../images/reg/revIcon.png) no-repeat 0px -83px;padding-left: 22px;}
/*end 审核未通过页*/

/*资质上传-成功-审核中*/
.Info_backhome{width:490px;height:154px;margin: 148px auto;box-sizing: border-box;}
.bhicon1,.bhicon2,.bhicon3{float: left;display: block;width: 154px;height: 154px;}
.bhicon1{background:url(../images/reg/backhome.jpg) no-repeat 0px 0px;}/*成功*/
.bhicon2{background:url(../images/reg/adutiing.jpg) no-repeat 0px 0px;}/*审核中*/
.bhicon3{background:url(../images/reg/forbid.jpg) no-repeat 0px 0px;}/*禁用*/
.infobe_cont{float: left;width: 290px;margin: 22px 0px 0px 37px;}
.infobe_cont .time{color: #f49f48;font: bold 16px "Microsoft Yahei";margin: 0px 5px;}
.infobe_cont a{display: block;width: 160px;height: 36px;padding-bottom: 14px;background: url(../images/reg/aptibtn.png) no-repeat 0px 0px;color: #59abef;font: 16px/36px "Microsoft Yahei";text-align: center;margin: 21px 0px 0px 0px;}
.infobe_cont a:hover{background: url(../images/reg/aptibtn.png) no-repeat 0px -125px;color: #fff;}
.infoct_text1,.infoct_text3{color: #646464;font: 18px/22px "Microsoft Yahei";}
.infoct_text2{color: #666;font: 16px/20px "Microsoft Yahei";margin-top: 12px;}
.infoct_text3{margin-top: 30px;}
.infoct_text3 span{display: block;margin-top: 6px;}
/*end 资质上传-成功-审核中*/

/*社区主资质审核*/
.commaudit_tab .ml10{margin-left: 10px;}
.commaudit_tab .mt10{margin-top: 10px;}
.commaudit_tab .recomselect{float: left;width:165px;height:36px;border:1px solid #edf0f5;color:#434343;font: 14px/36px "Microsoft Yahei";padding-left: 8px;}
.commaudit_tab .recomcard_list{width: 448px;height: 150px;overflow-y: scroll;overflow-x: hidden;margin-left: 0px;border: 1px solid #3998e4;background: #fff;}
.commaudit_tab .recomcard_list a{display: block;height: 28px;overflow: hidden;color: #999;font: 14px/28px "Microsoft Yahei";padding-left: 12px;cursor: pointer;}
.commaudit_tab .recomcard_list a:hover{background:#79beff;color:#fff;}
.commaudit_tab .rcd_on{background:#79beff !important;color:#fff !important;}
/*end 社区主资质审核*/

/************************************注册选择页****************************************/
.reg_choose{width: 1200px;height: 310px;position: relative;}
.regchoo_tip{width: 341px;height: 67px;}
.rotip_bg{background: url(../images/reg/regchoo_tip.png) no-repeat 0px 0px;margin: 34px auto 28px 408px;}
.regce_left,.regce_right{width: 550px;height: 273px;padding: 32px 0px 0px 30px;border: 1px solid #f5f5f5;-webkit-box-shadow:0 2px 6px 1px rgba(210, 104, 67, 0.13);-moz-box-shadow:0 2px 6px 1px rgba(210, 104, 67, 0.13);box-shadow:0 2px 6px 1px rgba(210, 104, 67, 0.13);}
.regce_left{float: left;left: -360px;opacity:0;background:#fff url(../images/reg/regce_left_bg.png) no-repeat 222px 63px;}
.re_sh_tit,.re_gyl_tit{width: 200px;color: #7a7a7a;font: bold 18px "Microsoft Yahei";border-bottom: 1px solid #d6d4d2;padding-bottom: 10px;margin-left: 0px;margin-bottom: 14px;}
.regce_left p{color: #646464;font: 14px/18px "Microsoft Yahei";padding-left: 26px;margin-top: 8px;}
.regce_01{background: url(../images/reg/regce.png) no-repeat 0px 1px;}
.regce_02{background: url(../images/reg/regce.png) no-repeat 0px -45px;}
.regce_03{background: url(../images/reg/regce.png) no-repeat 0px -90px;}
.re_sh_btn,.re_gyl_btn{display: block;width: 582px;height: 40px;color: #fff;font: 20px/40px "Microsoft Yahei";text-align: center;}
.re_sh_btn{background: #ff6a6a;position: absolute;bottom: -1px;left: -1px;}
.re_sh_btn:hover{background: #ff4949;}
.regce_right{float: right;right: -360px;opacity:0;background:#fff url(../images/reg/regce_right_bg.png) no-repeat 292px 39px;}
.regce_right p{color: #646464;font: 14px/18px "Microsoft Yahei";padding-left: 26px;margin-top: 8px;}
.regce_04{background: url(../images/reg/regce.png) no-repeat 0px -134px;}
.regce_05{background: url(../images/reg/regce.png) no-repeat 0px -180px;}
.regce_06{background: url(../images/reg/regce.png) no-repeat 0px -226px;}
.re_gyl_btn{background: #6a9bff;position: absolute;bottom: -1px;right: -1px;}
.re_gyl_btn:hover{background: #598ffc;}
.reabg1{background: #ff4949 !important;}
.reabg2{background: #598ffc !important;}
.reabg_jin{background: #ddd !important;cursor: not-allowed !important;}
/************************************end  注册选择页****************************************/
