@charset "utf-8";
@import url('common.css');

.dis{ display: none;}
.hs_mallTop_wrap{width:100%;height:34px; background:url(../images/common/mall_top_bg.png) repeat-x;}
.hs_mallTop{width: 1200px;height:34px;margin: 0 auto;}
.hs_mallTop_left{width: 500px;height:34px;float: left;}
.hs_mallTop_left a{color: #646464;font: 12px/34px "Microsoft Yahei";background: url(../images/common/shareIcon2.png) no-repeat 10px 1px;padding-left: 30px;}
.hs_mallTop_left a:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 10px 1px;padding-left: 30px;}
.hs_mallTop_right{width: 700px;height: 34px;float: right;}
.hs_mallTop_right li{float: right;height: 34px;line-height: 34px;}
.welcome{color: #646464;font: 12px/34px "Microsoft Yahei";margin-right: 20px;}
.mycenter{width: 88px;height: 34px;border-left: 1px solid #f6f6f6;border-right: 1px solid #f6f6f6;position: relative;z-index: 99;}
.mycenter:hover{border-left:1px solid #ccc;border-right:1px solid #ccc;background:#fff;}
.mycenter a{display: block;padding-left:10px;color:#646464;font: 12px/34px "Microsoft Yahei";}
.mycenter a:hover{color:#f35050;}
.mycenter .xlist_icon{display: block;width: 8px;height: 6px;background: url(../images/common/shareIcon.png) no-repeat 0px -700px;position: absolute;top: 14px;right: 10px;}
.mycenter .cc_list{width: 88px;position: absolute;top: 34px;left: -1px;z-index: 2;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #fff;display: none;}
.helpBtn{width: 88px;height: 34px;}
.helpBtn a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";background: url(../images/common/shareIcon.png) no-repeat 13px -290px;padding-left: 28px;}
.helpBtn a:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 13px -390px;}
.phone{width: 108px;border-left: 1px solid #f6f6f6;border-right: 1px solid #f6f6f6;position: relative;z-index: 99;}
.phone:hover{border-left:1px solid #ccc;border-right:1px solid #ccc;background:#fff;}
.phoneStore{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";padding-left: 15px;margin-left: 22px;background: url(../images/common/shareIcon.png) no-repeat 0px -491px;}
.phoneStore:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 0px -591px;}
.phoneS{width: 108px;height: 108px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #fff;position: absolute;top: 34px;left: -1px;z-index: 2;}
.phoneS img{width: 100px;height: 100px;display: block;margin: 0 auto;padding: 4px 0px;}
.mycenter:hover i{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
}
.hs_quit a,.hs_enter a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";margin-right: 14px;}
.hs_quit a:hover,.hs_enter a:hover{ color: #f35050;}
/*导航*/
.gd_logo{ width: 1200px; height: 89px;}
.gd_logo img{ width: 300px; height: 80px; margin-top: 4px;}
.gd_nav_wrap{ width: 100%; height: 40px; border-bottom: 2px solid #11ba65;}
.gd_nav{ width: 1200px; height: 40px; margin: 0 auto;}
.nav_category{ float: left; width: 200px; height: 40px; line-height: 40px; text-align: center; background: #11ba65; color: #fff; font-size: 16px;}
.nav_nav{ float: left;}
.nav_nav ul li{*margin-left: -500px; float: left; height: 40px; padding: 0 30px;}
.nav_nav a{ color: #323232; font-size: 16px; line-height: 40px;}
.nav_nav a:hover{ color: #11ba65;}
.nav_ad{ float: right;*margin-top: -40px; height:40px;}
.nav_ad img{ width: 220px; height: 40px;}
/*end 导航*/
/*零售-商品列表-分页*/
.hslist_page_div{width: 100%;}
.hslist_page{float: right;height: 40px;margin: 20px 0px;}
.hslist_page a{display: block;float: left;width: 38px;height: 38px;color: #888;font: 14px/38px "Microsoft Yahei";text-align: center;border: 1px solid #dfdfdf;border-radius: 2px;margin-left: 4px;background: #fff;-webkit-box-shadow:0px 0px 2px #ddd;-moz-box-shadow:0px 0px 2px #ddd;box-shadow:0px 0px 2px #ddd;}
.hslist_page a:hover{color: #ff6161;}
.htpage_prev,.htpage_next{width: 70px !important;}
.htpage_prev:hover,.htpage_next:hover{border: 1px solid #ff6161;}
.htpage_prev_jin,.htpage_next_jin{background: #f8f8f8 !important;cursor: not-allowed !important;border: 1px solid #dfdfdf !important;color: #888 !important;}
.htpage_b{display: block;float: left;width: 20px;height: 40px;color: #888;font: normal 14px/33px "Microsoft Yahei";text-align: center;margin-left: 4px;}
.htpage_span{display: block;float: left;width: 30px;height: 40px;color: #747474;font: 14px/40px "Microsoft Yahei";text-align: center;}
.htpage_p{float: left;color: #747474;font: 14px/40px "Microsoft Yahei";margin-left: 10px;}
.htpage_p em{font-style: normal;margin: 0px 2px;}
.htpage_text{float: left;width: 30px;height: 18px;padding: 10px 4px;border: 1px solid #dfdfdf;border-radius: 2px;color: #888;font: 14px/18px "Microsoft Yahei";text-align: center;-webkit-box-shadow:0px 0px 2px #ddd;-moz-box-shadow:0px 0px 2px #ddd;box-shadow:0px 0px 2px #ddd;}
.htpage_btn{float: left;width: 70px;height: 38px;border: 1px solid #dfdfdf;border-radius: 2px;cursor: pointer;-webkit-box-shadow:0px 0px 2px #ddd;-moz-box-shadow:0px 0px 2px #ddd;box-shadow:0px 0px 2px #ddd;}
.htpage_btn input{width: 70px;height: 38px;color: #888;font: 14px "Microsoft Yahei";background: #fff;border: none;cursor: pointer;}
.htpage_btn:hover{border: 1px solid #ff6161;}
.htpage_btn:hover input{color: #ff6161;}
.htpage_on{background: #ff6161 !important;border: 1px solid #ff6161 !important;color: #fffefe !important;}
/*end 零售-商品列表-分页*/
/*零售-商品列表页-最近浏览*/
.retail_browse{width: 1200px;margin-bottom: 40px;}
.rb_tit{width: 1198px;height: 34px;background: #f8f8f8;border: 1px solid #ebebeb;margin-top: 40px;}
.rb_tit p{float: left;color: #575757;font: 14px/34px "Microsoft Yahei";padding-left: 9px;}
.changeRb{float: right;display: block;color: #646464;font: 12px/34px "Microsoft Yahei";background: url(../images/common/shareIcon.png) no-repeat 40px -788px;padding-right: 23px;}
.changeRb:hover{background: url(../images/common/shareIcon.png) no-repeat 40px -888px;color: #e4393c;}
.rb_cont{width: 1198px;height: 218px;background: #fff;border: 1px solid #efefef;position: relative;overflow: hidden;}
.rb_cont ul{height: 218px;position: absolute;top: 0px;left: 0px;}
.rb_cont ul li{float: left;width: 140px;height: 208px;padding: 10px 15.5px 0px 15.5px;}
.rb_img{display: block;width: 140px;height: 140px;}
.rb_img img{width: 140px;height: 140px;}
.rb_price{color: #e4393c;font: 14px/22px "Microsoft Yahei";}
.rb_text{display: block;width: 140px;height: 36px;overflow: hidden;color: #646464;font: 12px/18px "Microsoft Yahei";word-break: break-all;}
.rb_text:hover{color: #ff4545;}
.rb_leftBtn{width:20px;height:60px;background: url(../images/common/arrIcon.png) no-repeat 0px 0px;position:absolute;left:0px;top:73px;z-index:9999;cursor:pointer;}
.rb_leftBtn:hover{background: url(../images/common/arrIcon.png) no-repeat 0px -180px;}
.rb_rightBtn{width:20px;height:60px;background: url(../images/common/arrIcon.png) no-repeat 0px -90px;position:absolute;right: 0px;top:73px;z-index:9999;cursor:pointer;}
.rb_rightBtn:hover{background: url(../images/common/arrIcon.png) no-repeat 0px -270px;}
.rb_nobrowse{color:#646464;font:14px/98px Microsoft Yahei;text-align:center;background:url(../images/hs_list/ygirl.png) no-repeat 520px 0px;margin-top: 60px;padding-left: 120px;}
/*end 零售-商品列表页-最近浏览*/

/*顶部网站导航*/
.site_nav{width: 100%;height: 34px;background: url(../images/common/mall_top_bg.png) repeat-x;;}
.sn_cont{width: 1200px;height: 34px;position: relative;z-index: 9999;}
.sn_entrance{float: left;width: 600px;height: 34px;}
.sn_entrance ul li{float: left;}
.place{height: 34px;position: relative;}
.place_a{display: block;float: left;padding: 0px 8px 0px 26px;color: #646464;font: 12px/32px "Microsoft Yahei";background: url(../images/common/shareIcon2.png) no-repeat 8px -1117px; border: 1px solid #f6f6f6;}
.placehover{color: #757575;background:#fff url(../images/common/shareIcon2.png) no-repeat 8px -191px;border:1px solid #e5e5e5;}
.placehover span{color: #d32c2c;}
.place_hint{display: block;float: left;color: #646464;font: 12px/34px "Microsoft Yahei";padding-left: 10px;}
.placeBox{width: 368px;height: 177px;border: 1px solid #e5e5e5;border-top: 0px;background: #fff;position: absolute;top: 32px;left: 0px;z-index: 2;}
.placeBox table{width: 350px;margin: 24px 19px 0px 19px;}
.pbtit{color: #646464;font: 12px "Microsoft Yahei";text-align: right;padding-right: 6px;}
.pbselect{width:82px;height:32px;padding-left:6px;color: #646464;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6;}/*地区三级联动*/
.pbselect_lg{width:259px;height:32px;padding-left:6px;color: #656565;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6;}/*地区三级联动*/
.pbbtn{display: block;width: 78px;height: 28px;border: 1px solid #eee;border-radius: 4px;background: #f9f9f9;color: #757575;font: 12px/28px "Microsoft Yahei";text-align: center;margin: 16px 0px 0px 58px;}
.pbbtn:hover{border: 1px solid #ff6161;background: #fff;color: #ff6161;}
.ml2{margin-left: 2px;}
.pt22 td{padding-top: 22px;}
.entrance_H{background: url(../images/common/shareIcon2.png) no-repeat 0px 10px;margin-left: 35px;padding-left: 20px;}
.entrance_H:hover{background: url(../images/common/shareIcon.png) no-repeat 0px 10px;}
.entrance_H a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";}
.entrance_H a:hover{color: #d32c2c;}
.sn_menu{float: right;}
.sn_menu ul li{float: left;}
.sn_line{color: #dcdcdc;font: 12px/34px "Microsoft Yahei";}
.pr20{padding-right: 20px;}
.sn_loginInfo{height: 34px;}
.sn_loginInfo p{float: left;color: #646464;font: 12px/34px "Microsoft Yahei";margin-right: 20px;}
.sn_loginInfo a{float: left;}
.sn_loginInfo a,.sn_help a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";}
.sn_quick,.sn_app{border-top:1px solid #f6f6f6;border-right:1px solid #f6f6f6;border-left:1px solid #f6f6f6;}
.sn_quick:hover,.sn_app:hover{border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;background: #fff;}
.quiCont,.appCont{border:1px solid #e5e5e5;background: #fff;position: absolute;top: 34px;left: -1px;z-index: 2;}
.sn_quick:hover .quiCont,.sn_app:hover .appCont{border-top:1px solid #fff;}
.quiBtn,.sn_app a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";}
.sn_loginInfo a:hover,.sn_quick:hover .quiBtn,.quiCont a:hover,.sn_help a:hover,.sn_app a:hover{color: #d32c2c;}
.sn_quick{position: relative;width: 88px;height: 33px;}
.sn_quick:hover{background: #fff;}
.quiBtn{padding-left: 14px;}
.quiBtn i{display: block;width: 10px;height: 5px;background:url(../images/common/shareIcon.png) no-repeat 0px -701px;position: absolute;top: 14px;right: 7px;}
.quiCont{width: 88px;}
.quiCont a{display:block;color: #646464;font: 12px/34px "Microsoft Yahei";padding-left: 14px;}
.sn_quick:hover .quiBtn i{transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);transition: transform .2s linear;-webkit-transition: -webkit-transform .2s linear;-moz-transition: -moz-transform .2s linear;-o-transition: -o-transform .2s linear;}
.sn_help a{padding: 0px 10px 0px 28px;}
.sn_help{position: relative;width: 88px;height: 33px;background:url(../images/common/shareIcon2.png) no-repeat 14px -291px;}
.sn_help:hover{background:url(../images/common/shareIcon2.png) no-repeat 14px -391px;}
.sn_app{position: relative;width: 108px;height: 33px;background:url(../images/common/shareIcon2.png) no-repeat 20px -491px;}
.sn_app a{padding-left: 35px;}
.sn_app:hover{background:#fff url(../images/common/shareIcon2.png) no-repeat 20px -591px;}
.appCont{width: 108px;}
.appCont img{display:block;width: 100px;height: 100px;margin: 0 auto;padding: 4px 0px;}
.apptit{color: #646464;font: 12px/16px "Microsoft Yahei";text-align: center;}
.hs_blue{border: 1px solid #3998e4 !important;}
.hs_red{border: 1px solid #ff4545 !important;}
/*end 顶部网站导航*/

/*头部*/
.hs_header{width: 1200px;height: 100px;}
.hs_logo{float: left;display: block;width: 300px;height: 88px;margin-top: 7px;background: url(../images/gd_img/logo_gd.png) no-repeat 0px 0px;}
.hs_logo img{width: 300px;height: 80px;margin-top: 9px;}
.hs_search{width:645px;float: left;margin: 27px 0px 0px 128px;position: relative;z-index: 2;}
.search_text{border-left: 0px !important;float: left;width: 410px;height: 38px;border:2px solid #11ba65;color: #343434;font: 14px/36px "Microsoft Yahei";}
.search_btn{float: left;width: 80px;height: 42px;background: #11ba65;color: #fff;font: 16px "Microsoft Yahei";cursor: pointer;}
.hot_search{width: 645px;height: 24px;}
.hot_search a{color: #757575;font: 12px/24px "Microsoft Yahei";margin-right: 4px;}
.hot_search a:hover{color: #d5291f;}
.hot_on{color: #d5291f !important;}
.search_list{width: 477px;border: 1px solid #ddd;background: #fff;position: absolute;left: 0px;}
.search_list li a{display: block;color: #333;font: 14px/32px "Microsoft Yahei";padding: 0px 10px;}
.xlist_on{background: #f5f5f5;}
.hs_headCart{float:right;width: 140px;height: 38px;margin-top: 27px;background: #fff url(../images/common/grpIcon1.png) no-repeat 123px -345px;}
.hs_headCart:hover{background: #fa5f5d url(../images/common/grpIcon1.png) no-repeat 123px -305px;}
.hs_headCart a{display: block;width: 98px;height: 36px;padding-left: 40px;border: 1px solid #e7e7e7;color: #646464;font: 14px/36px "Microsoft Yahei";background: url(../images/common/grpIcon1.png) no-repeat 17px -390px;}
.hs_headCart a:hover{color: #fff;background: url(../images/common/grpIcon1.png) no-repeat 17px -430px;border: 1px solid #fa5f5d;}
/*end 头部*/
/****************零售搜索框****************/
.search_sel ul{position:absolute;width:57px;border:1px solid #ededed;background:#fff;border-top:0;position:absolute;
top:36px;left:0px;padding-left:10px;z-index:99;}
.search_sel ul li{font:12px/28px Microsoft Yahei;color:#656565;}
.search_sel ul li:hover{color:#f35050;}
.search_text{position: relative;}
.search_text input{width: 400px;height: 20px;font: 14px Microsoft Yahei;color: #9a9a9a;padding:8px 0 8px 8px;*padding:7px 0 7px 8px;border-left: 0;display: block;}
.search_tip{color: #9a9a9a;font: 14px "Microsoft Yahei";position: absolute;top: 8px;left: 9px;}
.search_sel{ border-right: 0 !important; position: relative;width:38px;border: 2px solid #11ba65;height:38px;float:left;cursor:pointer;background:url(../images/gd_img/gd_icon.png) no-repeat center;;}
/**************** end 零售搜索框****************/