@charset "utf-8";
/* CSS Document */
@import url('common.css');

/**************************广大医药--登录**************************************/
input { filter:chroma(color=#000000); }
.gdTop_wrap{ width:980px; height: 32px; margin: 0 auto;}
.gdTop_wrap p a{ color: #646464; font-size: 14px; line-height: 32px; margin-left: 42px;background: url(../images/common/shareIcon2.png) no-repeat 10px 4px;padding-left: 30px;}
.gdTop_wrap p a:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 10px 4px;padding-left: 30px;}
.gdLogin{ width:100%; height:98px; position:relative;}
.gdLogin_header{ width: 940px; height: 89px; margin: 0 auto; padding-left: 40px; padding-top:9px;}
.gdLogin_hint{ width:100%; height:32px; background:#ffffe6;}
.gdLogin_hint p{ width:980px; height:32px; margin:0 auto; font:14px/32px "Microsoft Yahei"; text-align:center; color:#8b8b8b;}
.gdLogin_content{ width: 980px; height: 504px; margin: 20px auto 0 auto; background: url(../images/gd_img/gdLogin_img.png) no-repeat 20px 20px;}
.gdLogin_right{ float: right;}
.gdLogin_box{ width: 337px; min-height: 300px; border: 1px solid #e4e4e4; margin-right: 67px; padding-top: 20px; padding-left: 31px;}
.gdLogin_tit{ color: #5e5e5e; font-size: 18px; font-weight:bold;}
.gdLoginInput input{
	float: left;
	width: 255px;
	height: 20px;
	padding: 9px 0 9px 43px;
	border: 1px solid #bdbdbd;
	margin-bottom: 20px;
	color: #999;
	font: 12px/20px Microsoft Yahei;
}
.gdLoginInput span{ float: left; display: block; width: 20px; height: 40px;}
.gduser{ background: url(../images/gd_img/gdLogin_icon.png) no-repeat 0px 0px;}
.gdpwd{ background: url(../images/gd_img/gdLogin_icon.png) no-repeat -361px 0px;}
.gd_code{ width: 306px; height: 40px; margin-bottom: 20px; margin-left: 0px;}
.gd_code input{ float: left; width: 128px; height: 28px; padding:5px 0 5px 10px; color: #999; font: 12px/28px Microsoft Yahei; border: 1px solid #dedede;}
.gd_code img{width: 100px;height: 40px;float: left;cursor: pointer; margin-left: 10px;}
.gd_code a{float: left;margin: 12px 0 0 8px;color: #3c7ddb; font-size:12px; cursor: pointer;}
.gd_code a:hover{ color: #ff4f4f;}
.gd_usermsg{ width: 306px; height: 20px; margin-bottom: 24px; margin-left: 0px;}
.gd_rempsd{ float: left; color: #646464; font-size: 14px;}
.gd_rempsd input{ margin: -2px 6px 0 0; vertical-align: middle;}
.gd_rem_on{ background: url(../images/gd_img/hs_loginIcon.png) no-repeat -2px -263px;}
.gd_forpsd{ float: right; color: #646464; font-size: 14px; text-decoration: underline; margin-left: 8px;}
.gd_forpsd:hover{ color: #ff4f4f;}
.gd_userBtn{ width: 306px; height: 36px; background: url(../images/gd_img/gdLogin_btn.png) no-repeat; color: #fff; font: 18px/36px Microsoft Yahei; margin-bottom: 40px; cursor: pointer;}
.gdHint{ width: 272px; height: 20px; line-height: 20px; padding-left: 34px; margin-top: 5px; margin-bottom: 5px; margin-left: 0px;}
.note_wrong{color: #e3111e;font-size: 12px;background:#ffeeee url(../images/common/wricon3.png) no-repeat 12px -284px; }
.note_right{background: url(../images/common/wricon3.png) no-repeat 5px -73px;}
.b_blue{ border:1px solid #3998e4 !important;}
.b_red{border:1px solid #ff4545 !important;}
.u_blue{ background: url(../images/gd_img/gdLogin_icon.png) no-repeat 0px -133px !important;}
.u_red{ background: url(../images/gd_img/gdLogin_icon.png) no-repeat 0px -274px !important;}
.p_blue{ background: url(../images/gd_img/gdLogin_icon.png) no-repeat -361px -132px !important;}
.p_red{ background: url(../images/gd_img/gdLogin_icon.png) no-repeat -361px -274px !important;}

.gd_login_bottom{ width: 980px; height: 1px; background: url(../images/gd_img/gd_bottom_bg.png) no-repeat; margin-top: 150px;}
.footer_nav{ border-top: none !important;}

.gdLoginInput{*padding-bottom: 20px;}
/**************************end 广大医药--登录**************************************/
