/*******用药人信息*******/
.gd_pharmacy{width:284px; height:170px; float:left;margin:17px 0 0 20px; border:1px solid #eaeaea; position:relative; padding:10px 0 0 0 !important; border-radius:4px;}
.gd_pharmacy:hover{ border:1px solid #fff;  -webkit-box-shadow: 2px 2px 10px rgba(221,17,11,0.2);  -moz-box-shadow: 2px 2px 10px rgba(221,17,11,0.2);  box-shadow: 2px 2px 10px rgba(221,17,11,0.2);
}
.gd_pharmacy ul li{ height:32px; float:left;  font:14px/32px "Microsoft Yahei";}
.pharmacy_li1{ width:124px;  color:#252525; text-align:center;}
.pharmacy_li2{ width:159px; color:#333; text-align:left;}
.pharmacy_li2 input{ width:159px; color:#333;}
.pharmacy_button,.pharmacy_button2{ width:70px !important; height:22px !important; position:absolute; right:-17px; top:5px;}
.pharmacy_button p,.pharmacy_button2 p{ font:12px/22px "Microsoft Yahei"; float:left; margin:0 4px; color:#fff; cursor:pointer;}
.p_button1{ width:20px; height:20px; background:url(../images/gd_img/gd_close.png) no-repeat 0px 0px;}
.p_button2{ width:20px; height:20px; background:url(../images/gd_img/gd_close.png) no-repeat 0px -58px;}
.p_button3{ width:20px; height:20px; background:url(../images/gd_img/gd_close.png) no-repeat 0px -116px;}
.p_button1:hover{ width:20px; height:20px; background:url(../images/gd_img/gd_close_on.png) no-repeat 0px 0px;}
.p_button2:hover{ width:20px; height:20px; background:url(../images/gd_img/gd_close_on.png) no-repeat 0px -58px;}
.p_button3:hover{ width:20px; height:20px; background:url(../images/gd_img/gd_close_on.png) no-repeat 0px -116px;}
.pharmacy_button i,.pharmacy_button2 i{ font:12px/22px "Microsoft Yahei"; float:left; margin-top:0 4px; color:#fff;}
.new_built2{ background:url(../images/gd_img/new_built.png) no-repeat; background-position:106px 42px;}
.new_built2:hover{ background:url(../images/gd_img/new_built_on.png) no-repeat; background-position:106px 42px;}
.pharmacy_text{ font:14px/14px "Microsoft Yahei"; margin:107px 0 0 100px; color:#333; cursor:pointer;}
.new_built:hover{ background:url(../images/gd_img/new_built_on.png) no-repeat; background-position:110px 29px; cursor:pointer;}
.my_order_list{ padding-bottom:17px;}
/*弹窗样式*/
.layui-layer{ border:10px solid rgba(0,0,0,0.1); border-radius:5px;}
.alert_tb_1{ height:38px;}
.alert_tb_1 h3{ font:14px/38px "Microsoft Yahei"; color:#333; text-align:left; margin-left:20px;border-bottom: 1px solid #ddd;margin: 0 30px;text-align: left;padding:20px 0 0 0;}
.alert_tb td{ font:12px/28px "Microsoft Yahei";color:#646464;padding:9px 9px 9px 0;overflow:hidden;}
.input_sm{float:left; width:170px;border:1px solid #ddd;height:26px;padding-left:10px;color:#333;font: 12px/28px "Microsoft Yahei";}
.star_red{ color:#e64d4f;}
.alert_tb td label{ margin:0 35px 0 19px;}
.star_red{ margin-right:9px;}

.pd12_tr th{padding-bottom:13px;}

.cart_settlement_bottom{width:964px; height: 74px; margin-left: -12px; background:url(../images/hs_pc_all/cart_settlement_bg.png) no-repeat; }
.cart_settlement_bottom_fl{ margin-top: 32px;margin-left: 35px;}
.cart_settlement_bottom_fl input{ vertical-align: middle;margin-right:10px;}
.cart_settlement_bottom_fl label{ color: #333; font-size: 14px;}
.cart_settlement_bottom_fl a{ color: #0066cc; font-size: 14px; border-left: 1px solid #e8e8e8; padding: 12px 14px;margin-left:14px;}
.cart_settlement_bottom_fr{margin-top: 32px; margin-right: 50px;}
.cart_settlement_bottom_fr p{ color: #646464; font-size: 14px;}
.cart_settlement_bottom_fr span{  font-size:14px; font-weight: bold; margin-left: 10px;}
.cart_settlement_bottom_fr em{ color: #e4393c;font-size: 14px; font-weight: bold; font-style: normal; background:url(../images/hs_pc_all/money_bg.png) repeat-x; padding: 20px 10px;}
.cart_settlement_bottom_fr button{ border: none; background: #ff5555; color: #fff; font-size: 18px; font-weight: bold; padding: 9px 26px;*padding:6px 8px;margin-left: 10px;border-radius: 3px; margin-top: -12px; cursor: pointer;}

.note_p { float: left;display: block; height: 28px; color: #ff4545;font: 12px/28px "Microsoft Yahei";padding-left: 25px;}
.note_right {background: url(../images/common/wricon2.png) no-repeat 6px -80px;}
.note_wrong {background: url(../images/common/wricon2.png) no-repeat 6px 6px;}
.b_red {border: 1px solid #ff4545 !important;}
.b_blue { border: 1px solid #3998e4 !important;}
.mr7 {color: #434343;width: 170px; height: 26px;border: 1px solid #e5e5e5;font: 14px/28px "Microsoft Yahei"; border: 1px solid #dedede;box-shadow: inset 0 1px 0 #f3f3f3;vertical-align: middle;background: #fff url(../images/sellerCenter/pur_icon.png) no-repeat 145px 7px;cursor: pointer;padding-left: 10px;}
.add_t{ text-align:center;}
.add_qd{ width:78px; height:28px; background:#fd7676; border:1px solid #ff4b4b; border-radius:2px; float:left; color:#fff; cursor:pointer;}
.add_qx{ width:78px; height:28px; background:#f0f0f1; border:1px solid #ddd; border-radius:2px; float:left; color:#333; margin-left:12px; cursor:pointer;}
