.cart_settlement_bottom{width:964px; height: 74px; margin-left: -12px; background:url(../images/hs_pc_all/cart_settlement_bg.png) no-repeat; }
.cart_settlement_bottom_fl{ margin-top: 32px;margin-left: 35px;}
.cart_settlement_bottom_fl input{ vertical-align: middle;margin-right:10px;}
.cart_settlement_bottom_fl label{ color: #333; font-size: 14px;}
.cart_settlement_bottom_fl a{ color: #0066cc; font-size: 14px; border-left: 1px solid #e8e8e8; padding: 12px 14px;margin-left:14px;}
.cart_settlement_bottom_fr{margin-top: 32px; margin-right: 50px;}
.cart_settlement_bottom_fr p{ color: #646464; font-size: 14px;}
.cart_settlement_bottom_fr span{  font-size:14px; font-weight: bold; margin-left: 10px;}
.cart_settlement_bottom_fr em{ color: #e4393c;font-size: 14px; font-weight: bold; font-style: normal; background:url(../images/hs_pc_all/money_bg.png) repeat-x; padding: 20px 10px;}
.cart_settlement_bottom_fr button{ border: none; background: #ff5555; color: #fff; font-size: 18px; font-weight: bold; padding: 9px 26px;*padding:6px 8px;margin-left: 10px;border-radius: 3px; margin-top: -12px; cursor: pointer;}
