@charset "utf-8";
/* CSS Document */
@import url('common.css');
@import url('hs_common.css');
@import url('hs_pc_all.css');

/**************************个人中心-申请退货--部分**************************************/
/*右边部分*/
.returns_title a{padding-top: 10px;margin-right:20px;color: #676767; font-size: 14px;float:right;font-weight:normal;}
.returns_title{ width: 938px; height: 38px; background: #f6f6f6; border: 1px solid #e7e7e7; margin-top: 25px;}
.returns_title p{ color: #333; font-size: 14px; width: 80px; height: 35px; line-height: 35px; text-align: center; border-bottom: 3px solid #ff4b4b; margin-left: 18px;}
.returns_content{ width: 938px; border: 1px solid #e7e7e7;}
.retTag{ margin-top: 17px; margin-bottom: 14px; color: #fff; font-size: 14px; width: 92px; height: 26px; line-height: 26px; background: url(../images/hs_pc_all/retTag.png) no-repeat 0px 0px; font-weight: normal; padding-left: 19px; margin-left: -5px;}
.retTag span{ color: #ff0700; font-size: 14px; font-weight: bold; margin-left: 5px;}
.pl8{ padding-left: 8px;}
.ml14{ margin-left: 14px;}
.ml16{ margin-left: 16px;}
.ml18{ margin-left: 18px;}
.b_xy{color:#ff7a76}
.retInfo{ width: 892px; margin-left: 24px;}
.retInfo h3{ font-weight: normal; color: #666; font-size: 12px; margin-bottom: 12px;}
.retInfo h3 span{ color: #999 !important;}
.retInfo h3 i{}
.retInfo h3 em{ font-style: normal; color: #333 !important; margin-left: 42px;}
.retInfo h3 em b{ color: #e4393c !important; font-size: 14px !important;}
.retInfo_table{ width: 890px; border: 1px solid #efefef;}
.retInfo_table th{height:34px; line-height:34px;font-weight: normal;color:#646464; font-size:12px;background:#f9f9f9;}
.retCheckall{ vertical-align: middle;}
.fs14{ color: #646464 !important; font-size: 14px !important;}
.borderLR{border-left: 1px solid #efefef; border-right: 1px solid #efefef;}
.borderR{border-right: 1px solid #efefef;}
.returns_pnum{text-align: center;}
.retInfo_table tr td{ color: #666; font-size: 12px; height:66px;overflow:hidden;}
.retInfo_table tr td b{ display: block; text-align: center;}
.retInfo_table tr td span{ color: #646464 !important; font-size: 14px !important; text-align: center; display: block;}
.retDetails{padding: 14px 0px 0px 20px;}
.rels_img{float: left;display: block;width: 60px;height: 60px;border: 1px solid #f9f9f9;margin-right: 10px;}
.rels_img img{width: 60px;height: 60px;}
.rels_text{float: left;display: block;width: 200px;height: 32px;color: #666;font: 12px/16px "Microsoft Yahei";margin-top: 5px;}
.rels_norms{float: left;width: 200px;height: 20px;overflow: hidden;color: #acacac;font: 12px/20px "Microsoft Yahei";}
.rels_num{float: left;margin: 16px 0px 0px 40px;}


.operation_minus{line-height: 22px;margin-left: 19px !important;text-align: center;}
.operation_add{line-height: 22px;text-align: center;}
.retCause,.retGoods{ margin-left: 24px;}
.retCause ul li,.retGoods ul li{ color: #555; font-size: 14px; float: left; width: 218px; height: 38px; line-height: 38px; border: 1px solid #e5e5e5; text-align: center; margin-right: 30px; margin-bottom: 16px;}
.retCause ul li:hover,.retGoods ul li:hover{ color: #ff5757;cursor:pointer;}
.cause_on{ border: 1px solid #ff5757 !important; background: url(../images/hs_pc_all/cause_on.png) no-repeat 201px 27px;}
.cause_on a{ color: #ff5757 !important;}
.cause_bz{*position: relative;*top: 15px;*padding:10px 0 20px 0; color: #555; font-size: 14px;}
.cause_bz input{*position: absolute;*top: 0px; width: 658px;height: 20px;padding:8px 0 8px 5px;color: #434343;font: 12px/20px "Microsoft Yahei"; border: 1px solid #e5e5e5; box-shadow: inset 0 2px 0 #f1f1f1;-moz-box-shadow: inset 0 2px 0 #f1f1f1; -webkit-box-shadow: inset 0 2px 0 #f1f1f1;}
.cause_sc{ color: #555; font-size: 12px; position: relative; margin-top: 15px; margin-bottom: 5px;}    
.cause_sc a{ color: #3996e4; font-size: 14px; text-decoration: underline;}
.cause_sc input{ opacity: 0; filter: alpha(opacity=0); position: absolute; top: 0px; left: 0px;}
.retTime{ margin-left: 24px; margin-top: 3px; margin-bottom: 14px;}
.retTime li{ float: left; color: #555; font-size: 14px;}
.timeText{width:185px !important; margin-right:10px !important; padding-left: 15px !important;}
.Rtopay_msg_box{width:500px;height:120px;border:1px solid #ddd;background:url(../images/topay/interval.png) repeat-x -20px;position:relative; margin-left: 24px;}
.Rmsg_box_p1{font:14px/36px 'Microsoft Yahei';color:#646464;padding:0 0 7px 30px;margin:12px 15px 0 15px;border-bottom:1px dashed #ddd;
background:url(../images/topay/line.png) no-repeat -11px 9px;}
.Rmsg_box_p1 span{background:url(../images/topay/line.png) no-repeat -11px -41px;margin:5px 0 5px 150px;padding-left:30px;}
.Rmsg_box_p2{font:14px/36px 'Microsoft Yahei';color:#646464;padding:0 0 7px 30px;margin:12px 15px 0 15px;
background:url(../images/topay/line.png) no-repeat -11px -76px;}
.Rmsg_box_pos{background:url(../images/topay/line.png) no-repeat 0px -160px;position:absolute;bottom:0px;right:0;
width:37px;height:35px;}
.salesInfo{ margin-left: 24px;}
.salesInfo p{ color: #555; font-size: 14px;}
.retBtn{ width: 938px; text-align: center;}
.retBtn input{ width: 182px; height: 38px; background: url(../images/hs_pc_all/retBtn.png) no-repeat 0px 0px; color: #fff; font-size: 16px; font-family: "微软雅黑"; font-weight: bold; margin-bottom: 53px; cursor: pointer; margin-top: 50px;}
.retBtn input:hover{background: url(../images/hs_pc_all/retBtn.png) no-repeat 0px -362px;}
/*end 右边部分*/
.uploaded_pic{width:220px;height:200px;margin:0;border:1px solid #ddd;position:relative;}
.uploaded_pic img{width:220px;height:200px;display:block;}
.deletePic{display:block;width:10px;height: 10px;background: url(../images/sellerCenter/deletePic.png) no-repeat;position: absolute;top:8px;right:8px;cursor: pointer;}
/**************************end 个人中心-申请退货--部分**************************************/
