@charset "utf-8";
@import url('r_hs_list.css');

.hs_footer_wrap{margin-top: 0px;}

/*************************零售-社区主招募***********************/
.recomm_banner{width: 100%;height: 360px;background: url(../images/recruit/recomm_banner.jpg) no-repeat center top;}
.recomm_adv{width: 1200px;padding: 50px 0px 45px 0px;}
.recomm_adv h3{color: #333;font: 28px/28px "Microsoft Yahei";text-align: center;}
.recomm_adv h4{color: #666;font: 18px/18px "Microsoft Yahei";text-align: center;margin-top: 18px;}
.readv_ul1{width: 828px;margin: 0px auto;margin-top: 48px;}
.readv_ul1 li{width: 276px;float: left;}
.readv_ul1 li i{display: block;width: 104px;height: 104px;margin-bottom: 12px;}
.readv_ul1 li h6{color: #4eb1f4;font: 18px/18px "Microsoft Yahei";text-align: center;}
.readv_ul1 li p{color: #8e8d8d;font: 14px/20px "Microsoft Yahei";text-align: center;}
.maImg1{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px 0px;}
.maImg2{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px -125px;}
.maImg3{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px -249px;}
.maImg4{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px -376px;}
.maImg5{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px -506px;}
.maImg6{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px -653px;}
.maImg7{background: url(../images/recruit/recomm_advImg.png) no-repeat 0px -785px;}
.readv_ul2{width: 1124px;margin: 0px auto;margin-top: 50px;}
.readv_ul2 li{width: 281px;float: left;}
.readv_ul2 li i{display: block;width: 104px;height: 104px;margin-bottom: 12px;}
.readv_ul2 li h6{color: #4eb1f4;font: 18px/18px "Microsoft Yahei";text-align: center;}
.readv_ul2 li p{color: #8e8d8d;font: 14px/20px "Microsoft Yahei";text-align: center;}
.recomm_line{width: 100%;border-top: 1px solid #e9e9e9;}
.recomm_step{width: 1200px;padding: 40px 0px 73px 0px;}
.recomm_step h3{color: #333;font: 28px/28px "Microsoft Yahei";text-align: center;}
.recomm_step h4{color: #666;font: 18px/18px "Microsoft Yahei";text-align: center;margin-top: 18px;}
.restep_ul{width: 1180px;margin: 0px auto;margin-top: 30px;}
.restep_ul li{width: 280px;height: 200px;border-radius: 2px;float: left;margin-left: 20px;}
.restep_ul li i{display: block;width: 80px;height: 80px;margin: 21px auto 18px auto;}
.restep_ul li h6{color: #fff;font: 18px/18px "Microsoft Yahei";text-align: center;margin-bottom: 8px;}
.restep_ul li p{color: #fff;font: 14px/20px "Microsoft Yahei";text-align: center;}
.rpul_bg1{background: #4eb1f4;}
.rpul_bg2{background: #78c06d;}
.rpul_bg3{background: #edc211;}
.rpul_bg4{background: #ed8d11;}
.epImg1{background: url(../images/recruit/step_img.png) no-repeat 0px 0px;}
.epImg2{background: url(../images/recruit/step_img.png) no-repeat 0px -108px;}
.epImg3{background: url(../images/recruit/step_img.png) no-repeat 0px -215px;}
.epImg4{background: url(../images/recruit/step_img.png) no-repeat 0px -320px;}
.recomm_apply{width: 100%;background: #f8f8f8;padding: 40px 0px 80px 0px;}
.recomm_apply h3{color: #333;font: 28px/28px "Microsoft Yahei";text-align: center;}
.recomm_apply h4{color: #666;font: 18px/18px "Microsoft Yahei";text-align: center;margin-top: 18px;}
.recom_table{width: 640px;margin: 0 auto;margin-top: 25px;}
.recomTit{color: #646464;font: 16px "Microsoft Yahei";text-align: right;padding-right: 5px;}
.recomTit span{color: #ff4545;}
.recomInput_div{width: 450px;margin-left: 0px;position: relative;float: left;}
.recomInput{width: 436px;padding: 9px 0px 9px 12px;height: 20px;border: 1px solid #e5e5e5;color: #474747;font: 14px/20px "Microsoft Yahei";}
.recom_em{position: absolute;top: 10px;left: 13px;color: #ccc;font: 14px "Microsoft Yahei";}
.recom_span{display: block;width: 50px;height: 40px;float: left;}
.recom_p{width: 450px;height: 20px;margin-left: 0px;color: #ff4545;font: 12px/20px "Microsoft Yahei";padding-left: 20px;}
.apy_right{background: url(../images/common/wricon2.png) no-repeat 6px -70px;}
.apy_wrong{background: url(../images/common/wricon2.png) no-repeat 0px 6px;}
.apy_blue{border: 1px solid #4eb1f4 !important;}
.apy_red{border: 1px solid #ff4545 !important;}
.recom_table .apy_right{background-position: 6px -73px;}
.recom_table .apy_wrong{background-position: 0px 3px;padding-bottom: 4px;}
.vt40{vertical-align: top;}
.vt40 .recomTit{line-height: 40px;}
.ml10{margin-left: 10px;}
.mt10{margin-top: 10px;}
.recomselect{float: left;width:220px;height:40px;border:1px solid #ddd;color:#474747;font: 14px/40px "Microsoft Yahei";padding-left: 8px;}
.recomm_btn{width: 450px;height: 40px;background: #4eb1f4;border-radius: 4px;color: #fff;font: 16px "Microsoft Yahei";cursor: pointer;}
.recomm_btn:hover{background: #27a4f8;}
/*************************end 零售-社区主招募***********************/

/*************************零售-供应商招募***********************/
.recruit_supplier{width: 100%;}
.resup_banner{width: 100%;height: 495px;background: url(../images/recruit/resup_banner.png) no-repeat center top;}
.aboutUs_bg{width: 100%;height: 267px;background: url(../images/recruit/aboutUs_bg.png) no-repeat center top;}
.resup_aboutUs{width: 1200px;}
.resup_aboutUs h3{height: 40px;background: url(../images/recruit/resup_tit.png) no-repeat center center;color: #fff;font: normal 30px/36px "Microsoft Yahei";text-align: center;margin-bottom: 15px;}
.resup_aboutUs p{color: #fff;font: 20px/31px "Microsoft Yahei";}
.resup_advTit{margin-top: 65px;}
.resup_advTit,.resup_applyTit{width: 1200px;height: 40px;background: url(../images/recruit/resup_tit.png) no-repeat center center;color: #646464;font: normal 30px/36px "Microsoft Yahei";text-align: center;}
.resup_advCont{width: 1200px;padding: 50px 0px 80px 0px;}
.resup_adv1,.resup_adv2,.resup_adv3,.resup_adv4{position: relative;}
.resup_adv1,.resup_adv3{float: left;}
.resup_adv2,.resup_adv4{float: right;}
.resup_adv1 i,.resup_adv2 i,.resup_adv3 i,.resup_adv4 i{display: block;position: absolute;}
.resup_adv1 h6,.resup_adv2 h6,.resup_adv3 h6,.resup_adv4 h6{font: 26px/26px "Microsoft Yahei";margin-bottom: 14px;}
.resup_adv1 p,.resup_adv2 p,.resup_adv3 p,.resup_adv4 p{font: 18px/26px "Microsoft Yahei";}
.resup_adv1{width: 418px;padding-left: 182px;height: 63px;}
.resup_adv1 i{width: 122px;height: 63px;background: url(../images/recruit/resup_advImg.png) no-repeat 0px 0px;position: absolute;top: 3px;left: 13px;}
.resup_adv1 h6{color: #f2732e;}
.resup_adv1 p{color: #737373;}
.resup_adv2{width: 378px;padding-left: 222px;height: 83px;}
.resup_adv2 i{width: 118px;height: 83px;background: url(../images/recruit/resup_advImg.png) no-repeat 0px -113px;top: -9px;left: 71px;}
.resup_adv2 h6{color: #3db9e3;}
.resup_adv2 p{color: #737373;}
.resup_adv3{width: 418px;padding-left: 182px;height: 88px;}
.resup_adv3 i{width: 146px;height: 74px;background: url(../images/recruit/resup_advImg.png) no-repeat 0px -245px;top: 7px;left: 0px;}
.resup_adv3 h6{color: #f11e2a;}
.resup_adv3 p{color: #737373;}
.resup_adv4{width: 378px;padding-left: 222px;height: 90px;}
.resup_adv4 i{width: 102px;height: 90px;background: url(../images/recruit/resup_advImg.png) no-repeat 0px -369px;top: 0px;left: 78px;}
.resup_adv4 h6{color: #0eabac;}
.resup_adv4 p{color: #737373;}
.h106{height: 106px;}
.resup_deco{width: 100%;height: 78px;background: url(../images/recruit/resup_deco.png) no-repeat;}
.resup_apply{width: 100%;background: #f4f4f4;padding: 65px 0px 84px 0px;}
.apply_table{width: 620px;margin: 0 auto;margin-top: 25px;}
.apyTit{color: #646464;font: 18px "Microsoft Yahei";text-align: right;padding-right: 5px;}
.apyTit span{color: #ff4545;}
.apyInput_div{width: 450px;margin-left: 0px;position: relative;float: left;}
.apyInput{width: 436px;padding: 12px 0px 12px 12px;height: 20px;border: 1px solid #e5e5e5;color: #474747;font: 16px/20px "Microsoft Yahei";}
.apy_em{position: absolute;top: 12px;left: 13px;color: #ccc;font: 16px "Microsoft Yahei";}
.apy_span{display: block;width: 50px;height: 46px;float: left;}
.apy_p{width: 450px;height: 26px;margin-left: 0px;color: #ff4545;font: 12px/26px "Microsoft Yahei";padding-left: 20px;}
.apy_select{width: 450px;height: 46px;margin-left: 0px;position: relative;float: left;}
.apy_select p{width: 436px;height: 44px;padding-left: 12px;color: #474747;font: 16px/44px "Microsoft Yahei";border: 1px solid #e5e5e5;background:#fff url(../images/common/sstIcon.png) no-repeat 416px -30px;cursor:pointer;}
.apy_select ul{width:448px;position:absolute;left:0px;top:46px;z-index: 100;border:1px solid #4eb1f4;border-top:0;background:#fff;}
.apy_select ul li{font:16px/30px Microsoft yahei;color:#474747;cursor:pointer;padding-left: 12px;}
.apy_select ul li:hover{background:#79beff !important;color:#fff !important;}
.apys_on{border:1px solid #4eb1f4 !important;background:#fff url(../images/common/sstIcon.png) no-repeat 416px -80px !important;}
.apyArea{width: 424px;padding: 12px;height: 94px;border: 1px solid #e5e5e5;color: #474747;font: 16px/20px "Microsoft Yahei";}
.vtop_td{vertical-align: top;}
.vtop_td p{line-height: 46px;}
.mt74{margin-top: 74px;}
.resup_btn{width: 450px;height: 46px;background: #febd65;border-radius: 4px;color: #fff;font: 18px "Microsoft Yahei";cursor: pointer;}
.resup_btn:hover{background: #ffb148;}
/*************************end 零售-供应商招募***********************/
