@charset "utf-8";
@import url('common.css');

/***********我的商户共用CSS***********/
.hs_bodyColour{ width: 100%; height: 100%; background: #fff;}
.sellerCenter_bodyColour{ width: 100%; height: 100%; background: #f6f6f6;}
.layer_hint {width: 380px;padding-top: 60px;height: 20px;text-align: center;overflow: hidden;font: 14px/20px Microsoft Yahei;color: #646464;}
/*顶部网站导航*/
.site_nav{width: 100%;height: 31px;border-bottom: 1px solid #dbdbdb;background: #ebebeb;}
.sn_cont{width: 1200px;height: 31px;position: relative;z-index: 9999;}
.sn_entrance{float: left;width: 480px;height: 31px;}
.sn_entrance ul li{float: left;}
.place{height: 31px;position: relative;}
.place_a{display: block;float: left;padding: 0px 8px 0px 26px;color: #999;font: 12px/30px "Microsoft Yahei";background:#ebebeb url(../images/common/grpIcon1.png) no-repeat 8px 8px;border-top:1px solid #ebebeb;border-right:1px solid #ebebeb;border-left:1px solid #ebebeb;border-bottom: 1px solid #dbdbdb;}
.placehover{color: #757575;background:#fff url(../images/common/grpIcon1.png) no-repeat 8px 8px;border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;border-bottom: 1px solid #fff;}
.placehover span{color: #d32c2c;}
.place_hint{display: block;float: left;color: #646464;font: 12px/31px "Microsoft Yahei";padding-left: 10px;}
.placeBox{width: 368px;height: 177px;border: 1px solid #e5e5e5;border-top: 0px;background: #fff;position: absolute;top: 32px;left: 0px;z-index: 2;}
.placeBox table{width: 330px;margin: 24px 19px 0px 19px;}
.pbtit{color: #646464;font: 12px "Microsoft Yahei";text-align: right;padding-right: 6px;}
.pbselect{width:82px;height:32px;padding-left:6px;color: #646464;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6;}/*地区三级联动*/
.pbselect_lg{width:259px;height:32px;padding-left:6px;color: #656565;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6;}/*地区三级联动*/
.pbbtn{display: block;width: 78px;height: 28px;border: 1px solid #eee;border-radius: 4px;background: #f9f9f9;color: #757575;font: 12px/28px "Microsoft Yahei";text-align: center;margin: 16px 0px 0px 58px;}
.pbbtn:hover{border: 1px solid #ff6161;background: #fff;color: #ff6161;}
.ml2{margin-left: 2px;}
.pt22 td{padding-top: 22px;}
.entrance_R{background: url(../images/common/grpIcon1.png) no-repeat -86px -31px;}
.entrance_R{margin-left: 35px;padding-left: 20px;}
.entrance_R a{display: block;color: #7e7e7e;font: 12px/31px "Microsoft Yahei";}
.entrance_R a:hover{color: #d32c2c;}
.sn_menu{float: right;}
.sn_menu ul li{float: left;}
.sn_line{color: #dcdcdc;font: 12px/31px "Microsoft Yahei";}
.pr6{padding-right: 6px;}
.sn_loginInfo{height: 31px;}
.sn_loginInfo p{float: left;color: #999;font: 12px/31px "Microsoft Yahei";}
.sn_loginInfo a{float: left;}
.sn_loginInfo a,.sn_help a{display: block;color: #999;font: 12px/31px "Microsoft Yahei";}
.sn_quick,.sn_app{border-top:1px solid #ebebeb;border-right:1px solid #ebebeb;border-left:1px solid #ebebeb;}
.sn_quick:hover,.sn_app:hover{border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;background: #fff;}
.quiCont,.appCont{border-top:1px solid #e5e5e5;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;background: #fff;position: absolute;top: 30px;left: -1px;z-index: 2;}
.sn_quick:hover .quiCont,.sn_app:hover .appCont{border-top:1px solid #fff;}
.quiBtn{display: block;color: #999;font: 12px/29px "Microsoft Yahei";}
.sn_loginInfo a:hover,.sn_quick:hover .quiBtn,.quiCont a:hover,.sn_help a:hover,.sn_app a:hover{color: #d32c2c;}
.sn_quick{position: relative;width: 80px;height: 30px;}
.sn_quick:hover{background: #fff;}
.quiBtn,.sn_app a{padding-left: 7px;}
.quiBtn i{display: block;width: 10px;height: 5px;background: url(../images/common/grpIcon1.png) no-repeat 0px -160px;position: absolute;top: 12px;right: 7px;}
.quiCont,.appCont{width: 80px;}
.sn_app{position: relative;width: 78px;height: 30px;background: url(../images/common/grpIcon1.png) 7px -113px;}
.sn_app a{padding-left: 23px;}
.sn_app:hover{background:#fff url(../images/common/grpIcon1.png) 7px -113px;}
.quiCont a{display:block;color: #646464;font: 12px/28px "Microsoft Yahei";padding-left: 7px;}
.sn_quick:hover .quiBtn i{transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);transition: transform .2s linear;-webkit-transition: -webkit-transform .2s linear;-moz-transition: -moz-transform .2s linear;-o-transition: -o-transform .2s linear;}
.sn_help a{padding: 0px 11px;}
.appCont{width: 78px;}
.appCont img{display:block;width: 70px;height: 70px;margin: 0 auto;padding: 4px 0px;}
.apptit,.sn_app a{color: #646464;font: 12px/29px "Microsoft Yahei";text-align: center;}
.hs_blue{border: 1px solid #3998e4 !important;}
.hs_red{border: 1px solid #ff4545 !important;}
/*end 顶部网站导航*/
/*头部*/
.sellerCenter_header_wrap{ width: 100%; height: 80px; background: #f35050; position: relative;}
.sellerCenter_header{ width: 1200px; margin: 0 auto;}
.sellerCenter_logo{ float: left; display: block; width: 189px; height: 59px; margin-left: 12px; padding-top: 12px;}
.sellerCenter_tit{ float: left; width: 84px; margin-top: 15px; margin-left: 20px;}
.sellerCenter_tit p{ color: #fff; font-size: 18px; text-align: center;}
.sellerCenter_tit a{ display: block; width: 82px; height: 18px; text-align: center; line-height: 18px; color: #fac5c5;font-size: 12px;
border: 1px solid #fac5c5;border-radius: 10px; margin-top: 8px;}
.sellerCenter_tit a:hover{ color: #f35050; background: #fff;}
.sellerCenter_nav{ float: left; margin-left: 10px; margin-top: 23px;}
.sellerCenter_nav ul li{ float: left; width: 82px; height: 33px; margin-left: 20px; border: 1px solid #f35050;}
.sellerCenter_nav ul li a{ display: block; color: #fff; font-size: 16px; text-align: center; line-height: 33px;}
.sellerCenter_nav ul li:hover{ border: 1px solid #fff;}
.s_border{ border: 1px solid #fff !important;}
.s_ishopping{position:absolute;width:70px;height:132px;left:53%;top:150px;margin-left:564px;
    background: url(../images/sellerCenter/go_2.png) no-repeat;cursor: pointer;}
.s_ishopping:hover{background: url(../images/sellerCenter/go_2.png) no-repeat 0 -150px;cursor: pointer;}
/*end 头部*/
/*左边*/
.sellerCenter_content{ width: 1200px; margin: 0 auto; padding-top: 15px;}
.s_content_left{ float: left; width: 224px; margin-left: -10px;}
.sLeft_top{ width: 224px; height: 20px; background: url(../images/sellerCenter/sLeft_top_bg.png) no-repeat;}
.sLeft_cont{ width: 200px; background: url(../images/sellerCenter/sLeft_cont_bg.png) repeat-y; padding-bottom: 40px;}
.s_favicon a{ display: block; text-align: center; padding-top: 10px;}
.s_favicon a img{ width: 100px; height: 100px; border-radius: 100px; overflow: hidden;}
.s_favicon p{ color: #4d4d4d; font-size: 14px; text-align: center; padding: 20px 0px;}
.sLeft_bottom{ width: 200px; height: 3px; background: url(../images/sellerCenter/sLeft_bottom_bg.png) no-repeat;}

.s_good{ width: 200px; margin: 0 auto; border-top: 1px solid #e8e8e8; padding-top: 10px;}
.s_good ul li{ width: 180px; height: 40px; line-height: 40px; font-size: 14px; margin-top: 10px;}
.s_good ul li a{ display: block; color: #4d4d4d; padding-left: 54px;}
.s_good ul li a:hover{ color: #ff6161;}
.s_good_on{ background: #fe6767;}
.s_good_on a{ color: #fff !important;}
.sc1{ background: url(../images/sellerCenter/icon.png) no-repeat  30px 13px;}
.sc2{ background: url(../images/sellerCenter/icon.png) no-repeat  30px -38px;}
.sc3{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -109px;}
.sc4{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -160px;}
.sc5{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -211px;}
.sc6{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -282px;}
.sc7{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -335px;}
.sc8{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -384px;}
.sc9{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -434px;}
.sc10{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -483px;}
.sc11{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -533px;}
.sc12{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -582px;}
.sc13{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -630px;}
.sc14{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -711px;}
.sc15{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -763px;}
.sc16{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -861px;}
.sc17{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -912px;}
.sc18{ background: url(../images/sellerCenter/icon.png) no-repeat 30px -961px;}
.sc1:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px 13px !important;}
.sc2:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -38px !important;}
.sc3:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -109px !important;}
.sc4:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -160px !important;}
.sc5:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -211px !important;}
.sc6:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -282px !important;}
.sc7:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -335px !important;}
.sc8:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -384px !important;}
.sc9:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -434px !important;}
.sc10:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -483px !important;}
.sc11:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -533px !important;}
.sc12:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -582px !important;}
.sc13:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -630px !important;}
.sc14:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -711px !important;}
.sc15:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -451px -763px !important;}
.sc16:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -452px -861px !important;}
.sc17:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -452px -912px !important;}
.sc18:hover{ background: url(../images/sellerCenter/icon.png) no-repeat -452px -961px !important;}
.s_good_on .sc1{ background: url(../images/sellerCenter/icon.png) no-repeat  -210px 13px !important;}
.s_good_on .sc2{ background: url(../images/sellerCenter/icon.png) no-repeat  -210px -38px !important;}
.s_good_on .sc3{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -109px !important;}
.s_good_on .sc4{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -160px !important;}
.s_good_on .sc5{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -211px !important;}
.s_good_on .sc6{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -282px !important;}
.s_good_on .sc7{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -335px !important;}
.s_good_on .sc8{ background: url(../images/sellerCenter/icon.png) no-repeat  -210px -384px !important;}
.s_good_on .sc9{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -434px !important;}
.s_good_on .sc10{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -483px !important;}
.s_good_on .sc11{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -533px !important;}
.s_good_on .sc12{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -582px !important;}
.s_good_on .sc13{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -630px !important;}
.s_good_on .sc14{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -711px !important;}
.s_good_on .sc15{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -763px !important;}
.s_good_on .sc16{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -861px !important;}
.s_good_on .sc17{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -912px !important;}
.s_good_on .sc18{ background: url(../images/sellerCenter/icon.png) no-repeat -210px -961px !important;}
/*end 左边*/
/*最近浏览*/
.recently_viewed{width: 980px;height:250px;overflow: hidden;position: relative;}
.recently_viewed_p{float: left;width: 90px;padding-left: 10px;height: 30px;color: #575757;font: 14px/30px "Microsoft Yahei";}
.recently_viewed_a{float: right;display: block;width: 60px;height: 30px;color: #646464;font: 12px/30px "Microsoft Yahei";background: url(../images/common/shareIcon.png) no-repeat 40px -791px;cursor: pointer;}
.recently_viewed_a:hover{color: #f25149;background: url(../images/common/shareIcon.png) no-repeat 40px -891px;}
.recently_viewed_list{width: 980px;height: 220px;background: #fff url(../images/common/shade_bg.png) repeat-x;position:absolute;top:30px;left:0px;}
.recently_viewed_list ul{width: 980px;height: 220px;float: left;}
.recently_viewed_list ul li{float: left;width: 140px;padding-left: 20px;}
.recently_viewed_list ul li a{ display: block; width: 140px; margin-top: 16px;}
.recently_viewed_list ul li a img{ width: 140px; height: 140px; overflow: hidden;}
.recently_viewed_list ul li a span{ display: block; width: 140px; color: #646464; font-size: 12px; line-height: 20px; text-align: center;word-break:break-all; margin-top: 5px;height: 40px;overflow: hidden;}
/*end 最近浏览*/
/*无最近浏览*/
.browse_condiv_p{width:980px;margin-top:10px;position:relative;overflow:hidden;height:195px;*padding-top: 20px;background: #fff url(../images/common/shade_bg.png) repeat-x;}
.browse_list{width:980px;position:relative;overflow:hidden;height:195px;padding-top: 20px;}
.no_browse{margin:45px 0 15px 90px;font:14px/98px Microsoft Yahei;color:#646464;text-align:center;background:url(../images/sellerCenter/notpur.png) no-repeat 240px 0px;}
/***********end 我的商户共用CSS***********/

/*零售/商户内页-通用小分页*/
.gm_page_div{width: 100%;background: #fff;}
.gm_page{float: right;height: 34px;margin: 14px 0px;}
.gm_page a{display: block;float: left;width: 32px;height: 32px;color: #888;font: 14px/32px "Microsoft Yahei";text-align: center;border: 1px solid #dfdfdf;border-radius: 2px;margin-left: 4px;background-color: #fff;}
.gm_page a:hover{color: #ff6161;}
.gmpage_prev{background:#fff url(../images/common/pageIcon.png) no-repeat 13px 13px;}
.gmpage_next{background:#fff url(../images/common/pageIcon.png) no-repeat 13px -27px;}
.gmpage_prev:hover{background:#fff url(../images/common/pageIcon.png) no-repeat 13px -187px;}
.gmpage_next:hover{background:#fff url(../images/common/pageIcon.png) no-repeat 13px -147px;}
.gmpage_prev:hover,.gmpage_next:hover{border: 1px solid #ff6161;}
.gmpage_prev_jin{background:#f8f8f8 url(../images/common/pageIcon.png) no-repeat 13px -67px !important;cursor: not-allowed !important;border: 1px solid #dfdfdf !important;color: #888 !important;}
.gmpage_next_jin{background:#f8f8f8 url(../images/common/pageIcon.png) no-repeat 13px -107px !important;cursor: not-allowed !important;border: 1px solid #dfdfdf !important;color: #888 !important;}
.gmpage_b{display: block;float: left;width: 15px;height: 34px;color: #888;font: normal 14px/25px "Microsoft Yahei";text-align: center;margin-left: 4px;}
.gmpage_span{display: block;float: left;width: 30px;height: 34px;color: #747474;font: 14px/34px "Microsoft Yahei";text-align: center;}
.gmpage_p{float: left;color: #747474;font: 14px/34px "Microsoft Yahei";margin-left: 10px;}
.gmpage_p em{font-style: normal;margin: 0px 2px;}
.gmpage_text{float: left;width: 28px;height: 16px;padding: 8px 2px;border: 1px solid #dfdfdf;border-radius: 2px;color: #888;font: 14px/16px "Microsoft Yahei";text-align: center;}
.gmpage_btn{float: left;width: 32px;height: 32px;border: 1px solid #dfdfdf;border-radius: 2px;cursor: pointer;}
.gmpage_btn input{width: 32px;height: 32px;color: #888;font: 14px "Microsoft Yahei";background: #fff;border: none;cursor: pointer;}
.gmpage_btn:hover{border: 1px solid #ff6161;}
.gmpage_btn:hover input{color: #ff6161;}
.gmpage_on{background: #ff6161 !important;border: 1px solid #ff6161 !important;color: #fffefe !important;}
.mr20{margin-right: 20px;}
.mr9{margin-right: 9px;}
/*end 零售/商户内页-通用小分页*/

/*商户-大分页代码*/
.list_page_div{ width:100%;font-size: 14px;color: #646464;}
.list_page_div a{font-size: 14px;border: 1px solid #ddd; margin: 4px 2px;color: #646464; display: block; width: 36px; line-height: 30px; text-align: center; float: left;}
.list_page_div a:hover{color:#fff;border:1px solid #e4393c;background:#e4393c;}
.list_page_div i{ margin-right: 4px;}
.list_page_div p{ color: #999; height: 40px; line-height: 40px;}
.list_page_div .prev_page,.list_page_div .next_page{ border: 1px solid #ddd; color: #999;width: 66px; height: 30px; text-align:center;}
.page_div_on{ color: #fff !important;border:1px solid #e4393c !important;background:#e4393c !important;}
.list_page_div_text{width:30px;height:20px;border:1px solid #ddd;text-align:center; padding:5px 0;margin:0 5px;vertical-align: middle;color: #434343;font: 12px "Microsoft Yahei";}
.list_page_div input{ font-size: 14px;}
.list_page_div_sbtn{width:48px;height:30px;border:1px solid #ddd;background:#f3f3f3;cursor:pointer;text-align:center;font:12px/22px Microsoft Yahei;color:#454545;margin-left:10px;vertical-align: middle;}
.list_page_div_sbtn:hover{color: #e4393c;}
.page_bn{border:0 !important;}
.page_bn:hover{color: #646464 !important;cursor:default !important;background:#fff !important;}
.page_not_allowed{color: #646464 !important;cursor:default !important;background:#f3f3f3 !important;border:1px solid #ddd !important;}
/*end 商户-大分页代码*/


/***********商户-footer***********/
.s_footer_wrap{ width: 100%; border-top: 2px solid #f25149; background: #fff; margin-top: 50px;}
.s_footer{ width: 1200px; margin: 0 auto;}
.s_footer ul{ margin-top: 28px; padding-bottom: 50px;}
.s_footer ul li{ color: #646464; font-size: 12px; text-align: center; margin-bottom: 16px;}
.s_footer ul li a{ color:#646464;}
.footPhone{vertical-align: middle;margin-top: -4px;margin-right: 4px;}
.s_footerAd{ width: 642px; height: 38px; margin-bottom: 30px !important;}
.sf_jc{ width: 108px; height: 40px; margin-left: 10px;}
/***********end 商户-footer***********/