@charset "utf-8";
@import url('s_common.css');

/***********************我的商户-首页CSS***********************/
.fl{ float: left; }
.fr{ float: right; }
.disn{ display: none !important;}
.disb{ display: block !important;}
.s_content_right{ float: right; width: 980px;}/*共用*/
.purList{ width: 980px; height: 350px; margin-top: 20px; background: #fff url(../images/sellerCenter/s_content_rightBg.png) no-repeat; margin-bottom: 33px;}
.ml20{ margin-left: 20px !important;}
.state{ float: left; width: 230px; height: 57px; padding-top: 11px; background: #fff url(../images/sellerCenter/sc_state_bg.png) no-repeat;}
.state p{ height: 48px; line-height: 48px; color: #323232; font-size: 14px; padding-left: 110px; cursor: pointer;}
.state p:hover{ color: #f25149;}
.state p b{ color: #f25149; font-weight: bold;}
.state1{ background: url(../images/sellerCenter/sc_stateIcon.png) no-repeat 48px 0px;}
.state2{ background: url(../images/sellerCenter/sc_stateIcon.png) no-repeat -202px 0px;}
.state3{ background: url(../images/sellerCenter/sc_stateIcon.png) no-repeat -451px 0px;}
.state4{ background: url(../images/sellerCenter/sc_stateIcon.png) no-repeat -704px 0px; padding-left: 102px !important;}
.purList_tit{ width: 980px; height: 40px; line-height: 40px;}
.purList_tit p{ float: left; color: #f35050; font-size: 16px; font-weight: bold; padding-left: 21px;}
.purList_tit a{ float: right; display: block; color: #ff726e; font-size: 14px; background: url(../images/sellerCenter/purIcon.png) no-repeat 66px 13px; padding-right: 36px;}
.purList_tit a:hover{ color: #f35050; background: url(../images/sellerCenter/purIcon.png) no-repeat 66px -49px;}
.pur_table{ width: 940px; margin: 0 auto;}
.pur_table tr{ border-top: 1px solid #ffe9e9;}
.pur_table tr td{ height: 99px;}
.pur_good img{ float: left; margin: 5px 10px; width: 90px; height: 90px; overflow: hidden;}
.pur_good p{ float: left; width: 238px; margin-left: 12px; color: #585858; font-size: 12px; margin-top: 22px; line-height: 18px; height: 36px; overflow: hidden; cursor: pointer;}
.pur_good p:hover{ color: #ff6161;}
.pur_good span{ float: left; color: #8d8d8d; font-size: 13px; margin-left: 12px; margin-top: 12px;}
.pur_price{ text-align: center;}
.pur_price{ color: #585858; font-size: 12px;}
.pur_price span{ color: #b8b8b8; font-size: 12px; display: block;}
.pur_time{ color: #585858; font-size: 12px; text-align: center;}
.pur_zt{ font-size: 12px; color: #403f3f; font-size: 12px; text-align: center;}
.pur_zt2{ color: #ff6161 !important;}/*待付款*/
.pur_zt3{ color: #ff6c00 !important;}/*待发货*/
.pur_cz a{ color: #8d8d8d; font-size: 13px; font-family: "微软雅黑"; display: block; width: 63px; height: 28px; line-height: 28px; text-align: center; border: 1px solid #dcdcdc; border-radius: 4px; background: #fff;}
.pur_cz a:hover{ color: #fff; background: #ff6161; border: 1px solid #ff6161;}
.pur_omit{margin: 32px 0 0 15px;float: left;}
.alert_noted{width:380px;padding-top:50px;height:20px;text-align:center;overflow:hidden;font:14px/20px Microsoft Yahei;color:#646464;}
/***********************end 我的商户-首页CSS***********************/

/***********************我的商户-我的采购单（和已售商品共用）***********************/
.up_fi,.cancel,.save{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.up_fi:hover,.cancel:hover,.save:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}

.up_freight{color: #999;font: 12px "Microsoft Yahei";width: 70px;height: 30px;border:1px solid #999;padding-left: 5px;margin-top: 3px;}
.pur_vessel{ width: 980px; margin: 0 auto;}
.mr7{margin-right: 7px;}
.ml8{margin-left: 8px;}
.vessel_cont{ width: 978px; height: 138px; border: 1px solid #e1e6eb; background: #fff;}
.vessel_cont p{ float: left; color: #575757; font-size: 14px;}
.vessel_dh input{color:#434343;font: 12px/28px "Microsoft Yahei"; width: 124px;padding-left: 4px; height: 28px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; margin-right: 8px;}
.vessel_dh2 input{color:#434343;font: 12px/28px "Microsoft Yahei"; width: 204px;padding-left: 4px; height: 28px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; margin-right: 8px;}
.vessel_name input{color:#434343;font: 12px/28px "Microsoft Yahei";width: 124px;padding-left: 4px;height: 28px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; margin-right: 10px;}
.vessel_time input{color:#434343;font: 12px/28px "Microsoft Yahei"; width: 104px;padding-left: 4px;height: 28px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle;background: #fff url(../images/sellerCenter/pur_icon.png) no-repeat 81px 7px; cursor: pointer;}
.vessel_cont_top{ margin-top: 20px; padding-left: 20px;}
.vessel_cont_top .vessel_btn{float: left;width: 80px;height: 30px;background: #ff8484 url(../images/sellerCenter/derIcon.png) no-repeat 18px 8px;border: 1px solid #ff6565;border-radius: 2px;color: #fff;font: 12px "Microsoft Yahei";padding-left: 16px;cursor: pointer;margin-left: 20px;}
.vessel_cont_top .vessel_btn:hover{background: #fe6767 url(../images/sellerCenter/derIcon.png) no-repeat 18px 8px;border: 1px solid #fe6767;}
.vessel_cont_top .derive_btn{float: left;width: 80px;height: 30px;width: 80px;height: 30px;background: #54adff url(../images/sellerCenter/derIcon.png) no-repeat 8px -80px;border: 1px solid #349eff;border-radius: 2px;color: #fff;font: 12px "Microsoft Yahei";padding-left: 16px;cursor: pointer;margin-left: 20px;}
.vessel_cont_top .derive_btn:hover{background: #349eff url(../images/sellerCenter/derIcon.png) no-repeat 8px -80px;border: 1px solid #349eff;}
.vessel_zt{ height: 49px; line-height: 49px; border-top: 1px dashed #e3e3e3; padding-left: 20px; margin-top: 26px;}
.vessel_zt span{ color: #575757; font-size: 14px;}
.vessel_zt a{ color: #2779be; font-size: 14px; margin-left: 40px; padding: 1px 4px;}
.vessel_zt_on{ background: #2779be; border-radius: 2px; color: #fff !important;}
.pur_cont{ width: 980px; margin: 0 auto; margin-top: 14px; background: #fff;}
.pur_cont_tit{ width: 940px; height: 40px; background: url(../images/sellerCenter/pur_cont_tit_bg.png) repeat-x; padding: 0px 20px; margin-bottom: 12px;}
.w70{width: 60px;}
.w110{ width: 110px;}
.w120{ width: 120px;}
.w125{ width: 125px;}
.w130{ width: 130px;}
.w140{ width: 140px;}
.w150{ width: 150px;}
.w275{width: 275px;}
.w290{width: 290px;}
.w320{ width: 320px;}
.w308{ width: 308px;}
.w60{width: 60px;}
.w75{width: 75px;}

.scart_guigep{padding: 15px 0;font:12px/22px Microsoft Yahei; text-align: left; margin-top: 0;color:#909090;}














.vat{ vertical-align: top;}
.pur_cont_tit li{ float: left; color: #323232; font-size: 14px; line-height: 40px; text-align: center;}
.table_single{ width: 940px; margin: 0 auto; border: 1px solid #efefef; margin-bottom: 18px;}
.ts_message{ height: 34px; line-height: 34px; background: #f9f9f9; font-weight: normal; padding-left: 16px; text-align: left;}
.ts_message p{ float: left;}
.ts_message p span{ color: #999; font-size: 12px; margin-left: 0px;}
.ts_message p em{ font-style: normal; color: #666; font-size: 12px; margin-right: 35px;}
.ts_message a{ display: block; float: right; width: 12px; height: 14px; background: #f9f9f9 url(../images/sellerCenter/ts_remark.png) no-repeat 0px 0px; margin-right: 30px; margin-top: 11px;}
.ts_message1{ height: 34px; line-height: 34px; background: #f9f9f9; font-weight: normal; padding-left: 16px; text-align: left;}
.ts_message1 p{ float: left;}
.ts_message1 p span{ color: #999; font-size: 12px; margin-left: 0px;}
.ts_message1 p em{ font-style: normal; color: #666; font-size: 12px; margin-right: 35px;}
.ts_message1 a{color:#666}
.ts_message1 a:hover{color:#2779be}
.table_single tr td{ padding-top: 10px; padding-bottom: 20px; border-left: 1px solid #efefef;}
.ts_good,.ts_good2{ margin-top: 10px; margin-left: 16px;}
.ts_good img,.ts_good2 img{ width: 58px; height: 58px; border: 1px solid #f9f9f9; float: left;}
.ts_good a{ display: block; color: #666; font-size: 12px; float: left; width: 220px; margin-left: 10px; margin-top: 17px;}
.ts_good2 a{ display: block; color: #666; font-size: 12px; float: left; width: 200px; margin-left: 10px; margin-top: 17px;}
.ts_jg{ color: #666; font-size: 12px; text-align: center; height: 70px; line-height: 70px;}
.ts_num{ color: #323232; font-size: 12px; text-align: center; height: 70px; line-height: 70px;}
.ts_zjg{ text-align: center; line-height: 16px;}
.ts_zjg p{ color: #666; font-size: 12px; font-weight: bold;}
.ts_zjg span{ color: #999; font-size: 12px;}
.ts_zt{ text-align: center; font-size: 12px;}
.ts_zt_dfu{ color: #ff6161;}/*待付款*/
.dfu_span{ color: #bcbcbc; font-size: 12px; display: block; width: 86px; margin: 0 auto;}
.ts_zt_dfa{ color: #ff6c00;}/*待发货*/
.ts_zt_ds{ color: #403f3f;}/*待收货--退货中--退款中--申请退货--交易完成*/
.ts_txq{ color: #3996e4; font-size: 12px; text-align: center; cursor: pointer;margin-top:5px;}/*退货详情按钮*/
.ts_kdh span{ display: block; color: #666; font-size: 12px; word-break: break-all;}/*快递*/
.ts_sbcause{ color: #3996e4; font-size: 12px; text-align: center; cursor: pointer;margin-top:5px;}/*失败原因按钮*/
.ts_sbcont{ color: #666; font-size: 12px; word-break: break-all;}/*失败详情*/
.ts_applyBtn{ color: #3996e4; font-size: 12px; display: block;text-align: center;margin-bottom: 6px;}/*申请退货*/
.tsbtn{cursor:pointer}/*投诉平台*/
.ts_writeBtn{ color: #3996e4; font-size: 12px; display: block;text-align: center;margin-bottom: 6px;}/*填写物流信息*/
.ts_zt_sb{ color: #ff6161;}/*退货失败*/
.ts_surplus{ color: #bcbcbc; font-size: 12px; background: url(../images/sellerCenter/pur_icon.png) no-repeat 18px -197px; padding-left: 20px; text-align: center; margin-bottom: 4px;}
.ts_payBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #ff4b4b; border-radius: 3px; color: #ff6161; font-size: 12px; margin-bottom: 6px;}
.ts_payBtn:hover{ border: 1px solid #ff6161; background: #ff6161; color: #fff;}
.ts_cancelBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #f5f4f4; border-radius: 3px; background: #f5f4f4; color: #666; font-size: 12px; margin-bottom: 6px;}
.ts_cancelBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
.ts_affirmBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.ts_affirmBtn:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}
.ts_againBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #f5f4f4; border-radius: 3px; background: #f5f4f4; color: #666; font-size: 12px; margin-bottom: 6px;}
.ts_againBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
/*取消订单弹出层*/
.cancel_note{ width: 324px; height: 28px; padding-left: 64px; line-height: 28px; color: #ff6c05; font-size: 14px; border: 1px solid #ffb076; 
background: #ffeee2 url(../images/sellerCenter/cancelIcon.png) no-repeat 38px 4px; margin-bottom: 20px; margin-top: 25px;}
.cancel_cause{ width: 380px; margin: 0 auto; margin-bottom: 24px;}
.cancel_cause span{ display: block; color: #9b9b9b; font-size: 14px; margin-left: 20px;}
.cancel_cause ul li{ float:left; border: 1px solid #dadada; width: 170px; line-height: 26px; margin-left: 15px; margin-top: 14px; cursor: pointer;}
.cancel_cause ul li:hover{border: 1px solid #ffb076;}
.causeli{border: 1px solid #ffb076 !important;}
.cancel_cause ul li a{color: #555; font-size: 14px; text-align: center; margin-left: 20px;}
.cancel_textnote{font:14px/26px Microsoft Yahei;color: #646464;margin: 15px 0 0 15px;}
.cancel_textnote input{font:14px/26px Microsoft Yahei;color: #646464;border:1px solid #ddd;width:180px; padding:0 10px;height:26px;}
.layer_cancel_btn{ width: 380px; margin: 0 auto; text-align: center;}
.layer_cancel_btn input{ width: 86px; height: 27px; font:12px Microsoft Yahei; cursor: pointer;}
.layer_cancel_btn .cancel_btn1{ color: #fff; border: 1px solid #ff6900; background: #ff822a;}
.layer_cancel_btn .cancel_btn2{ color: #555; border: 1px solid #dadada; background: #fafafa; margin-left: 10px;}
/*end 取消订单弹出层*/
/*申请退货弹窗*/
.applyth_cause{ width: 380px; margin: 0 auto; margin-top: 50px;}
.applyth_cause span{ display: block; color: #9b9b9b; font-size: 14px; margin-left: 20px;}
.applyth_cause ul li{ float:left; border: 1px solid #dadada; width: 170px; line-height: 26px; margin-left: 15px; margin-top: 14px; cursor: pointer;}
.applyth_cause ul li:hover{border: 1px solid #ffb076;}
.applyth_cause ul li a{color: #555; font-size: 14px; text-align: center; margin-left: 20px;}
/*end 申请退货弹窗*/
/*填写物流信息弹窗*/
.layer_write{text-align: center;}
.write_name{ color: #555; font-size: 14px; margin-top: 38px;}
.write_name input{ width: 173px;padding:6px 0px 6px 5px; height: 16px; border: 1px solid #dadada; margin-left: 8px;color: #434343;font: 12px/16px "Microsoft Yahei";}
.write_num{ color: #555; font-size: 14px; margin-top: 15px;}
.write_num input{ width: 173px;padding:6px 0px 6px 5px; height: 16px; border: 1px solid #dadada; margin-left: 8px;color: #434343;font: 12px/16px "Microsoft Yahei";}
.write_znote{font:14px/26px Microsoft yahei;color:#ff4545;text-align:left;margin-left:140px;}
/*填写物流信息弹窗*/

.h50{ height: 50px !important;}

/***********************end 我的商户-我的采购单（和已售商品共用）***********************/

/***********************我的商户-我的采购单-未搜索到商品***********************/
.pur_notSearch{ width: 980px; height: 160px; border-bottom: 1px solid #e1e6eb; padding-top: 69px;}
.pur_notSearch p{ width: 282px; height: 85px; background: url(../images/sellerCenter/notSearch.png) no-repeat 0px 0px; color: #757575; font-size: 16px; padding-left: 92px; padding-top: 30px;}
/***********************end 我的商户-我的采购单-未搜索到商品***********************/

/***********************我的商户-我的采购单-无采购***********************/
.notpur{ width: 980px; height: 160px; border-bottom: 1px solid #e1e6eb; padding-top: 69px;}
.notpur p{ width: 220px; height: 85px; background: url(../images/sellerCenter/notSearch.png) no-repeat 0px 0px; color: #757575; font-size: 16px; padding-left: 92px; padding-top: 30px;}
.notpur p a{ color: #ff6161; text-decoration: underline;}
/***********************end 我的商户-我的采购单-无采购***********************/

/***********************我的商户-我的进货单***********************/
.s_stock{ width: 980px; margin: 0 auto; margin-left: 8px;}
.w77{ width: 77px !important;}
.w348{ width: 348px !important;}
.w125{ width: 125px !important;}
.w120{ width: 120px !important;}
.s_stockTit_wrap{ width: 980px; height: 40px; background: url(../images/sellerCenter/pur_cont_tit_bg.png) repeat-x;}
.s_stockTit{ width: 920px; margin: 0 auto;}
.s_stockTit p{ float: left;color:#323232;font-size:14px; line-height: 40px; text-align: center;}
.s_stock_single{ width: 978px; border: 1px solid #e7e7e7; background: #fff url(../images/sellerCenter/stock_single_bg.png) repeat-x; margin-top: 10px;}

/*.scart_tit{width:938px;border:1px solid #e6e6e6;margin: 0 auto;padding: 9px 0px;background:#f6f6f6;margin-top:20px;}
.scart_tit span{ color: #333333; font-size: 14px; border-bottom: 2px solid #ea0000; padding: 7px 14px; margin-left: 15px;}*/
.s_stock_single table{ width: 938px; margin: 0 auto; font-size: 14px; }
.s_stock_single table tr td em{ font-style: normal;color: #ff4b4b; font-size: 12px;}
.s_stock_single table tr td{font-weight: normal; color: #666; text-align: center;}
.cart_shadow{box-shadow:0 1px 10px 1px #e4e4e4;}
.checkallcss input{ vertical-align: middle; margin-right: 10px;}
.checkallcss label{ font-size: 12px; color: #333;}
.check_single,.check_ss{margin-left:20px;float:left;}
.seller_lp{height:28px;margin-top:3px;color:#575757;font:14px/28px Microsoft Yahei;text-align:left;margin:5px 0;}
.nonsupport{color:#f35050;font-size: 12px;background:url(../images/topay/supportIcon.png) no-repeat 0px 4px;
padding:2px 10px 2px 15px;margin-left:20px;}
.cart_bbc{background:#fff;border-top:1px solid #eaeaea; }
.cart_name{ background: #fff7ed;}
.cart_pro_dl{padding:15px 0;}
.cart_pro_dl dt{width:70px;height:70px;float:left;margin-left:0px;background:#fff;position:relative;}
.cart_span_dshelf{width:40px;height:35px;background:url(../images/sellerCenter/unShelve.png) no-repeat 0px 0px;
position:absolute;left:-5px;top:-5px;}
.stock_wh{ display: block; width: 31px; height: 31px; background: url(../images/sellerCenter/stock_wh.png) no-repeat;position:absolute;left:0px;top:0px;}
.cart_pro_dl dt img{width:70px;height:70px;overflow: hidden; border: 1px solid #f9f9f9;}
.cart_pro_dl dd{width:220px;float: left; text-align: left; overflow: hidden;word-break:break-all;font:12px/20px Microsoft yahei;margin-left:15px;margin-top:2px;}
.cart_pro_dl dd p{margin-top:5px;color:#ff6c00;}
.cart_pro_dd{margin-top:4px;}
.cart_pro_dd span{color:#fff;background:#a8a8a8;border-radius:6px;padding:3px 15px;}
.cart_pro_dl dd a{color: #646464;}
.cart_pro_dl dd a:hover{color: #ff6161;}
.cart_bgy_p{color:#ff6c00;font-size:12px;margin-top:10px;}
.operation_minus{background:#fff;width: 18px; height: 22px;border: 1px solid #e7e7e7; float: left;cursor: pointer; margin-left: 20px;}
.operation_number input{width: 48px; height: 14px; padding: 4px 0px; text-align: center; border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;float: left;color: #434343;font: 12px "Microsoft Yahei";}
.operation_add{background:#fff;width: 18px; height: 22px;border: 1px solid #e7e7e7;float: left;cursor: pointer;}
.del_abtn{color:#909090; font-size: 12px; margin-right: 8px;}
.del_abtn:hover{color:#ff6161;}
.cart_b_price{font-size:12px;}
.stock_settlement{width:978px;height:60px; margin-top: 22px; border: 1px solid #e7e7e7; background: #fff; margin-bottom: 78px;}
.stock_settlement .settle_all{float: left; margin-left: 24px; padding-right: 18px; line-height: 40px; border-right: 1px solid #e8e8e8; margin-top: 10px;}
.stock_settlement .settle_all input{ vertical-align: middle; margin-right: 6px;}
.stock_settlement .settle_all label{ color: #333; font-size: 12px;}
.settle_ps{ float: left; color: #0066cc; font-size: 12px; cursor: pointer; line-height: 60px; padding-left: 19px;}
.settleBtn{ float: right;}
.settleBtn input{ width: 120px; height: 60px; background: #f35050; border: 1px solid #f35050; color: #fff; font: 18px/60px Microsoft yahei; font-weight: bold; cursor: pointer;}
.settle_price{float: right;width: 230px;height: 48px;padding: 12px 0px 0px 0px;}
.settle_j em{ color: #646464; font-size: 14px; font-weight: bold; display: block; width: 100px; text-align: right; float: left; font-style: normal;}
.settle_j span{ color: #ff4b4b; font-size: 16px; font-weight: bold; float: left;}
.settle_yf em{ color: #646464; font-size: 12px; display: block; width: 100px; text-align: right; float: left; font-style: normal;}
.settle_yf span{ color: #ff4b4b; font-size: 12px; font-weight: bold; float: left; margin-left: 2px;}
.settle_tip{float: right;height: 48px;color: #646464;font: 12px "Microsoft Yahei";padding: 12px 20px 0px 0px;}


.bottom_on{position:fixed;bottom:0;left:50%;margin-left:-399px;}
.slText{width: 80px;padding:3px 4px 4px 4px;height: 16px;border: 1px solid #dedede;box-shadow: inset 0 1px 0 #f3f3f3;color: #434343;font: 12px/16px "Microsoft Yahei";}
/***********************end 我的商户-我的进货单***********************/

/***********************我的商户-我的进货单-无商品***********************/
.s_stocknone{ background: #fff; margin-bottom: 60px;}
/***********************end 我的商户-我的进货单-无商品***********************/

/***********************我的商户-我的销售单（单独）***********************/
.receiptInfo{ color: #999; font-size: 12px;}
.receiptInfo span{ color: #666 !important; }
.remarkInfo{ color: #999; font-size: 12px; padding-top: 8px;}
.remarkInfo span{ color: #666 !important; }
.soldInfo td{padding-top: 8px !important; padding-bottom: 8px !important;padding-left: 18px !important; border-top: 1px solid #efefef;}
.sold_surplus{ color: #bcbcbc; font-size: 12px; background: url(../images/sellerCenter/pur_icon.png) no-repeat 6px -197px; padding-left: 20px; text-align: center; margin-bottom: 4px;}
.shipmentsBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.shipmentsBtn:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}
.sold_refCause{ color: #3996e4; font-size: 12px; text-align: center; cursor: pointer;margin-top:5px;}
.consentBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.consentBtn:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}
.refuseBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #f5f4f4; border-radius: 3px; background: #f5f4f4; color: #666; font-size: 12px; margin-bottom: 6px;}
.refuseBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
.w80{ width: 80px !important;}
.w91{ width: 91px !important;}
.w99{ width: 99px !important;}
.w119{ width: 119px !important;}
.w129{ width: 129px !important;}
.w295{ width: 295px !important;}
.w303{ width: 303px !important;}
.pl19{ padding-left: 19px; }
.ml6{ margin-left: -6px; }
.lspf{color: #666;font-size: 12px; text-align: center;}
.refuseText{color: #555;font-size: 14px;margin-top: 50px; margin-left: 30px;}
.refuseInput{width: 313px;padding-left:5px;height: 16px;border: 1px solid #dadada;padding: 6px 0px 6px 6px; margin-left: 30px; margin-top: 20px;color: #434343;font: 12px/16px "Microsoft Yahei";}
.CRdisable{ background: #e8e8e8 !important;color: #c0c0c0 !important;  border: 1px solid #e8e8e8 !important; cursor: no-drop;}/*同意拒绝禁用按钮*/
.receiptBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.receiptBtn:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}
.rejectionBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #f5f4f4; border-radius: 3px; background: #f5f4f4; color: #666; font-size: 12px; margin-bottom: 6px;}
.rejectionBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
/***********************end 我的商户-我的销售单（单独）***********************/

/***********************我的商户-申请退货***********************/
.sth_tit {width: 977px;height: 38px;line-height: 38px;background: url(../images/sellerCenter/publish_tit.png) repeat-x;
border-left: 3px solid #fa6b6b;margin-bottom: 2px;}
.sth_tit p {color: #646464;font-size: 14px;padding-left: 10px;}
.sth_cont {width: 980px;background: #fff;padding: 10px 0 10px 0;}
.sth_cont .num1{ color: #fe6767; font-size: 14px; background: url(../images/sellerCenter/num1.png) no-repeat 12px 7px; padding:10px 0px 10px 30px; }
.sth_cont .num2{ color: #fe6767; font-size: 14px; background: url(../images/sellerCenter/num2.png) no-repeat 12px 23px; padding:26px 0px 10px 30px; }
.orderInfo{ padding-left: 30px; margin-bottom: 10px; }
.orderInfo span{ color: #646464; font-size: 14px; }
.orderInfo em{ font-style: normal; color: #666; font-size: 12px; }
.orderInfo b{ color: #fe6767; font-size: 14px; }
.ml35{ margin-left: 35px !important; }
.bln{ border-left: none !important; }
.h85{ height: 85px !important; }
.sth_table{ width: 940px; border: 1px solid #efefef; margin-left: 20px;}
.sth_table tr th{ height: 34px; background: #f9f9f9; font-weight: normal; color: #4d4d4d; font-size: 14px; text-align: center; }
.sth_table tr td{ text-align: center; border-left: 1px solid #efefef;}
.sth_table .goodsImg{ float: left; display: block; width: 58px; height: 58px; border: 1px solid #f9f9f9; }
.sth_table .goodsImg img{ width: 58px; height: 58px;}
.sth_table .goodsText{ float: left; display: block; color: #666; font-size: 12px; width: 236px; height: 32px; text-align: left !important; padding-top: 14px; margin-left: 10px;}
.sth_table .goodsText:hover{ color: #ff6161; }
.sth_table .goodsNumber{ color: #323232; font-size: 12px; }
.sth_table .goodsPrice{ color: #666; font-size: 12px; font-weight: bold; }
.sth_table .goodsCompany{ color: #646464; font-size: 12px; }
.sth_operate{ width: 938px; height: 40px; border: 1px solid #e7e7e7; background: #f9f9f9; margin-top: 11px;}
.sth_operate .opall{ float: left; color: #333; font-size: 12px; line-height: 40px; padding-left: 11px;}
.sth_operate .opall input{ vertical-align: middle; margin-right: 8px;}
.sth_operate .opsum{ float: right; color: #646464; font-size: 14px; line-height: 40px; margin-right: 12px;}
.sth_operate .opsum span{ color: #ff4b4b; font-size: 16px; font-weight: bold; }
.sth_operate .opway{ float: right; color: #646464; font-size: 14px; line-height: 40px; margin-right: 32px;}
.sth_cause{ width: 800px; margin-left: 20px; }
.sth_cause li{ float: left; width: 250px; height: 56px; }
.sth_cause li a{ display: block; width: 218px; height: 38px; border: 1px solid #e5e5e5; color: #555; font-size: 14px; text-align: center; line-height: 38px; margin-right: 30px; margin-top: 16px;}
.sth_cause li a:hover{ color: #ff6161; }
.sth_cause_on{ background: url(../images/hs_pc_all/cause_on.png) no-repeat 201px 27px; border: 1px solid #ff5757 !important;}
.sth_remark{ padding-left: 20px; color: #555; font-size: 14px; margin-top: 16px; }
.sth_remark input{width: 660px;height: 18px;border: 1px solid #e5e5e5;box-shadow: inset 0 1px 0 #d6d6d6;padding:10px 0px 10px 5px;color: #434343;font: 12px/18px "Microsoft Yahei";vertical-align: middle;}
.sthBtn{ width: 182px; height: 38px; background: url(../images/sellerCenter/sthBtn.png) no-repeat 0px 0px; color: #fff; font:16px/38px "微软雅黑"; font-weight: bold; margin: 40px 0px 50px 400px; cursor: pointer;}
.sthBtn:hover{ background: url(../images/sellerCenter/sthBtn.png) no-repeat 0px -162px;}
/***********************end 我的商户-申请退货***********************/

/***********************我的商户-退货详情***********************/
.sqInfo{ padding:6px 0px 8px 20px; }
.sqInfo span{ color: #323232; font-size: 14px; }
.sqInfo em{ font-style: normal; color: #666; font-size: 12px; }
.sq_table{ width: 940px; border: 1px solid #efefef; margin-left: 20px; }
.sq_table tr th{ height: 34px; background: #f9f9f9; color: #4d4d4d; font-size: 14px; font-weight: normal; }
.sq_table tr td{ text-align: center; border-left: 1px solid #efefef;}
.sqTb,.sqDb{ color: #666; font-size: 12px; }
.sqName{padding: 24px 0px; border-top: 1px solid #efefef; }
.sqName p{ color: #666; font-size: 12px; float: left; width: 220px; height: 32px; padding-left: 12px; text-align: left !important; }
.sqName b{ color: #646464; font-size: 12px; margin-left: 16px; *margin-left: 10px;}
.sqZt{ color: #3996e4; font-size: 12px; }
.sqSum{ font-weight: bold; color: #fe6767; font-size: 12px; }
.pb165{ padding-bottom: 165px; }
.sqCg{ color: #323232; font-size: 12px; }/*退货成功*/
.sqGb{ color: #ff6161; font-size: 12px; }/*退货关闭*/
.sqRemark{ color: #ff6161; font-size: 14px; padding-left: 20px; margin-top: 16px;}
/***********************end 我的商户-退货详情***********************/
/***********************我的商户-采购退货单列表页*******************/
.xx_span{color: #666; font-size: 12px; display: block; width: 60px; margin: 0 auto;text-align: center;}
.vessel_cont1{ width: 978px; height: 55px; border: 1px solid #e1e6eb; background: #fff;}
.vessel_zt1{float: left; height: 49px; line-height: 49px; padding-left: 20px; }
.vessel_zt1 span{ color: #575757; font-size: 14px;}
.vessel_zt1 a{ color: #2779be; font-size: 14px; margin-left: 25px; padding: 1px 4px;}
.vessel_seek1{float: right;height: 49px; line-height: 49px; padding-left: 60px; }
.px_text{width: 140px;height: 16px;color: #434343;font: 12px/16px "Microsoft Yahei";border: 1px solid #ddd;float: left;margin: 12px 0 0 10px;padding: 4px 0px 4px 5px;}
.px_sbtn{width: 46px;height: 26px;border: 1px solid #ddd;border-left: 0;background: #f3f3f3;cursor: pointer;text-align: center;margin: 12px 20px 0 0px;font: 12px/22px Microsoft Yahei;color: #454545; float: left;}
.px_sbtn:hover{color:#fff;background:#ff6161;border:1px solid #ff6161;}
.w90{ width: 90px;}
.w105{ width: 105px;}
.w115{width: 115px;}
.w100{ width: 100px;}
.w315{ width: 315px;}
.dfu_a{ color: #3996e4;; font-size: 12px; display: block; width: 60px; margin: 0 auto;}
.opd_kuaidi{width:340px;overflow:hidden;font:14px/26px Microsoft Yahei;color:#646464;margin:15px 0 5px 20px;}
.opd_kuaidi td{padding:5px;}
.swl_txt,.order_txt{width:192px;height:28px;padding-left:6px;font:14px/28px Microsoft Yahei;color:#646464;border:1px solid #cdcdcd;}
.swl_sbtn{height:30px;font:14px/28px Microsoft Yahei;color:#fff;border:0px !important;width:80px;background:#fe8181;border-radius:3px;cursor:pointer;}
.div_swl_sbtn{float: left; height:30px;border:1px solid #ff6161;width:80px;background:#fe8181;border-radius:3px;cursor:pointer;}
.oinfo_select{width:200px;height:32px;color:#646464;border:1px solid #cdcdcd;}
.b_blue{border:1px solid #3998e4 !important;}
.b_red{border:1px solid #ff4545 !important;}
.recp{background: url(../images/common/wricon2.png) no-repeat 0px 5px; height: 20px;color: #ff4545;font:14px/22px "Microsoft Yahei";padding-left: 20px;}
.w_td{position: absolute;}
.oinfo_cc1{position: relative;}
.w_span{background:url(../images/common/wricon2.png) no-repeat 6px -73px; }
.w_td i{ color: #ff4545; margin-left:4px;}
/***********************我的商户-采购退货单列表页*******************/

/************退货单拒绝原因，同意地址、姓名、详情****************/
.oinfo_panel{position: relative; margin-top:20px;}
.oinfo_panel p{font:14px/36px Microsoft yahei;color:#646464;float:left;margin:10px 10px 0 20px;}
.text_p{color:#909090;font-size: 12px;margin:0px 0 0 100px;display: block; line-height: 26px;}
.oinfo_panel span{color:#f35050;display:none;font-size: 12px;margin-left:100px;}
.oinfo_title_fl{width:80px;text-align:right;}
.oinfo_phone,.oinfo_name{border:1px solid #efefef;width:223px;height:32px;float:left;margin-top:10px;font:14px/32px Microsoft yahei;color:#646464;padding-left:5px;}
.oinfo_panel textarea{border:1px solid #efefef;width:223px;overflow:auto;background-attachment:fixed;
background-repeat:no-repeat;list-style: none;outline:none;resize:none;border-style:solid;padding-left:5px;height:78px;float:left;font:14px/20px Microsoft yahei;color:#646464;}
.ccl_a{background: url(../images/common/wricon3.png) no-repeat 0 3px;padding-left:20px;display:inline}
.notediv{width: 240px;height: 20px;margin-left: 90px;color: #ff4545;font: 12px/20px "Microsoft Yahei";padding: 0px 0px 0px 20px;}
.notespan{display: block;float: left;width: 30px;height: 34px;margin-top: 20px;}
.em_wrong{background: url(../images/common/wricon2.png) no-repeat 0px 2px;}
.em_right{background: url(../images/common/wricon2.png) no-repeat 6px -75px;}
.em_blue{ border: 1px solid #3998e4 !important;}
.em_red{ border: 1px solid #ff4545 !important;}
