 @charset "utf-8";
@import url('common.css');

/***********社区主顶部***************/
.portrait{float: left;display: block;margin: 12px 0px 12px 20px;width: 24px;height: 24px;border: 1px solid #f35353;border-radius: 50%;overflow: hidden;}
.portrait img{width: 100%;}
.com_mallTop_wrap{width:100%;height:50px;background:#ff9867;}
.com_logo{width: 1200px;height: 50px;}
.comlogo {float: left;display: block;width: 146px; height: 50px;background: url(../images/provider/provInfo.png) no-repeat 0px 3px;margin: 0px 23px 0px 10px;}
.welcome span{font: 14px "Microsoft Yahei";color: #fff;font-weight: bold;padding: 0px 2px;}
.welcome{float: left;display: block;color: #fff;font: 14px/50px "Microsoft Yahei";margin-left: 10px;}
.com_mallTop_right{display: block;width: 500px;height: 50px;float: right;}


.dis{ display: none;}
.retail a,.quit a{cursor: pointer; display: block;font: 14px/30px "Microsoft Yahei";border-radius: 3px; text-align: center;margin: 9px 20px 0px 0px;}
.bldin a{cursor: pointer; display: block;font: 14px/30px "Microsoft Yahei";border-radius: 3px; text-align: center;margin: 9px 0px 0px 0px;width: 80px;color: #ff9867;background: #ffeae1;}
.bldin a:hover{background: #fff}
.retail a{width: 80px;color: #ff9867;background: #ffeae1;}
.retail a:hover{background: #fff;}
.quit a{width: 70px;background: url(../images/recruit/exit.png) no-repeat 11px 9px;color: #fff;border: 1px solid #fff;padding-left:20px;}
.quit a:hover{color:#ff9867;background: #ffeae1 url(../images/recruit/exit.png) no-repeat 11px -37px;}
.com_mallTop_leftsq{float: left;width: 270px;height: 34px;}
.com_list{width: 210px !important;}
.com_mallTop{width: 1200px;height: 34px;margin: 0 auto;}
.com_mallTop_right li{float: right;height: 50px;line-height: 50px;}
/***********end 社区主顶部***************/

/**********侧边栏**********/
.community_main{width: 1200px;position: relative;}
.nav_left{text-align: center; width: 200px; float:left; width: 180px;text-align: left; margin-left: 0;position: relative;}
.nav_left .ad{margin-top:20px;border:1px solid #f6e6b2; width: 180px; height:150px;}
.side{width: 180px;background: #fff;float: left;padding-bottom: 10px;box-shadow:  0px 3px 5px #ccc;}
.side li{width: 180px;height: 36px;float: left;}
.side li a{display: block;color: #8b8b8b;font: 14px/36px "Microsoft Yahei";padding-left: 60px;}
.side li a:hover{color: #ff9867;}
.stair1 a,.stair2 a,.stair3 a,.stair4 a,.stair5 a,.stair6 a{color: #ff9867 !important;font: 14px/40px "Microsoft Yahei" !important;cursor: default;}
.stair1{height: 40px !important;background: url(../images/recruit/nav.png) no-repeat 30px 15px;}
.stair2{height: 40px !important;background: url(../images/recruit/nav.png) no-repeat 30px -37px;}
.stair3{height: 40px !important;background: url(../images/recruit/nav.png) no-repeat 30px -97px;}
.stair4{height: 40px !important;background: url(../images/recruit/nav.png) no-repeat 30px -162px;}
.stair5{height: 40px !important;background: url(../images/recruit/nav.png) no-repeat 30px -221px;}
.stair6{height: 40px !important;background: url(../images/recruit/nav.png) no-repeat 30px -289px;}
.sta_on{background: #ff9867 !important;}
.sta_on a{color: #fff !important;}

/**********end 侧边栏**********/



.community_content{width: 1000px;float:right;}
/****************基本信息*****************/
.dredge{position: absolute;top: 275px;*top: 275px; *left:0px;  text-align: center;padding-top: 15px;}
.sinfo_tx{float: left;display: block;width: 66px;height: 66px;border: 1px solid #f35353;border-radius: 50%;overflow: hidden;}
.sinfo_tx img{width: 100%;height: 100%;}
.sinfo{float: left;width: 400px;height: 80px;padding-top: 12px;}
.sinfo_name{float: left;padding-left: 12px;margin-top: 10px;}
.sinfo_name span{display: block;height: 24px;color: #555555;font: 14px/24px "Microsoft Yahei";}
.sinfo_name em{height: 24px;color: #999999;font: normal 14px "Microsoft Yahei";}
.img_qr{width: 66px;height: 66px;padding: 10px 10px 10px 0px;}
.center_top{padding: 10px 0px;color: #636363;font:14px "Microsoft Yahei";}
.info_title{background: #fff; width: 1000px;border:1px solid #d5d5d5;}
.bbared{width: 3px;height: 34px;background: #f67e44;float: left;}
.info_title_div,.fin_title_div,.com_title_div{background: #f9f9f9;padding: 7px 20px;font: 14px "Microsoft Yahei";color: #f67e44;}
.aIupfile{position: absolute;top: 27px;width: 90px;height: 34px; z-index: 999;opacity: 0; filter:alpha(opacity=0);font-size: 26px;overflow: hidden;}
.head_file{height: 60px; float: right;position: relative;width: 75px}
.head_file:hover{border-bottom: 1px solid #f67e44;}
.head_file span{width: 60px; position: absolute;top: 37px; left:10px; color: #f67e44;font:14px "Microsoft Yahei";}
.head_fileqr{height: 57px; float: right;position: absolute; position: relative;width: 80px}
.head_fileqr:hover{border-bottom: 1px solid #f67e44;}
.head_fileqr span{width: 90px; position: absolute;top: 33px; left:3px; color: #f67e44;font:14px "Microsoft Yahei";}
.aIupfileqr{position: absolute;top: 27px; width: 90px;height: 30px; z-index: 999;opacity: 0; filter:alpha(opacity=0);font-size: 26px;overflow: hidden;}
.head_tx{float: left;color: #636363;font: 14px/50px "Microsoft Yahei";}
.info_qr{width: 970px;border-bottom: 1px solid #f6f6f6;}
.info_mation,.info_head{width: 970px;border-bottom: 1px solid #f6f6f6;}
.info_span{float: right;padding: 14px 5px;color: #909090;font: 14px "Microsoft Yahei";}
.fin_title,.com_title{background: #fff; width: 1000px;border:1px solid #d5d5d5;margin-top: 10px;}
.fin_mon_le{width: 400px;height: 100px;float: left;}
.fin_mon_ri{width: 400px;height: 100px;float: left;}
.fin_mon_le p{padding-top: 20px;color: #747474;font: 14px "Microsoft Yahei";}
.fin_mon_ri p{padding-top: 20px;color: #747474;font: 14px "Microsoft Yahei";}
.le_p{background: url(../images/recruit/cw.png) no-repeat 15px 11px;padding-left: 50px;}
.le_p1{background: url(../images/recruit/cw.png) no-repeat 15px -144px;padding-left: 50px;padding-top: 20px;color: #747474;font: 14px "Microsoft Yahei";}
.ri_p{background: url(../images/recruit/cw.png) no-repeat 15px -75px;padding-left: 50px !important;}
.ri_p1{padding-top: 25px !important; background: url(../images/recruit/cw1.png) no-repeat 22px 26px;padding-left: 50px !important;}
.ri_p2{background: url(../images/recruit/cw1.png) no-repeat 22px -35px;padding-left: 50px !important;}
.ri_p span{margin-left: 13px;}
.le_p span{color: #f67e44;font-size: 18px;margin-left: 14px;}
.le_p1 span{color: #f67e44;font-size: 18px;}
.div_input{margin: 130px 20px 20px 20px;}
.recharge,.withdraw{cursor: pointer; width: 100px;height: 28px;background: #f67e44;border-radius: 4px;font: 14px "Microsoft Yahei";color: #fff;}
.recharge:hover,.withdraw:hover{background: #eb6c30;}
.more:hover{color:#fff;background: #f67e44;}
.more{cursor: pointer; width: 100px;height: 28px;background: #fff; border:1px solid #f67e44;border-radius: 4px;font: 14px "Microsoft Yahei";color: #f67e44;}
.withdraw,.more{margin-left: 15px;}
.com_mon_le{display: inline-block; width: 468px; border:1px solid #f2f2f2;float: left;margin: 20px 0px 10px 20px;border-radius: 5px;}
.com_le_ti{width: 469px; color: #f67e44 !important;background: #e9e9e9;color: #f67e44;font: 14px "Microsoft Yahei";padding: 10px 20px;}
.tdnam{ padding-top: 11px;color: #636363;font: 14px "Microsoft Yahei";width: 100px;text-align: right;}
.tdnam1{height: 40px;vertical-align: top;}
.tdtit1{height: 40px;vertical-align: top;}
.tdtit{padding-top: 11px;width: 340px; color: #909090;font:14px "Microsoft Yahei";}
.qq_input,.qq_input1{width: 185px; height:30px;background: #fff;border:1px solid #e9e9e9;font: 14px "Microsoft Yahei";color: #909090;padding-left: 5px;}
.tdqq{vertical-align: top;padding-top: 15px;}
.confirm,.confirm1{width: 74px; height: 30px;background: #f67e44;border-radius: 2px;font: 14px "Microsoft Yahei";font-weight: bold;color: #fff;margin: 0px 30px;}
.confirm:hover,.confirm1:hover{background: #eb6c30;}
.bianji{margin-top: 2px; margin-left: 225px;font: 16px "Microsoft Yahei";cursor: pointer;}
.cakan{cursor: pointer;margin-left: 20px;font: 14px/40px "Microsoft Yahei";color: #f67e44;}
.com_mon_zc{margin-bottom: 10px;border-radius: 5px;background: #fff; width: 960px;border:1px solid #f2f2f2;margin-top: 10px;}
.com_zc_ti{background: #e9e9e9;color: #f67e44;font: 14px "Microsoft Yahei";padding: 10px 20px;}.
.tit,.tit1{width: 960px;}
.tit li{margin-top: 10px;}
.tit li,.tit1 li{padding: 8px 0px;border-bottom: 1px solid #ffeed8;border-top: 1px solid #ffeed8; width: 320px;background: #fff7ed;height: 37px;color: #777777; text-align: center; display: inline-block;float: left;font: 14px/37px "Microsoft Yahei";}
.tit1 li{border-bottom: 1px solid #e9e9e9;border-top: 0px !important;background: #fff;}
.aI_blue{border: 1px solid #3998e4 !important;}
.aI_red{border: 1px solid #ff4545 !important;}
.run_wrong{background: url(../images/common/wricon2.png) no-repeat 3px 1px;}
.run_right{background: url(../images/common/wricon2.png) no-repeat 20px -83px;}
.span_w,.span_w1{font: 12px "Microsoft Yahei";color: #ee2735;}
.aIsuc_tit{background: url(../images/common/lay1.png) no-repeat 0px 20px;width: 100px;height: 20px;margin-top: 20px;margin-left: 105px;padding: 25px 78px;}
.aIsuc_tit1{background: url(../images/common/lay1.png) no-repeat 0px 28px;width: 145px;height: 20px;margin-top: 20px;margin-left: 70px;padding: 25px 78px;}

/****************end 基本信息*****************/

/****************新用户注册***************/
.seek{background: #fff; width: 1000px;height: 465px;border:1px solid #d5d5d5;}
.user_title{background: #fff; width: 1000px;border:1px solid #e9e9e9;margin-top: 10px;}
.com_select{float: left;width: 290px;height: 35px;position:relative;}
.com_select p{width: 250px;height: 30px;background: url(../images/recruit/xl.png) no-repeat 230px 12px;border-radius: 4px;margin: 9px 20px; border: 1px solid #dedede;color:#575757;font:12px/30px "Microsoft Yahei";cursor:pointer;padding-left: 8px;}
.com_select ul{width:258px;position:absolute;left:20px;top:41px;border:1px solid #ff9867;border-top:0;background:#fff;}
.com_select ul li{font:12px/26px Microsoft yahei;color:#575757;cursor:pointer;padding-left: 8px;}
.com_select ul li:hover{background:#ff9867 !important;color:#fff !important;}
.p_on{border:1px solid #ff9867 !important;background: url(../images/recruit/xl1.png) no-repeat 230px 12px !important;border-bottom-right-radius: 1px !important;border-bottom-left-radius: 1px !important;}
.seek_div{ position: relative; width: 385px;height: 30px;border:1px solid #f67e44;border-radius: 4px;display: block;float: left;margin-left: 20px;margin-top: 9px;}
.seek_in{background: url(../images/recruit/seek.png) no-repeat 10px 9px;font: 14px/20px "Microsoft Yahei"; *margin-left: -20px !important; padding:5px 0px 5px 40px; width: 270px;height: 20px;margin-left: 4px;}
.seek_but{float: right;position: absolute;right: -1px; cursor: pointer; text-align: center;color: #fff;cursor: pointer; width: 66px;height: 30px;border-radius: 4px;border-top-left-radius: 1px !important;border-bottom-left-radius: 1px !important;background: #f67e44;}
.seek_span{position: absolute;top: 7px;left: 45px;font: 12px "Microsoft Yahei";color: #999999;}
.dc{cursor: pointer; width: 100px;height: 30px;margin: 9px 30px;background: #f67e44;border-radius: 4px;font: 14px/30px "Microsoft Yahei";color: #fff;}
.dc:hover{background: #eb6c30;}
.table,.trade_pri_tb{background: #fff;border:1px solid #e9e9e9;width: 100%;}
.table tr,.trade_pri_tb tr{text-align: left;font: 12px "Microsoft Yahei";}
.tr{background: #fff7ed;height:36px;}
.table th,.trade_pri_tb th{text-align: center; color: #A28787;font: 12px "Microsoft Yahei";border-top: 1px solid #ffeed8;border-bottom: 1px solid #ffeed8;}
.com_mon_xx{width: 1000px;margin-top: 15px;}
.table tr td,.trade_pri_tb tr td{color: #737373;border:1px solid #F5EFEF;padding: 12px 10px; word-break: break-all;}
.td_fl{height: 50px !important;width: 150px !important;text-align: left !important;padding: 0px 10px;}
/****************end 新用户注册***************/


/****************批发商品定价维护************/
.table_pri{background: #fff;border:1px solid #e9e9e9;margin-top: -9px !important;}
.table_pri tr{text-align: left;font: 12px "Microsoft Yahei";}
.table_pri th{text-align: center; color: #636363;font: 14px "Microsoft Yahei";border-top: 1px solid #ffeed8;border-bottom: 1px solid #ffeed8;}
.com_mon_pri{width: 1000px;margin-top: 12px;}
.weiding{color: #f67e44;font: 14px "Microsoft Yahei";float: right;margin: 15px 20px;}
.dj,.dg{width: 100px;height: 30px;margin: 9px 20px;background: #f67e44;border-radius: 4px;font: 14px/30px "Microsoft Yahei";color: #fff;}
.dj{margin-left: 40px;}
.dj:hover,.dg:hover{background: #eb6c30;}
.come_pricing{margin:12px 0 0 0px;}
.come_pricing li{width:133px;height:38px;font:14px/38px Microsoft yahei;text-align:center;color:#636363;float:left;background: #fff;
border:1px solid #fff;cursor:pointer;}
.pricing_div{width: 1000px;margin-top: 10px;}
.pricing{background:#f67e44 !important;color:#fff !important;}
.tr_td{border-left: 0px !important;}
.tr_td td{text-align: center;border: 1px solid #e9e9e9;}
.td_span:hover{padding: 0px 5px;border-bottom: 1px solid #f67e44;color: #f67e44;cursor: pointer;}
.table_pri tr td{color: #737373;border:1px solid #F5EFEF;text-align: center;height: 50px;}
.bj_span{ cursor: pointer; padding: 0px 5px;color: #f67e44;}
.cx_span{ cursor: pointer; padding: 0px 5px;color: #636363;}
.dj_span:hover,.cx_span:hover{color: #f67e44;border-bottom: 1px solid #f67e44;}
.up_div{width: 430px; padding-top: 20px;}
.up_div1{width: 430px; padding-top: 20px;}
.up_ddj{position: relative; color: #909090;font: 14px "Microsoft Yahei";}
.seatit{float: left;width: 70px;height: 32px;color: #575757;font: 14px/32px "Microsoft Yahei";text-align: right;padding-right: 2px;}
.seatit i{color: #f35050;font: 14px "Microsoft Yahei";}
.search_select{margin-top: -5px; margin-left:0;width: 120px;height: 32px;position:relative;}
.search_select p{width: 110px;height: 30px;background: url(../images/recruit/xl.png) no-repeat 95px 12px;border: 1px solid #dedede;color:#575757;font:12px/32px "Microsoft Yahei";cursor:pointer;padding-left: 8px;}
.search_select ul{width:118px;position:absolute;left:0px;top:32px;border:1px solid #3aa2e4;border-top:0;background:#fff;}
.search_select ul li{font:12px/26px Microsoft yahei;color:#575757;cursor:pointer;padding-left: 8px;}
.search_select ul li:hover{background:#79beff !important;color:#fff !important;}
.bian_i1,.dj_i1{width: 247px; height: 35px;}
.bj_i,.dj_i{width: 310px; height: 50px;}
.aItit1{float: left; color: #646464;font: 16px "Microsoft Yahei";margin-top: 10px;}
.aItit {float: left; color: #646464;font: 16px "Microsoft Yahei";margin-top: 20px;}
.aItit i{color: #f35050;font: 16px "Microsoft Yahei";padding: 0px 2px;}
.run_div1{float: left;width: 100px;height: 38px;margin-top: 10px;}
.run_div{position: relative; float: left;width: 230px;height: 38px;margin-top: 10px;}
.run_div a{float: left;display: block;color: #646464;font: 14px/38px "Microsoft Yahei";padding-right: 10px;}
.run_div i{float: left;display: block;width: 15px;height: 15px;border: 1px solid #dedede;border-radius: 50px;background: #fff;margin-right: 8px;margin-top: 12px;cursor: pointer;}
.run_on{background:#fff url(../images/common/chooseIcon.png) no-repeat 2px -35px !important; border-color: #ff6161 !important;}
.ired{border:1px solid red !important;background: #fff url(../images/common/chooseIcon.png) no-repeat 2px -36px !important;}
.inp_jj,.inp_bj{width: 90px;height: 20px;border:1px solid #d5d5d5;text-align: center;margin-right: 5px;color: #656565;padding: 3px 0px;}
.up_ddj a{color: #646464; }
.center_top1{padding-top: 10px;color: #636363;font:14px "Microsoft Yahei";}
.aI_tit{color: #636363;font: 14px "Microsoft Yahei";margin: 30px 40px;}
/****************批发商品定价维护************/


/*****************零售商品定价维护****/
.input_per{width: 90px;height: 20px;padding:5px 0px;border:1px solid #d5d5d5;text-align: center;margin-right: 5px;color: #656565;}
.dj_span{cursor: pointer; padding: 0px 5px;color: #f67e44;}
.td_span1,.td_span_dj{padding: 0px 5px;color: #f67e44;cursor: pointer;}
.td_span1:hover,.td_span_dj:hover{padding: 0px 5px;border-bottom: 1px solid #f67e44;color: #f67e44;cursor: pointer;}
.search_select select{width: 130px;height: 30px;border:1px solid #d5d5d5;color: #656565;}
.wro_p{width: 140px; height: 29px;padding-left: 20px;color: #ff4545;font: 12px/29px "Microsoft Yahei";float: right;}

/*****************end 零售商品定价维护****/

/*******************批发单个商品定价**********************/
.com_mon_pri1{margin-top: 20px;}
.fh{cursor: pointer; margin-left: -5px !important;}
.aI_tit_dc{color: #636363;font: 14px "Microsoft Yahei";margin:40px 80px;}
/*******************end 批发单个商品定价**********************/

/**********************零售单个商品定价*********************/
.J_drug{margin-top: -5px !important;}
.wro{margin-left:0px !important;}
.wro_p{position: absolute; width: 140px; height: 29px;padding-left: 20px;color: #ff4545;font: 12px/29px "Microsoft Yahei"; float:left; margin-left: 5px;top: 40px;left: 0px;}
.table_addpri{width: 100%;}
.table_addpri tr{height: 30px;}
.table_addpri td{padding:10px 5px;}
.add_td{vertical-align: top;width: 100px;text-align: right;color: #656565;font: 14px "Microsoft Yahei";}
.trw{height: 30px !important;}
.up_pp100{width:100px;color:#909090;vertical-align:top;}
.note_wrong1{background:url(../images/common/wricon2.png) no-repeat 1px 8px; }
.fl{float:left;}
/**********************零售单个商品定价*********************/


/*************财务管理*******/
.search_btn{cursor: pointer; font-size: 14px;padding: 2px 20px 4px 20px;background: #f67e44;border-radius: 5px;color: #fff; margin: 10px 30px; border: 1px solid #f67e44;}
.search_btn:hover{background:#eb6c30;}

.trade_pri_tb{width:1000px;text-align:center;padding-top:10px;border-top:1px solid #ededed;border-bottom:1px solid #ededed;table-layout: fixed;}
.trade_pri_tb tr td{height: 0px !important;text-align: center;}
.com_fin_title{background: #fff; width: 1000px;border:1px solid #e9e9e9;}
.div_input_co{margin-top: 150px;}
.com_fin_tit{height: 215px;}
.fin_mon_left{height: 135px;}
.le_p2 span{margin-left: 2px;}
.le_p2{background: url(../images/recruit/cw1.png) no-repeat 22px -35px;padding-left: 50px !important;}
.seatittim{float: left;margin-left: 10px; width: 70px;height: 30px;color: #575757;font: 14px/30px "Microsoft Yahei";text-align: right;padding-right: 2px;margin-top: 9px;}
.seatittim1{margin-left: 10px; width: 70px;height: 30px;color: #575757;font: 14px/30px "Microsoft Yahei";text-align: right;padding-right: 2px;margin-top: 9px;}
.seatittim i{color: #f35050;font: 14px "Microsoft Yahei";}
.searchTime{margin-top: 9px; float: left;width: 128px;height: 30px;border: 1px solid #dedede;cursor: pointer;padding-left: 8px;color: #757575;font: 12px/30px "Microsoft Yahei";border-radius: 4px;}
.J_id{position: relative; margin-top: 9px; float: left;width: 128px;height: 30px;border: 1px solid #dedede;cursor: pointer;padding-left: 8px;color: #757575;font: 12px/30px "Microsoft Yahei";border-radius: 4px;}
.div_id{position: relative;width: 138px;margin-left: 20px; float: left;}
.span_id{position: absolute;top: 17px;left: 10px;font: 12px "Microsoft Yahei";color: #999999;}
.seem{margin-top: 9px; float: left;width: 26px;height: 32px;color: #cbcbcb;font: 26px/30px "Microsoft Yahei";text-align: center;}
.sea_blue{margin-top: 9px; border: 1px solid #3aa2e4 !important;}
.searchBtn{float: left;width: 86px;height: 30px;background: #fe6d6d;color: #fff;font: 14px "Microsoft Yahei";border-radius: 4px;cursor: pointer;margin-left: 10px;}
.searchBtn:hover{background: #f75e5e;}
.com_sel{float: left;position:relative;margin-left: 20px;}
.com_sel p{width: 128px;height: 30px;background: url(../images/recruit/xl.png) no-repeat 115px 12px;border-radius: 4px;margin: 9px 0px; border: 1px solid #dedede;color:#575757;font:12px/30px "Microsoft Yahei";cursor:pointer;padding-left: 8px;}
.com_sel ul{z-index: 10; width:136px;position:absolute;left:0px;top:41px;border:1px solid #3aa2e4;border-top:0;background:#fff;}
.com_sel ul li{font:12px/26px Microsoft yahei;color:#575757;cursor:pointer;padding-left: 8px;}
.com_sel ul li:hover{background:#79beff !important;color:#fff !important;}
.p_on1{border:1px solid #3aa2e4 !important;background: url(../images/recruit/xl1.png) no-repeat 115px 12px !important;border-bottom-right-radius: 1px !important;border-bottom-left-radius: 1px !important;}
.td1{ white-space:nowrap;overflow:hidden;text-overflow: ellipsis;height: 50px !important;width: 150px !important;}
.trt_plus_sp{color: #f67e44 !important;}
.trt_minus_sp{color: #43a93e !important;}
.wu_div {width: 195px;height: 100px; background: url(../images/sellerCenter/notpur.png) no-repeat 0px 65px;color: #757575;font-size: 16px;padding-left: 92px; padding-top: 105px;}
/************* end 财务管理*******/

/**************提现**************/
.com_cash{width: 1000px;height: 50px;float: left;}
.com_cash p{display: block;float: left;padding: 15px 0px 15px 140px;}
.cash_all{background: url(../images/recruit/cw.png) no-repeat 15px 4px;padding-left: 50px !important;font: 16px "Microsoft Yahei";color: #656565;}
.cash_all span,.cash_ky span{color: #f67e44;font-size: 18px;}
.cash_ky{background: url(../images/recruit/cw.png) no-repeat 15px -150px;padding-left: 50px !important;margin-left: 100px;font: 16px "Microsoft Yahei";color: #656565;}
.cash_table{width: 700px;border:0px !important;}
.cash_table td{border:0px !important; font: 14px "Microsoft Yahei" !important;color: #656565 !important;height: 50px;padding:0px !important;}
.cash_td_le{text-align: right;width: 120px;}
.car_border{width: 545px;height: 50px;float: left;line-height: 50px;padding-left: 35px;background: url(../images/recruit/zxbank.png) no-repeat 4px 18px;}
.car_border span{padding: 0px 5px;color: #f67e44;cursor: pointer;}
.car_border span:hover{border-bottom: 1px solid #f67e44;}
.cash_td_le i{color: #f35050;padding: 0px 2px;}
.cashInput{float: left;height: 20px;width: 170px;border: 1px solid #d2d2d2;padding: 7px 0px 7px 9px;color: #575757;font: 14px "Microsoft Yahei";}
.provp{float: left;height: 35px;color: #ff4545;font: 12px/35px "Microsoft Yahei";padding-left: 24px;}
.prov_wrong {background: url(../images/common/wricon2.png) no-repeat 6px 10px;}
.prov_right {background: url(../images/common/wricon2.png) no-repeat 6px -75px;}
.prov_blue{border: 1px solid #4ca1e8 !important;}
.prov_red{border: 1px solid #ff4545 !important;}
.agree_cash{width: 100px;height: 35px;background: #f67e44;font: 14px "Microsoft Yahei";color: #fff;border-radius: 4px;cursor: pointer;}
.agree_cash:hover{background: #eb6c30;}
.hint_cash{width: 1000px;border-top: 1px solid #ecebeb;margin-top: 15px;}
.hint_cash{padding: 10px 20px;color: #909090;font: 14px "Microsoft Yahei";}
.cash_suc{min-height: 37px;color: #333;font: 14px/20px "Microsoft Yahei";background: url(../images/common/lay1.png) no-repeat 0px 0px;padding-left: 86px;margin: 32px 0px 0px 55px;}
.cash_hint {color: #ff4545;font: 14px/20px "Microsoft Yahei"; background: url(../images/common/wricon2.png) no-repeat 0px 3px;padding-left: 20px;}
/**************end 提现**************/

/*************社区主充值**************/
.cash_e{color: #656565;font: 14px "Microsoft Yahei";margin: 30px 30px 0px 87px;}
.cash_err{min-height: 37px;color: #333;font: 14px/20px "Microsoft Yahei";background: url(../images/common/lay2.png) no-repeat 0px 0px;padding-left: 86px;margin: 32px 0px 0px 55px;}
.bank_list{width:1000px;border-top:0;border:1px solid #d5d5d5;background: #fff;}
.bank_list ul{width: 800px;float: left;}
.bank_list ul li{width:160px; height:43px; text-align:center;border:1px solid #c0cce1;float:left;margin:15px 16px 0 1px;border-radius:2px;cursor:pointer;}
.bank_list ul li img{width:138px;height:33px;margin:5px 0 0 10px;display: block;}
.bank_more{font:14px/36px 'Microsoft Yahei';color:#f67e44;cursor:pointer;float: right;margin-right: 141px;}
.cause_on{border: 1px solid #ff5757 !important;background: url(../images/hs_pc_all/cause_on.png) no-repeat right bottom;}
.go_pay{width: 162px;height: 35px;background: #f67e44;color: #fff;font: 14px "Microsoft Yahei";margin: 30px 0px 30px 161px;border-radius: 4px;cursor: pointer;}
.go_pay:hover{background: #eb6c30;}
.pay_p{float: left;padding: 13px 0px 0px 90px;font: 14px "Microsoft Yahei";color: #656565;}
.pay_cash{margin: 30px 0px 10px 40px;font: 14px "Microsoft Yahei";color: #656565;}
.pay_cash i{color: #f35050;margin: 0px 4px 0px 0px;}
.pay_tit{float: left;margin-top: 5px;}
.pay_span{float: left;margin-top: 6px;margin-left: 10px;}
.input_pay{float: left; width: 170px;height: 20px;border:1px solid #d9d9d9;padding: 5px 0px 5px 5px;font: 14px "Microsoft Yahei";}
.please_selspan{ font:12px Microsoft Yahei;padding-left:10px;color:#f67e44;}
.topaysBtn p{color: #f67e44;font: 14px "Microsoft Yahei";padding: 0px 0px 20px 155px;}
/*支付完成后返回弹窗*/
.returnTopay p{ width: 378px; margin: 0 auto; height: 64px;border: 1px solid #ffb076;background: #ffeee2; margin-top: 65px;}
.returnTopay p span{display: block; width: 240px; height: 32px; margin: 0 auto; padding-left: 32px; padding-top: 13px; color: #ff6c05; font-size: 14px; background: url(../images/hs_pc_all/tanhao.png) no-repeat 7px 15px; }
.returnTopay_btn{margin-top: 70px; margin-left: 125px;}
.Rt_btn1{ width: 90px; height: 26px; background: #fafafa; border: 1px solid #dadada; color: #555555; font-size: 12px; font-family: "微软雅黑"; cursor: pointer;}
.Rt_btn2{ width: 90px; height: 26px; background: #ff822a; border: 1px solid #ff6900; color: #fff; font-size: 12px; font-family: "微软雅黑"; margin-left: 36px; cursor: pointer;}
/*end 支付完成后返回弹窗*/
/*************end 社区主充值**************/

/*************银行卡变更************/
.bank_change{width:1000px;border-top:0;border:1px solid #e9e9e9;background: #fff;}
.change_tb{width: 600px;height: 290px;margin:40px 0 40px 200px;}
.change_tb td{color: #656565;font: 14px "Microsoft Yahei";}
.em{color: #f67e44;font-size: 12px;font-style: normal;display: block;}
.cart_submit{margin-left: 10px;border-radius: 4px;color: #fff;text-align: center;cursor: pointer; width: 149px; height: 30px;background: #f67e44;}
.cart_submit:hover{background: #eb6c30;}
.change_td{width: 100px;text-align: right;}
.cart_pay{width: 260px;height: 20px;float: left;border:1px solid #e9e9e9;color: #646464;font: 14px "Microsoft Yahei";padding: 5px 0px 5px 8px;}
.change_td1{width: 200px;height: 50px;}
.em10 {vertical-align: top; line-height: 30px !important;}
.change_no{vertical-align: top;}
.note_p{width: 205px;height: 35px;padding-left: 25px;color: #ff4545;font: 12px/35px "Microsoft Yahei";margin-left: 0px;}
.note_wrong{background:url(../images/common/wricon2.png) no-repeat 6px 10px; }
.note_right{background:url(../images/common/wricon2.png) no-repeat 6px -73px; }
.b_blue{border:1px solid #3998e4 !important;}
.b_red{border:1px solid #ff4545 !important;}
.mr_span{color: #a9a9a9;position: absolute;top: 19px;left: 10px;}
.change_td2{position: relative;}
/*************end 银行卡变更************/

/***************银行卡管理*************/
.com_bank_cart{width: 1000px;min-height:200px; border:1px solid #e9e9e9;background: #fff; }
.com_cart_tit{position: relative;float: left;margin-right: 20px; width: 300px;height: 170px;border:1px solid #e9e9e9;border-radius: 2px;margin-top: 15px;margin-left: 10px;}
.com_cart_name{width: 300px;height: 32px; margin-top: 5px;}
.name_tit{height: 32px;width: 200px;color: #656565;font: 14px/40px "Microsoft Yahei";padding-left: 20px; }
.name_tit .name_tit_space{padding:0 3px 0 4px;}
.name_tit_bank{background: url(../images/recruit/jhbank.png)no-repeat 80px 0px;color: #656565;font: 14px/35px "Microsoft Yahei";padding-left: 105px; }
.com_cart_xix{position: relative; height: 40px;width: 270px;float: left; color: #656565;font: 14px/40px "Microsoft Yahei";padding-left: 20px;}
.com_cart_xix span{height: 40px;padding: 0px 10px;position: absolute;}
.com_cart_xix1{position: relative; width: 270px;float: left; color: #656565;font: 14px "Microsoft Yahei";padding-left: 20px;margin-top: 3px;}
.com_cart_xix1 span{height: 40px;position: absolute;width: 200px;}
.com_cart_change{position: absolute;bottom: 0px; width: 280px; height: 35px;background: #f9f9f9;padding-left: 20px;left: 0px;}
.com_cart_change a{color: #505050;font: 12px/35px "Microsoft Yahei";}
.com_cart_change a:hover{color: #f67e44;text-decoration:underline;}
.change_td i{color: #f67e44;margin-right: 4px;}
/***************end 银行卡管理*************/


/************退货单管理*****************/
.w420{width: 420px !important;}
.w124{width: 124px !important;}
.w144{width: 160px !important;}
.w133{width: 133px !important;}
.w149{width: 149px !important;}
.w535{width: 535px !important;}
.w143{width: 143px !important;}
.vessel_cont{width: 1000px;height: 138px;border: 1px solid #e1e6eb;background: #fff;}
.vessel_cont p{float: left;color: #575757;font-size: 14px;}
.vessel_dh select{color:#434343;font: 12px/30px "Microsoft Yahei"; width: 124px;padding-left: 4px; height: 30px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; margin-right: 8px;}
.vessel_name input{color:#909090;font: 12px "Microsoft Yahei";width: 164px;padding: 4px 0px 4px 4px;height: 20px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; margin-right: 10px;}
.vessel_time input{color:#434343;font: 12px "Microsoft Yahei"; width: 104px;padding: 4px 0px 4px 4px;height: 20px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; cursor: pointer;}
.vessel_cont_top{ margin-top: 20px; padding-left: 20px;}
.vessel_cont_top .vessel_btn{float: left;width: 80px;height: 30px;background: #ff8484 url(../images/sellerCenter/derIcon.png) no-repeat 18px 8px;border: 1px solid #ff6565;border-radius: 2px;color: #fff;font: 12px "Microsoft Yahei";padding-left: 16px;cursor: pointer;margin-left: 20px;}
.vessel_cont_top .vessel_btn:hover{background: #fe6767 url(../images/sellerCenter/derIcon.png) no-repeat 18px 8px;border: 1px solid #fe6767;}
.vessel_cont_top .derive_btn{float: left;width: 80px;height: 30px;width: 80px;height: 30px;background: #54adff url(../images/sellerCenter/derIcon.png) no-repeat 8px -80px;border: 1px solid #349eff;border-radius: 2px;color: #fff;font: 12px "Microsoft Yahei";padding-left: 16px;cursor: pointer;margin-left: 20px;}
.vessel_cont_top .derive_btn:hover{background: #349eff url(../images/sellerCenter/derIcon.png) no-repeat 8px -80px;border: 1px solid #349eff;}
.vessel_zt{ height: 49px; line-height: 49px; border-top: 1px dashed #e3e3e3; padding-left: 20px; margin-top: 26px;}
.vessel_zt span{ color: #575757; font-size: 14px;}
.vessel_zt a{ color: #2779be; font-size: 14px; margin-left: 30px; padding: 1px 4px;}
.vessel_zt_on{ background: #2779be; border-radius: 2px; color: #fff !important;}
.pur_cont{padding: 20px 0px 20px 0px;text-align: center; width: 1000px;margin: 0 auto;margin-top: 14px;background: #fff;}
.pur_cont_p{color: #646464;font: 14px/30px "Microsoft Yahei";}
.pur_cont_tit{width: 1000px;height: 40px;margin-bottom: 12px;background:#fff6ed;border-top:1px solid #feeed7;border-bottom:1px solid #feeed7;}
.w80{width: 80px;}
.w360{width: 360px;}
.w400{width: 400px !important;}
.w114{width: 110px !important;padding-left: 4px;}
.w124{width: 124px !important;}
.w103{width: 103px !important;}
.w133{width: 133px !important;}
.w96{width: 96px !important;}
.pur_cont_tit li{ float: left; color: #646464; font-size: 14px; line-height: 40px; text-align: center;}
.table_single{width: 980px;margin: 0 auto;border: 1px solid #efefef;margin-bottom: 18px;}
.ts_message{border:0px !important; height: 34px; line-height: 34px; background: #f9f9f9; font-weight: normal; padding-left: 16px; text-align: left;}
.ts_message p{ float: left;}
.ts_message p span{ color: #999; font-size: 12px; margin-left: 0px;}
.ts_message p em{ font-style: normal; color: #666; font-size: 12px; margin-right: 35px;}
.ts_message a{ display: block; float: right; width: 12px; height: 14px; background: #f9f9f9 url(../images/sellerCenter/ts_remark.png) no-repeat 0px 0px; margin-right: 30px; margin-top: 11px;}
.table_single tr td{ padding-top: 10px; padding-bottom: 20px; border-left: 1px solid #efefef;}
.ts_good,.ts_good2{ margin-top: 10px; margin-left: 16px;}
.ts_good img,.ts_good2 img{ width: 58px; height: 58px; border: 1px solid #f9f9f9; float: left;}
.ts_good a{display: block; color: #666; font-size: 12px; float: left; width: 290px; margin-left: 10px;height: 35px;overflow: hidden;text-align: left;}
.ts_good em{float:left;height: 22px;overflow: hidden;margin-left: 10px;font: 12px/22px Microsoft Yahei;color: #acacac;text-align: left;}
.ts_good2 a{display: block; color: #666; font-size: 12px; float: left; width: 200px; margin-left: 10px;height: 35px;}
.ts_jg{ color: #666; font-size: 12px; text-align: center; height: 70px; line-height: 70px;}
.ts_num{ color: #323232; font-size: 12px; text-align: center; height: 70px; line-height: 70px; margin-left: 50px;}
.ts_zjg{ text-align: center; line-height: 16px;}
.ts_zjg p{ color: #666; font-size: 12px; font-weight: bold;}
.ts_zjg span{ color: #999; font-size: 12px;}
.ts_zt{ text-align: center; font-size: 12px;}
.ts_zt_dfu{ color: #ff6161;}
.dfu_span{ color: #bcbcbc; font-size: 12px; display: block; width: 86px; margin: 0 auto;}
.ts_zt_dfa{ color: #ff6c00;}
.ts_zt_ds{ color: #403f3f;}
.ts_txq{ color: #3996e4; font-size: 12px; text-align: center; cursor: pointer;margin-top:5px;}
.ts_surplus{ color: #bcbcbc; font-size: 12px; background: url(../images/sellerCenter/pur_icon.png) no-repeat 31px -197px; padding-left: 20px; text-align: center; margin-bottom: 4px;}
.ts_payBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #ff4b4b; border-radius: 3px; color: #ff6161; font-size: 12px; margin-bottom: 6px;}
.ts_payBtn:hover{ border: 1px solid #ff6161; background: #ff6161; color: #fff;}
.ts_cancelBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #f5f4f4; border-radius: 3px; background: #f5f4f4; color: #666; font-size: 12px; margin-bottom: 6px;}
.ts_cancelBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
.ts_affirmBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.ts_affirmBtn:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}
.ts_againBtn{ display: block; width: 86px; height: 22px; text-align: center; line-height: 22px; border: 1px solid #f5f4f4; border-radius: 3px; background: #f5f4f4; color: #666; font-size: 12px; margin-bottom: 6px;}
.ts_againBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
.lspf{color: #666;font-size: 12px; text-align: center;}
.shipmentsBtn{cursor: pointer; display: block; width: 70px; height: 20px; text-align: center; line-height: 20px; border: 1px solid #3996e4; border-radius: 3px; color: #3996e4; font-size: 12px; margin-bottom: 6px;}
.shipmentsBtn:hover{ border: 1px solid #3996e4; background: #3996e4; color: #fff;}
.h50{width: 100%;height: 50px;}
.table_single tr td{border-top: 0px !important;}
.oinfo_panel p {padding-left: 55px; font: 14px/36px Microsoft yahei;color: #646464; margin: 10px 10px 0 0;}
.oinfo_panel p i{color: #f35050;margin-left: 4px;}
.refuseBtn:hover{ border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
.refuseBtn {cursor: pointer; width: 70px; height: 20px;text-align: center;line-height: 22px;border: 1px solid #f5f4f4;border-radius: 3px;background: #f5f4f4;color: #666;font-size: 12px; margin-bottom: 6px;}
.oinfo_panel textarea {margin-left: 55px; border: 1px solid #efefef; width: 260px;padding-left: 5px; height: 78px;font: 14px/24px Microsoft yahei;color: #646464;}
/************end 退货单管理*****************/

/*************退货单详情*************/
.agrreturn{cursor: pointer; margin-top: -5px;border-radius: 4px; width: 120px;height: 30px;background: #f67e44;text-align: center;color: #fff;font: 14px "Microsoft Yahei";float: right;}
.refuse{margin-left: 20px;}
.retim{*margin-top: -32px !important;}
.look_a{color: #f67e44;}
.look_a:hover{color: #f67e44;text-decoration:underline;}
/*************end 退货单详情*************/

/*****************订单详情*******************/
.tim{float: left;left: 0px; margin-top: 3px;}
.center_top div{width: 450px; color: #636363;font: 12px "Microsoft Yahei";float: right;*margin-top: -35px;}
.agrorder{cursor: pointer; margin-top: -2px;border-radius: 4px; width: 100px;height: 26px;background: #f67e44;text-align: center;color: #fff;font: 14px "Microsoft Yahei";float: right;}
.agrorder:hover{background: #eb6c30 !important;}
.order_div{width: 1000px;height: 90px;}
.order_table{border:0px;background: #fff;width: 100%;}
.order_title{width: 1000px; border: 1px solid #e9e9e9;}
.order_table th{text-align: center; color: #636363;font: 12px "Microsoft Yahei";border-top: 1px solid #ffeed8;border-bottom: 1px solid #ffeed8;}
.order_table tr{text-align: left;font: 12px "Microsoft Yahei";}
.order_table tr td{border-bottom: 0px !important;color: #737373;padding:10px;}
.order_title1{margin-top: 10px;}
.td_end{border-right: 0px !important;}
.order_td{text-align: left !important;}
.order_title2{margin-top: 10px; width: 1000px; border-bottom: 0; position: relative;}
.order_title2 .order_table{border-bottom: 1px solid #e9e9e9;}
.beizhu{border-bottom: 1px solid #e9e9e9; color: #747474; font: 12px "Microsoft Yahei";margin-top: 10px;width: 1000px;}
.beizhu span{float:left;}
.beizhu p{padding: 0px 20px 8px 40px;margin:0px 0px 10px 0px;}
/*****************订单详情*******************/

/***************修改登陆密码****************/
.pwd_change{width:1000px;border-top:0;border:1px solid #e9e9e9;background: #fff;}
.changepwd_tab{width: 650px;margin:40px 0 40px 200px;}
.changepwd_tab td{color: #656565;font: 14px "Microsoft Yahei";}
.em{color: #f67e44;font-size: 12px;font-style: normal;display: block;}
.cart_submit{margin-left: 10px;border-radius: 4px;color: #fff;text-align: center;cursor: pointer; width: 149px; height: 30px;background: #f67e44;}
.cart_submit:hover{background: #eb6c30;}
.pwd_td{width: 125px;text-align: right;}
.pwd_td i{color: #f67e44;margin-right: 4px;}
.pwd_old,.pwd_new,.pwd_new2{width: 260px;height: 20px;float: left;border:1px solid #e9e9e9;color: #646464;font: 14px "Microsoft Yahei";padding: 8px 0px 5px 8px;}
.pwd_td em,.pwd_td1 em{display: block;color: #999; font: 12px "Microsoft Yahei"; position: absolute; top: 17px;left: 8px;}
.pwd_td1{width: 270px;height: 50px;position: relative;}
.pwd_btn{font:16px "Microsoft Yahei"; border-radius: 4px;color: #fff;text-align: center;cursor: pointer; width: 170px; height: 36px;background: #f67e44;}
.pwd_btn:hover{background: #eb6c30;}
.forgetpwd{display: block;color: #1a53ff;font: 12px "Microsoft Yahei";margin: 10px 0px 0px 18px;text-decoration: underline !important;}
/***************end 修改登陆密码****************/

/*************找回支付密码*************/
.pho_td{width: 110px;height: 50px;text-align: right;}
.pho_td1{width: 300px;height: 50px;position: relative;}
.tr_time{display: none;height: 30px;}
.ph_code{width: 190px;height: 20px;border:1px solid #e9e9e9;color: #646464;font: 14px "Microsoft Yahei";padding: 8px 0px 8px 5px;}
.code{width: 100px;height: 36px;color: #656565;text-align: center; cursor: pointer;background: #e0e0e0;border: 1px solid #ddd;}
.cgray{color: #909090;cursor: not-allowed;}
.but_tr{height: 50px;}
.scont{color: #f35050;padding: 0px 5px;}
.code_p{padding:0px 0px 0px 20px;background: url(../images/common/wricon3.png) no-repeat 0px -182px;}
.pho_td1 em{display: block;color: #999;font: 12px "Microsoft Yahei"; position: absolute;top: 17px;left: 8px;}
.change_div{color: #646464;width: 710px;border-bottom: 1px solid #eee; padding: 20px;}
/*************end 找回支付密码*********/


/*无信息时*/
.notpur{width: 980px;height: 100px;padding-top: 69px;}
.notpur p {width: 82px;height: 85px;background: url(../images/sellerCenter/notpur.png) no-repeat 0px 0px;color: #757575;font-size: 16px;padding-left: 92px;
    padding-top: 30px;}
.notpur p a{color: #ff6161;text-decoration: underline;}
.wtd{padding:0px 0px !important;}

/*通用小分页*/
.mg_page_wrap{width: 964px;height: 34px;border: 1px solid #efefef;padding: 10px 10px 10px 0px;}/*管理*/
.page{float: right;width: 334px;height: 34px;border-left: 1px solid #ddd;margin-top: 20px;}
.page a{float: left;display: block;width: 32px;height: 32px;border: 1px solid #ddd;border-left: none;color: #797979;font: 12px/32px "Microsoft Yahei";text-align: center;}
.page a:hover{color: #ff8484;}
.page_prev{background: url(../images/common/pageIcon.png) no-repeat 13px 13px;}
.page_next{background: url(../images/common/pageIcon.png) no-repeat 13px -27px;}
.page_prev:hover{background: url(../images/common/pageIcon.png) no-repeat 13px -187px;}
.page_next:hover{background: url(../images/common/pageIcon.png) no-repeat 13px -147px;}
.page_prev_jin,.page_prev_jin:hover{background:#f4f4f4 url(../images/common/pageIcon.png) no-repeat 13px -67px;cursor: not-allowed;}
.page_next_jin,.page_next_jin:hover{background:#f4f4f4 url(../images/common/pageIcon.png) no-repeat 13px -107px;cursor: not-allowed;}
.page_text{float: left;width: 30px;height: 20px;border: 1px solid #ddd;padding: 6px 4px;color: #797979;font: 12px "Microsoft Yahei";margin-left: 19px;}
.page_btn{float: left;width: 34px;height: 34px;border: 1px solid #ddd;background: #f7f7f7;color: #333;font: 12px "Microsoft Yahei";margin-left: 9px;cursor: pointer;}
.page_btn:hover{color: #ff8484;}
.page_on{border: 1px solid #ff8484 !important;border-left: none !important;background: #ff8484 !important;color: #fff !important;}
/*通用小分页*/



/***********底-footer***********/
.s_footer_wrap{ width: 100%; border-top: 2px solid #f25149; background: #fff; margin-top: 50px;}
.s_footer{ width: 1200px; margin: 0 auto;}
.s_footer ul{ margin-top: 28px; padding-bottom: 50px;}
.s_footer ul li{ color: #646464; font-size: 12px; text-align: center; margin-bottom: 16px;}
.s_footer ul li a{ color:#646464;}
.footPhone{vertical-align: middle;margin-top: -4px;margin-right: 4px;}
.s_footerAd{ width: 642px; height: 38px; margin-bottom: 30px !important;}
.sf_jc{ width: 108px; height: 40px; margin-left: 50px;}
/***********end 底-footer***********/