@charset "utf-8";
@import url('hs_common.css');


/*头部*/
.gd_logo{ width: 1200px; height: 89px;}
.gd_logo img{ width: 300px; height: 80px; margin-top: 4px;}
/*end 头部*/

/*导航*/
.hs_nav_wrap{width: 100%;height: 40px;border-bottom: 2px solid #10b863;}
.hs_nav{width: 1200px;height: 42px;}
.nav_cateall{float: left;width:200px;height:42px;color: #fff;font: 16px/40px "Microsoft Yahei";text-align: center;background: #10b863;}
.nav_nav{float: left;width: 700px;height: 42px;}
.nav_nav a{float: left;display: block;height: 42px;padding: 0 30px;color: #323232;font: 16px/42px "Microsoft Yahei";}
.nav_nav a:hover{ color: #0b9650;}
.nav_ad{float: right;overflow: hidden;}
.list_cata_wrap{width: 1200px;position: absolute;left: 50%;margin-left: -600px;z-index: 9999;}
.list_cata{width: 1200px;height: 326px;position: relative;}
/*end 导航*/

/*产品分类导航*/
.cata_tit{width: 190px;height: 326px;background: #0b9650;float: left;}
.cata_tit li{width: 190px;height: 40px;float: left;}
.cata_tit a{display: block;color: #fff;font: 14px/40px "Microsoft Yahei";padding-left: 52px;background: url(../images/common/grpIcon1.png) no-repeat 172px -305px;}
.cata_tit li:hover{background: #fafafa;}
.cata_tit li:hover a,.mgd_1 a,.mgd_2 a,.mgd_3 a,.mgd_4 a,.mgd_5 a,.mgd_6 a,.mgd_7 a,.mgd_8 a,.mgd_9 a,.mgd_10 a,.mgd_11 a,.mgd_12 a,.mgd_13 a{ color: #0b9650 !important;}
.cata_s1{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px 13px;}
.cata_s2{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -31px;}
.cata_s3{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -75px;}
.cata_s4{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -119px;}
.cata_s5{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -163px;}
.cata_s6{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -207px;}
.cata_s7{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -251px;}
.cata_s8{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -295px;}
.cata_s1:hover,.mgd_1{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px 13px !important;}
.cata_s2:hover,.mgd_2{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -31px !important;}
.cata_s3:hover,.mgd_3{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -75px !important;}
.cata_s4:hover,.mgd_4{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -119px !important;}
.cata_s5:hover,.mgd_5{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -163px !important;}
.cata_s6:hover,.mgd_6{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -207px !important;}
.cata_s7:hover,.mgd_7{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -251px !important;}
.cata_s8:hover,.mgd_8{ background: #fafafa url(../images/hs_index/cataIcon_on2.png) no-repeat 21px -295px !important;}
.cata_cont{width: 1020px;min-height: 326px;position: absolute;top: 0px;left: 190px;}
.cata_single{width: 738px;min-height: 325px;margin: 0;padding: 0px 20px;background: #fafafa;border-bottom: 1px solid #0b9650;position: absolute;z-index: 9999;}
.cata_single li{padding: 12px 0px;border-bottom: 1px dashed #eee;}
.cata_single li a{ float: left;}
.caTit{float: left;margin-right: 18px;}
.caTit a{display: block;width: 74px;padding-left: 6px;height: 20px;background: #a79e9e url(../images/hs_index/arrowsR.png) no-repeat 59px -80px;color: #fff;font: 12px/20px "Microsoft Yahei";}
.caList{float: left;width: 640px;}
.caList a{display: block;color: #646464;font: 12px/20px "Microsoft Yahei";margin-right: 20px;height: 20px;}
.caList a:hover{color: #0b9650;text-decoration: underline;}
.cata_ad{position: absolute;left: 50%;top: 0px;margin-left: 268px;width: 232px;min-height: 325px;background: #fafafa;border-bottom: 1px solid #0b9650;border-right: 1px solid #0b9650;z-index: 9999;}
.ad_shang{width: 231px;height: 155px;}
.ad_xia{width: 231px;height: 170px;}
/*end 产品分类导航*/

/********************************** 零售-商品列表页css ********************************/
.list_content{width:1200px;}
.list_tt{width:1200px;height: 32px;padding-top: 8px;}
.list_crumbs{float: left;height: 24px;}
.list_crumbs em{float: left;color: #646464;font: normal 14px/24px "Microsoft Yahei";}
.list_crumbs span{float: left;color: #6b6b6b;font: 14px/24px "Microsoft Yahei";padding: 0px 2px;}
.list_crumbs .cru1{float: left;display: block;height: 24px;color: #646464;font:12px/24px "Microsoft Yahei";padding: 0px 2px;}
.list_crumbs .cru2{float: left;display: block;height: 22px;padding: 0px 19px 0px 4px;position: relative;color: #646464;font:12px/22px "Microsoft Yahei";border: 1px solid #e8e8e8;}
.list_crumbs .cru2 i{position: absolute;top: 8px;right: 6px;background: url(../images/common/cruIcon.png) no-repeat 0px 0px;display: block;width: 7px;height: 7px;}
.list_crumbs .cru2:hover{border: 1px solid #10b863;}
.list_crumbs .cru2:hover i{background: url(../images/common/cruIcon2.png) no-repeat -17px 0px;}
.list_owned{float: left;height: 24px;color: #666;font: 12px/24px "Microsoft Yahei";padding-left: 20px;}
.list_supplier{ width:550px; height:24px; float:right; position:relative;}
.list_supplier ul li{ float:right; font:12px/24px "Microsoft Yahei"; }
.list_supplier ul li a{ color:#666;}
.list_supplier ul li a:hover{ color:#e8393c;}
.supplier_1{ width:330px; font:12px/24px "Microsoft Yahei";margin-right:20px; text-align:right;}
.supplier_2{ width:100px; background: url(../images/gd_img/gd_contact.png) no-repeat left; background-position:0px 6px; padding-left:20px; margin-right:75px;}
.supplier_3{position:absolute; right:10px; top:0; font:12px/24px "Microsoft Yahei"; color:#666;}
.list_box{width: 1198px;border: 1px solid #e6e6e6;background: #fff;}
.listpp{border-bottom: 1px dashed #e7e7e7;background: #f5f5f5;position: relative;}
.listpp_tit,.listjg_tit,.listgys_tit{float: left;width: 68px;height: 34px;color: #999;font: 12px/34px "Microsoft Yahei";text-align: right;padding-right: 12px;}
.listpp_cont,.listgys_cont{float: left;width: 900px;padding: 7px 0px;background: #fff !important;padding-right: 218px;}
.listpp_cont a,.listgys_cont a{float: left;display: block;color: #575757;font: 12px/24px "Microsoft Yahei";padding-left: 20px;white-space:nowrap;}
.listjg{width: 1198px;height: 34px;border-bottom: 1px dashed #e7e7e7;}
.listjg_tit{background: #f5f5f5;}
.listjg_cont{float: left;}
.listjg_cont a{float: left;display: block;color: #575757;font: 12px/34px "Microsoft Yahei";padding-left: 20px;}
.sea_jg_div{width: 150px;height: 18px;float: left;padding: 8px 0px 0px 60px;}
.seajg_text{float: left;width: 38px;height: 16px;border: 1px solid #e4e4e4;color: #575757;font: 12px/16px "Microsoft Yahei";}
.seajg_em{float: left;width: 20px;height: 18px;color: #ddd;font: 18px/18px "Microsoft Yahei";text-align: center;}
.seajg_btn{float: left;width: 40px;height: 18px;border: 1px solid #c9c9c9;background: #f8f8f8;color: #797979;font: 12px/16px "Microsoft Yahei";*font: 12px/14px "Microsoft Yahei";margin-left: 10px;cursor: pointer;overflow:hidden;}
.seajg_btn:hover{border: 1px solid #d32c2c;background: #fff;color: #d32c2c;}
.listgys{background: #f5f5f5;position: relative;}
.pp_more,.gys_more{width: 50px;height: 18px;position: absolute;background: url(../images/hs_list/listIcon.png) no-repeat 30px 0px;right: 8px;top: 8px;color: #878787;font: 12px/18px "Microsoft Yahei";}
.pp_more:hover,.gys_more:hover{background: url(../images/hs_list/listIcon.png) no-repeat 30px -40px;color: #d32c2c;}
.more_on{background: url(../images/hs_list/listIcon.png) no-repeat 30px -80px;color: #d32c2c !important;}
.mt10{margin-top: 10px;}
.mt0{margin-top: 0px !important;}
.list_hotsell{float:left;width:188px;border:1px solid #e6e6e6;border-top:2px solid #c9c9c9 !important;background:#fff;}
.hotsell_tt{width: 172px;height: 36px;color:#474747;font:16px/36px "Microsoft Yahei";padding-left: 16px;}
.list_hotsell dl{margin:20px 14px 20px 14px;}
.list_hotsell dl dt{position:relative; margin-bottom: 6px;}
.list_hotsell dl dt p{position:absolute;width:20px;height:20px;background:url(../images/hs_list/listIcon.png) no-repeat 0px -130px;top:2px;right:10px;}
.list_hotsell dl dt img{width:170px;height:170px;}
.list_hotsell dl dd{padding-left:15px;}
.list_hotsell dl dd a{color:#575757;font: 12px/16px "Microsoft Yahei";}
.list_hotsell dl dd a:hover{color:#f40;}
.list_hotsell dl dd span{color:#e4393c;font: 16px/22px "Microsoft Yahei";}
.list_hotsell dl dd em{font-size: 12px;font-style: normal;}
.list_contri{float:right;width:981px;}
.listcont_div_tt{width:979px;height:42px;border:1px solid #e8e8e8;background:#fafafa;}
.listcont_div_tt ul{float:left;height:23px;font:14px Microsoft Yahei;border:1px solid #ddd;overflow:hidden;margin:9px 0 0 10px;}
.listcont_div_tt ul li{color:#333;display:inline;float:left;border-right:1px solid #ddd;padding:1px 15px 2px 15px;cursor:pointer;}
.listcont_div_tt ul li a{color:#333;}
.listcont_div_tt ul li:last-child{border:0;}
.listcont_div_tt ul li i{background:url(../images/hs_list/licon.png) no-repeat -13px -147px;padding:2px 3px;margin-left:8px;}
.list_filt{width: 270px;height: 24px;float: left;margin: 6px 0px 0px 10px;}
.list_filt a{display: block;float: left;height: 22px;padding: 0px 12px;border-top: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;color: #333;font: 12px/22px "Microsoft Yahei";background: #fff;}
.list_filt i{background: url(../images/hs_list/listIcon.png) no-repeat 0px -174px;padding: 2px 3px;margin-left: 2px;}
.filt_on{background: #f25149 !important;color: #fff !important;}
.filt_on i{background: url(../images/hs_list/listIcon.png) no-repeat 0px -214px !important;}
.filt_jg_on{background: #f25149 !important;color: #fff !important;}
.filt_jg_on i{background: url(../images/hs_list/listIcon.png) no-repeat 0px -194px !important;}
.fsbl{border-left: 1px solid #ccc;}
.filt_search{width: 264px;height: 24px;float: left;margin: 6px 0px 0px 10px;}
.fsInput_p{float: left;width: 120px;height: 24px;position: relative;}
.fsInput_p input{float: left;width: 113px;height: 22px;padding-left: 6px;border: 1px solid #d1d1d1;background: #fff;color: #575757;font: 12px/22px "Microsoft Yahei";}
.fsInput_p span{display: block;height: 24px;color: #a9a9a9;font: 12px/24px "Microsoft Yahei";position: absolute;top: 0px;left: 7px;}
.fsBtn{float: left;cursor: pointer;width: 54px;height: 24px;border: 1px solid #d1d1d1;background: #f3f3f3;color: #333;font: 12px/20px "Microsoft Yahei";}
.fsBtn:hover{color: #d32c2c;}
.sea_blue{border: 1px solid #3aa2e4 !important;}
.onlyshow{float: left;display: block;width: 14px;height: 14px;background: url(../images/common/grpIcon1.png) no-repeat 0px -580px;margin: 6px 4px 0px 10px;}
.onlyshow_p{float: left;color: #333;font: 12px/24px "Microsoft Yahei";}
.onlyshow_on{background: url(../images/common/grpIcon1.png) no-repeat 0px -620px;}
.filt_page{height: 24px;float: right;margin: 6px 10px 0px 0px;}
.filt_page_num{float: left;color: #666;font: 12px/24px "Microsoft Yahei";margin-right: 10px;}
.filt_page_num span{color: #e4393c;}
.filt_page_prev{width: 22px;height: 22px;background:#fff url(../images/hs_list/listIcon.png) no-repeat 7px -265px;}
.filt_page_next{border-left: 0px !important;width: 23px;height: 22px;background:#fff url(../images/hs_list/listIcon.png) no-repeat 7px -305px;}
.filt_page_prev,.filt_page_next{float: left;display: block;border: 1px solid #e0e0e0;}
.fp_prev_jin{background:#f1f1f1 url(../images/hs_list/listIcon.png) no-repeat 7px -345px !important;border: 1px solid #ddd !important;cursor: not-allowed !important;}
.fp_next_jin{background:#f1f1f1 url(../images/hs_list/listIcon.png) no-repeat 7px -385px !important;border: 1px solid #ddd !important;cursor: not-allowed !important;}	
.blank_20{width:100%;height:20px;}
.blank_pbt20{width:100%;border-top:1px solid #f5f5f5;padding-top:19px;}
.listcont_1000{width:1000px;}
.listcont_div_signle{float:left;width:230px;padding: 10px 10px 10px 10px;}
.listcont_div_signle:hover{box-shadow:0px 0px 10px #ddd;}
.listcont_div_signle dl{position:relative;}
.listcont_div_signle dl dt{width:200px;height:200px;overflow: hidden;}
.listcont_div_signle dl dt img{width:200px;height:200px;}
/*规格*/
.single_smpic{width: 230px;height: 28px;margin-top: 10px;position: relative; overflow:hidden;}
.single_sm{padding: 0px 12px;height: 28px;overflow: hidden;position: absolute;top: 0px;left: 0px;width: 1000px;}
.single_sm a{display: block;float: left;}
.sma{height: 25px;background: url(../images/hs_list/staIcon.png) no-repeat 0px -125px;padding: 0px 0px 0px 15px;margin: 2px 0px 1px 0px;}
.single_sm span{display: block;height: 23px;border:1px solid #dedede;border-left: 0px;border-radius: 0px 5px 5px 0px;padding: 0px 6px 0px 4px; margin-right: 10px;color: #575757;font: 10px/23px "Microsoft Yahei";text-align: center;}
.smha{background: url(../images/hs_list/staIcon.png) no-repeat 0px -95px;}
.smha span{border:1px solid #e4393c;border-left: 0px;}
.single_sm img{display: block;width: 26px;height: 26px;border:1px solid #ddd;margin-right: 10px;}
.smimg{border:1px solid #e4393c !important;}
.smleft,.smright{position: absolute;top: 0px;width: 6px;height: 28px;cursor: pointer;z-index: 2;}
.smleft{left: 0px;background: url(../images/hs_list/staIcon.png) no-repeat 0px 0px;}
.smright{right: 0px;background: url(../images/hs_list/staIcon.png) no-repeat -9px 0px;}
/*end 规格*/
.ii_p_hot{position:absolute;width:20px;height:20px;background:url(../images/hs_list/listIcon.png) no-repeat 0px -130px;top:2px;right:10px;}
.listcont_div_signle dl dd a:hover{color:#f40;}
.lssingle_jg{width: 224px;padding-left: 6px;height: 22px;margin-top:10px;color: #e4393c;font:bold 12px/22px "Microsoft Yahei";}
.lssingle_jg span{color: #e4393c;font:bold 16px/22px "Microsoft Yahei";}
.lssingle_jg .single_zxl_em{float:right;color:#909090;font: normal 12px/22px "Microsoft Yahei";padding-right: 6px;}
.list_tt_dd{height:48px;line-height:22px !important;overflow: hidden;}
.list_tt_dd a{display: block;width: 217px;padding: 0px 8px 0px 7px;height: 44px;overflow: hidden;color: #575757;font: 14px/22px "Microsoft Yahei";}
.lssingle_info{width: 228px;height: 28px;border: 1px solid #f0f0f0;}
.signle_lp{float:left;width:146px;height:28px;padding-left:22px;margin-left: 4px;color:#646464;font:12px/28px "Microsoft Yahei";text-align:left;}
.signle_has,.signle_no{float:right;width:40px;height:28px;color:#646464;font:12px/28px "Microsoft Yahei";text-align:right;margin-right: 6px;}
.signle_has{background: url(../images/hs_list/listIcon.png) no-repeat 0px -435px;}
.signle_no{background: url(../images/hs_list/listIcon.png) no-repeat 0px -479px;}
.gd_logo_ic{background:url(../images/hs_list/checkbox_i.png) no-repeat 0px -53px;}
.pt_logo_ic{background:url(../images/hs_list/checkbox_i.png) no-repeat 0px -112px;}
.hn_logo_ic{background:url(../images/hs_list/checkbox_i.png) no-repeat 0px -82px;}
.page_on{color:#e4393c !important;border:0 !important;}
/**********************************end  零售-商品列表页css ********************************/

/********************************** 商品详情页css ********************************/
.ltop15{margin-top:15px;}
.list_recomdiv{width:198px;border:1px solid #ddd;float:left;background:#fff;}
.listrec_h3_tt{border-bottom:1px solid #ddd;background:#fafafa;color:#646464;font:14px/42px Microsoft Yahei;text-align:center;}
.list_recomdiv dl{margin:20px 14px 40px 14px;}
.list_recomdiv dl dt{position:relative; margin-bottom: 6px;}
.list_recomdiv dl dt p{position:absolute;width:33px;height:62px;background:url(../images/hs_list/hot_i.png) no-repeat;top:2px;right:10px;}
.list_recomdiv dl dt img{width:170px;height:170px;}
.list_recomdiv dl dd{font:14px/20px Microsoft Yahei;color:#333;padding-left:15px;}
.list_recomdiv dl dd a{color:#333;}
.list_recomdiv dl dd a:hover{color:#f40;}
.list_recomdiv dl dd span{color:#e60012;font-weight:600;}
.detail_out{width:100%;background:#f5f5f5;}
.goods_content{background:#fff;width:986px;border:1px solid #f0f0f0;float:left;}
.cont_bigimg_select{float:left;width:350px;margin:15px 0 0 15px;position:relative;}
.bigimg_div{width:350px;height:350px;border:1px solid #f5f5f5;overflow:hidden;}
.bigimg_div img{width:350px;height:350px;}
.smimg_ul{margin-top:15px;}
.smimg_ul li{width:50px;height:50px;border:1px solid #f3f2f3;float:left;margin-left:15px;cursor:pointer;}
.smimg_ul li img{width:50px;height:50px;}
.smimg_ul li:hover,.smspeli_c{border:1px solid #e4393c !important;}
.goods_code_collection{font:13px/32px Microsoft Yahei;color:#646464;padding:0 18px;margin:20px 0;}
.goods_code_collection span{float:right;padding-left:20px;cursor:pointer;}
.span_ed{background:url(../images/hs_list/heart.png) no-repeat -7px 2px;}
.span_un{background:url(../images/hs_list/heart.png) no-repeat -7px -70px;}
.goods_code_collection span:hover{color:#e4393c;}
.cont_detail_block{width:590px;float:left;margin:15px 0 0 16px;overflow:hidden;}
.detail_maintt{font:600 16px/36px Microsoft Yahei;color:#646464;}
.detail_desc{font:14px/26px Microsoft Yahei;color:#909090;}
.detail_pricediv{width:100%;height:56px;background:#f9f9f9;margin-top:10px;}
.detail_pricediv em{padding:0 2px 0 2px;}
.detail_price_mp{font:14px/36px Microsoft Yahei;color:#646464;padding:10px 15px 8px 15px;}
.detail_price_mp span{color:#ff4b4b;font-size:18px;font-weight:600;}
.detail_price_pp{font:14px/16px Microsoft Yahei;color:#646464;padding:0px 15px;}
.detail_price_pp span{color:#666666;text-decoration:line-through;}
.detail_price_pp i{padding:2px 4px;border-radius:100px;background:#ff7070;color:#fff;margin:0 5px 0 25px;}
.detail_guige{margin-top:7px;}
.detail_guige .p_tit{width:70px;float:left;margin:5px 0 0 16px;font:14px/26px Microsoft Yahei;color:#646464;}
.p_tit em{padding:0 12px;}
.p_tj{float:left;width:150px;font:14px/26px Microsoft Yahei;color:#ff6c00;margin:5px 0 0 3px;}
.p_tj i{padding:4px 10px;background:url(../images/hs_list/cont_si.png) no-repeat -2px -3px;}
.p_rinfo{float:left;width:450px;font:14px/26px Microsoft Yahei;color:#323232;margin:5px 0 0 3px;}
.p_rsm{float:left;width:150px;font:14px/26px Microsoft Yahei;color:#323232;margin:5px 0 0 3px;}
.p_arrived_info{font:14px/26px Microsoft Yahei;color:#323232;margin:12px 0 0 16px;}
.p_arrived_info span{color:#646464;}
.p_gg_info{float:left;border:1px solid #eae8e8;olor:#646464;padding:0px 20px;font:12px/26px Microsoft Yahei;margin:5px 0 0 3px;}
.detail_guige ul{float:left;width:500px;margin-left:3px;}
.detail_guige ul li{font:12px/26px Microsoft Yahei;color:#646464;margin:8px 5px 0 0;float:left; padding:0 20px;}
.service_1{background:url(../images/hs_list/cont_si.png) no-repeat -2px -49px;}
.service_2{background:url(../images/hs_list/cont_si.png) no-repeat -2px -91px;}
.service_3{background:url(../images/hs_list/cont_si1.png) no-repeat; background-position:-2px 2px;}
.service_4{background:url(../images/hs_list/cont_si.png) no-repeat -2px -178px;}
.div_line{border-top:1px dashed #ddd;height:1px;margin-top:12px;}
.sel_on{border:1px solid #e4393c !important;background:url(../images/hs_list/box-bg.png) no-repeat right bottom;}
.detail_num{width:36px;height:31px;border-left:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;float:left;
margin:16px 0 0 16px;text-align:center;color:#646464;font: 14px/31px "Microsoft Yahei";}
.num_p_pm{width:15px;height:31px;border:1px solid #ccc;float:left;margin-top:16px;overflow:hidden;}
.num_plus{width:15px;height:15px;border-bottom:1px solid #ccc;font-size:10px;color:#646464;display:block;line-height:16px;text-align:center;cursor:pointer;}
.num_minus{width:15px;height:15px;border-bottom:1px solid #ccc;font-size:10px;color:#646464;display:block;line-height:16px;text-align:center;cursor:pointer;}
.detail_cartbtn{width:100px;height:33px;border:1px solid #f17a23;background:#ff984d;border-radius:2px;color:#fff;
font:600 14px/23px Microsoft Yahei;cursor:pointer;float:left;margin:16px 0 0 15px;}
.detail_cartbtn2{width:100px;height:33px;border:1px solid #b0aaaa;background:#ccc;border-radius:2px;color:#fff;
font:600 14px/23px Microsoft Yahei;cursor:not-allowed;float:left;margin:16px 0 0 15px;}
.detail_cartbtn:hover{background:#f17a23;}
.detail_div_buybtn{ position:relative;}
.detail_i{ position:absolute; left:295px; top:5px; width:18px; height:18px; border:1px solid #da2c2f; border-radius:50%; background:#f24f52; color:#fff; text-align:center; font:12px/18px "Microsoft Yahei";}
.detail_buybtn{width:100px;height:33px;border:1px solid #ef292c;background:#e64447;border-radius:2px;color:#fff;
font:600 14px/23px Microsoft Yahei;cursor:pointer;float:left;margin:16px 0 0 20px;}
.detail_buybtn:hover{background:#ef292c;}
.stop7{font:12px/24px Microsoft Yahei;width:60px;float:left;padding-left:20px; background: url(../images/gd_img/doctor.png) no-repeat left;margin:10px 0 0 90px;cursor:pointer;}
.stopqq{font:12px/24px Microsoft Yahei;width:60px;float:left;padding-left:20px; background: url(../images/gd_img/doctor.png) no-repeat left;margin:10px 0 0 12px;cursor:pointer;}
.stop7 a,.stopqq a{color:#53bff3;}
.stop7:hover a,.stopqq:hover a{color:#2199d9;}
.stop_phone{font:12px/24px Microsoft Yahei;float:left;margin:10px 60px 0 13px; color:#53bff3;}
.goods_cont_sidebar{width:200px;float:right;background:#fff;}
.cont_supplier_info{width:198px;border:1px solid #ffe2a3;}
.csi_height_hs{height:131px;}
.csi_height_zy{height:221px;}
.cab_height_hs{height:480px;}
.cab_height_zy{height:480px;}
.cont_supplier_info h3{padding:1px 0 0 1px;}
.cont_supplier_info h5{font:600 14px/20px Microsoft Yahei;color:#646464;text-align:center;padding:2px 6px 0 6px;}
.cont_supplier_info ul{margin:5px 0;}
.cont_supplier_info ul li{font:12px/24px Microsoft Yahei;color:#575757;padding:0px 10px;}
.cont_supplier_info ul li span{color:#9a9a9a;}
.cont_supplier_info ul li span em{padding:0 10px;}
.cont_supplier_info p{font:12px/24px Microsoft Yahei;color:#ff984d;width:40px;float:left;padding-left:20px;
background:url(../images/hs_list/cont_si.png) no-repeat -2px -219px;margin:2px 0 0 28px;cursor:pointer;}
.cont_supplier_info p a{color:#ff984d;}
.cont_again_browse{width:198px; height:600px;background:url(../images/hs_list/shu_line.png) no-repeat 0px;
float:left;border:1px solid #f0f0f0;}
.cont_again_browse h3{font:14px/26px Microsoft Yahei;color:#323232;margin:5px 0 0 10px;}
.again_contdiv{ height:480px;position:relative;overflow:hidden;width:160px;}
.cont_again_browse ul{text-align:center;position:absolute;width:100%;}
.cont_again_browse ul li{background:#fff;margin-top:6px; margin-top:30px;}
.cont_again_browse ul li img{width:80px;height:80px;}
.cont_again_browse ul li p{font:12px/20px Microsoft Yahei;color:#646464;}
.cont_again_browse ul li p a{color:#646464;}
.cont_again_browse ul li p span{color:#e4393c;}
.cont_again_p{font:12px/26px Microsoft Yahei;color:#aaa;margin:10px 0 10px 40px;
background:url(../images/hs_list/recycle.png) no-repeat 15px 5px;padding-left:40px;width:80px;cursor:pointer;}
.list_a_br{border:1px solid #ddd;padding:0px 4px;float:right;cursor:pointer}
.list_a_br:hover{color:#fff !important;background:#f40;border:1px solid #f40;}
/*商品详情页之商品评价css*/
.cont_goods_tt{border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;border-top:1px solid #cfcfcf;background:#fafafa;height:30px;position:relative;}
.cont_goods_tt ul{top:-4px;left:-1px;font:15px/30px Microsoft Yahei;position:absolute;border-left:1px solid #e0e0e0;}
.cont_goods_tt ul li{border-right:1px solid #e0e0e0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;float:left;display:inline;padding:1px 12px 2px 12px;background:#fff;color:#666; font-size:15px; cursor:pointer;}
.cont_goods_tt ul li span{ color: #005aa0;}
.cont_cur{border-top:1px solid #e54447 !important;  border-bottom:1px solid #fff !important;}

.cont_boder{border:1px solid #ddd;}
.mt20{ margin-top: 20px !important;}
.pd30{ padding: 30px 0px;}
.cont_goods_contInfo{text-align:center;}
.cont_goods_contInfo img{display:block;max-width:768px;margin-left:105px;}
.cont_reviews_cont{width: 981px;margin: 0 auto;}
.reviews_tit{ width: 980px;}
.reviews_tit ul li{color: #666; font-size: 14px; text-align: center; height: 32px; line-height: 32px; border-bottom:1px solid #ddd; float: left;}

.Star{ width: 96px; margin: 0 auto;}
.Star li{ width: 15px; height: 15px; background: url(../images/hs_list/star.png) no-repeat 0px 0px; float: left; margin: 0px 2px;}
.Star_on{ background: url(../images/hs_list/star.png) no-repeat 0px -15px !important;}
.w480{ width: 480px !important;}
.w460{ width: 460px !important;}
.w340{ width: 340px !important;}
.w320{ width: 320px !important;}
.w160{ width: 160px !important;}
.clearalign{text-align: left; cursor: pointer;}
.ml130{ margin-left: 130px !important;}
.reviews_phone{ text-align: left; color: #666; font-size: 14px; margin-left: 130px;}
.buy_time{ text-align: left; color: #999; font-size: 12px; margin-left: 130px;}
.reviews_line{ border-bottom: 1px solid #ddd !important;}
.reply{ text-align: left !important; border-bottom: none !important;}
.reply em{ font-style: normal; display: block; color: #df8f5c; font-size: 12px; line-height: 18px; width: 750px; }


/************规格参数*************/
.specifications_info{width:979px;border:1px solid #e0e0e0;margin-top:15px;padding:30px 0;}
.spi_table{width:900px;margin-left:40px;border:1px solid #e0e0e0;}
.spi_table td,.spi_table_gd td{border-bottom:1px solid #e0e0e0;font:12px/36px Microsoft Yahei;color:#323232;padding:0 8px;}
.spi_table td span,.spi_table_gd td span{color:#646464;}
.spi_tb_ltd{background:#fffbee;text-align:right;width:130px;}
.spe_ul_note{margin:15px 50px;}
.spe_ul_note li{font:12px/26px Microsoft Yahei;color:#646464;}
.spe_ul_note li span{float:left;width:80px;color:#323232;}
.span_height20{height:50px;}
.spi_table_gd{width:940px;margin-left:20px;border:1px solid #e0e0e0;}

/**************************商户商品下架页面**************************************/
.sold_out{ width: 720px; height: 119px; background: #ffe8e8; margin-top: 32px;}
.sold_out p{ height: 70px; line-height: 70px; padding-top: 24px; color: #666; font-size: 22px; background: url(../images/sindex/sold_out.png) no-repeat 61px 24px; padding-left: 162px;}
/**************************end 商户商品下架页面**************************************/

/* box */
.box{width:310px;margin:10px auto;}
.tb-pic a{display:table-cell;text-align:center;vertical-align:middle;}
.tb-pic a img{vertical-align:middle;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-thumb{margin:10px 0 0 0;overflow:hidden;}
.tb-thumb li{background:none repeat scroll 0 0 transparent;float:left;height:42px;margin:0 6px 0 2px;overflow:hidden;padding:1px;}
.tb-s310, .tb-s310 a{height:310px;width:310px;}
.tb-s310, .tb-s310 img{max-height:310px;max-width:310px;}
.tb-s310 a{*font-size:271px;}
.tb-s40{ margin:0 5px;}
.tb-s40 a{*font-size:35px;}
.tb-s40, .tb-s40 a{height:40px;width:40px;}
.tb-booth{border:1px solid #CDCDCD;position:relative;z-index:1;}
.tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:40px;padding:2px;}
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
.tb-thumb li div{border:1px solid #CDCDCD;}
div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
div.zoomMask{position:absolute;background:url(../images/gd_img/mask.png) repeat scroll 0 0 transparent;cursor:move;z-index:1;}

/* 商品失效样式 */
.shsxImg{height: 400px;width: 1200px; padding-top:160px;background: #fafafa;position: relative;}
.shsxImg a{display: block;position: absolute;left:595px;top:250px;}
.shsxImg1{width: 400px;}
.imgtext{position: absolute;left:595px;top:200px;}
.regsucBtn2:hover {background: url(../images/sindex/regsucBtn2.png) no-repeat 0px -60px;}
.regsucBtn2 {width: 182px;height: 40px;background: url(../images/sindex/regsucBtn2.png) no-repeat 0px 0px;color: #fff;font: 18px/40px "Microsoft Yahei";text-align: center;margin-top: 24px;}
