.nav_cateall{background: #10b863 !important; width:200px !important; height:42px !important; line-height:42px !important; z-index:1 !important;}
.hs_nav{ position:relative; height:42px !important;}
/*索引目录*/
.gd_menu{ width: 1200px; min-height: 460px; margin: 0 auto; position: absolute; top:0px; left:0; margin-bottom: 4px; z-index:9999;}
.all_catalog{width:200px;height:460px;overflow:hidden;text-align:left;background:#0b9650;float:left; position: absolute;left:0px;top:0px;z-index:9999;}
.all_catalog li{ color:#fff;cursor:pointer;padding:20px 0 0 42px; position: relative;}
.all_catalog li p{ color:#fff;cursor:pointer; font-size:14px; margin:5px 0 0 15px;}
.all_catalog li:hover p{ color:#6d6d6d;}

.all_catalog li a{color:#fff;padding:0 15px;font:18px Microsoft Yahei;display: block;}
.all_catalog li:hover{ background: #fafafa;}
.all_catalog li:hover a,.mgd_1 a,.mgd_2 a,.mgd_3 a,.mgd_4 a,.mgd_5 a{ color: #0b9650 !important;}
.cata_s1{ height:72px; background: url(../images/gd_img/gd_cataIcon.png) no-repeat 20px 22px;}
.cata_s2{ background: url(../images/gd_img/gd_cataIcon.png) no-repeat 20px -120px;}
.cata_s3{ background: url(../images/gd_img/gd_cataIcon.png) no-repeat 20px -257px;}
.cata_s4{ background: url(../images/gd_img/gd_cataIcon.png) no-repeat 20px -397px;}
.cata_s5{ background: url(../images/gd_img/gd_cataIcon.png) no-repeat 20px -538px;}
.cata_s2,.cata_s3,.cata_s4,.cata_s5{ height:71px; border-top:1px solid #078043;}
.cata_s1:hover,.mgd_1{ background: #fafafa url(../images/gd_img/gd_cataIcon_on.png) no-repeat 20px 22px !important;}
.cata_s2:hover,.mgd_2{ background: #fafafa url(../images/gd_img/gd_cataIcon_on.png) no-repeat 20px -120px !important;}
.cata_s3:hover,.mgd_3{ background: #fafafa url(../images/gd_img/gd_cataIcon_on.png) no-repeat 20px -257px !important;}
.cata_s4:hover,.mgd_4{ background: #fafafa url(../images/gd_img/gd_cataIcon_on.png) no-repeat 20px -397px !important;}
.cata_s5:hover,.mgd_5{ background: #fafafa url(../images/gd_img/gd_cataIcon_on.png) no-repeat 20px -538px !important;}

.cor{color:#666 !important;}


.catalog_cont{ float: left;position:absolute;left:200px;top:0px;z-index:9999;}
.catalog_single{ width: 999px; min-height: 459px; background: #fafafa;border-right: 1px solid #0b9650;float:left;
border-bottom: 1px solid #0b9650;}
.catalog_single dl{ width:459.5px !important; margin: 0px 20px; padding: 12px 0px; border-bottom: 1px dashed #eee; float:left;}
.catalog_single dl dt{ float: left; margin-right: 20px;}
.catalog_single dl dt a{ display: block; width: 74px; height: 20px; line-height: 20px; background: #a79e9e url(../images/hs_index/arrowsR.png) no-repeat 59px -20px;
 color: #fff; font-size: 12px; padding-left: 6px; margin-left: 0px;}
.catalog_single dl dd{ float: left; width:350px; margin-top:-2px;}
.catalog_single dl dd a{ color: #646464; font-size: 12px; margin-right: 20px;}
.catalog_single dl dd a:hover{ color: #11ba65;text-decoration:underline;}
.recom_ad{width:220px;min-height:419px;background:#fcfcfc;border-right: 1px solid #f25149;border-bottom: 1px solid #f25149;z-index: 999999;position: absolute;top:0px; left: 50%; margin-left: 379px;}
.recom_ad p{float:left;}
.hotad_border_r{border-right:1px solid #ddd;height:419px;width:220px;}
.hotad_border_b{border-bottom:1px solid #ddd;width:220px;}
.cata_icon{padding-left:30px;}
.recom_ad img:hover{
    -webkit-transform:translate(0,-5px);
    -o-transform:translate(0,-5px);
    -ms-transform:translate(0,-5px);
    -moz-transform:translate(0,-5px);
    transform:translate(0,-5px);
}
.recom_ad img{
    transition:transform .2s linear;
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    -ms-transition: -ms-transform .2s linear;
}
/*end 索引目录*/

/*网站头*/
.gdplace_a{display: block;float: left;padding: 0px 8px 0px 26px;color: #999;font: 12px/34px "Microsoft Yahei";background: url(../images/common/shareIcon2.png) no-repeat 8px -1116px;}
.gdplace_a_on{ color:#f35050; background:url(../images/common/shareIcon2.png) no-repeat 8px -190px;}
.dis{ display: none;}
.hs_mallTop_wrap{width:100%; background:url(../images/common/mall_top_bg.png) repeat-x;}
.hs_mallTop{width: 1200px;height:34px;margin: 0 auto; position:relative;}
.hs_mallTop_left{width:100px;height:34px;float: left; margin-left:25px;}
.hs_mallTop_left a{color: #646464;font: 12px/34px "Microsoft Yahei";background: url(../images/common/shareIcon2.png) no-repeat 10px 1px;padding-left: 30px;}
.hs_mallTop_left a:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 10px 1px;}
.hs_mallTop_right{width: 700px;height: 34px;float: right;}
.hs_mallTop_right li{float: right;height: 34px;line-height: 34px;}
.welcome{color: #646464;font: 12px/34px "Microsoft Yahei";margin-right: 20px;}
.mycenter{width: 88px;height: 34px;border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;position: relative;z-index: 99;}
.mycenter:hover{border-left:1px solid #ccc;border-right:1px solid #ccc;background:#fff;}
.mycenter a{display: block;padding-left:10px;color:#646464;font: 12px/34px "Microsoft Yahei";}
.mycenter a:hover{color:#f35050;}
.mycenter .xlist_icon{display: block;width: 8px;height: 6px;background: url(../images/common/shareIcon.png) no-repeat 0px -700px;position: absolute;top: 14px;right: 10px;}
.mycenter .cc_list{width: 88px;position: absolute;top: 34px;left: -1px;z-index:99999;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #fff;display: none;}
.helpBtn{width: 88px;height: 34px;}
.helpBtn a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";background: url(../images/common/shareIcon.png) no-repeat 13px -290px;padding-left: 28px;}
.helpBtn a:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 13px -390px;}
.phone{width: 108px;border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;position: relative;z-index: 99;}
.phone:hover{border-left:1px solid #ccc;border-right:1px solid #ccc;background:#fff;}
.phoneStore{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";padding-left: 15px;margin-left: 22px;background: url(../images/common/shareIcon.png) no-repeat 0px -491px;}
.phoneStore:hover{color:#f35050;background: url(../images/common/shareIcon.png) no-repeat 0px -591px;}
.phoneS{width: 108px;height: 108px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;background: #fff;position: absolute;top: 34px;left: -1px;z-index: 2;}
.phoneS img{width: 100px;height: 100px;display: block;margin: 0 auto;padding: 4px 0px;}
.mycenter:hover i{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
}
.hs_quit a,.hs_enter a{display: block;color: #646464;font: 12px/34px "Microsoft Yahei";margin-right: 14px;}
.hs_quit a:hover,.hs_enter a:hover{ color: #f35050;}
.hs_nav_wrap{ border-bottom:2px solid #10b863 !important; height:40px !important;}
.gd_logo{float: left;display: block;width: 300px;height:88px;margin-top:7px;background: url(../images/gd_img/logo_gd.png) no-repeat 0px 0px;}

.gd_nav p a{font: 16px/42px !important "Microsoft Yahei";}
.gd_nav a{float: left;display: block;height:42px;padding: 0 30px;color: #323232;font: 16px/42px "Microsoft Yahei";}
.nav_nav a{height:42px !important; line-height:42px !important;}
.nav_nav a:hover{ color: #10b863 !important;}
.gd_nav a:hover{ color: #10b863;}
.nav_ad{ height:40px !important;}
.gd_filt_on{background: #10b863 !important;color: #fff !important;}
.gd_filt_on i{background: url(../images/hs_list/listIcon.png) no-repeat 0px -214px !important;}
.list_crumbs .cru3{float: left;display: block;height: 22px;padding: 0px 19px 0px 4px;position: relative;color: #646464;font:12px/22px "Microsoft Yahei";border: 1px solid #e8e8e8;}
.list_crumbs .cru3 i{position: absolute;top: 8px;right: 6px;background: url(../images/common/cruIcon2.png) no-repeat 0px 0px;display: block;width: 7px;height: 7px;}
.list_crumbs .cru3:hover{border: 1px solid #10b863;}
.list_crumbs .cru3:hover i{background: url(../images/common/cruIcon2.png) no-repeat -17px 0px;}
.gd_yh_ic{color:#646464;font:12px/28px "Microsoft Yahei"; float:right; padding-right:10px;}
.signle_lp{ width:150px !important;}

/*搜索框样式*/
/*导航*/
.gd_nav_wrap{ width: 100%; height: 40px; border-bottom: 2px solid #11ba65;}
.gd_nav{ width: 1200px; height: 42px; margin: 0 auto;}
.nav_category{ float: left; width: 200px; height: 42px; line-height: 42px; text-align: center; background: #11ba65; color: #fff; font-size: 16px;}
.nav_nav{ float: left;}
.nav_nav ul li{*margin-left: -500px; float: left; height: 42px; padding: 0 30px;}
.nav_nav a{ color: #323232; font-size: 16px; line-height: 42px;}
.nav_nav a:hover{ color: #ff6161;}
.nav_ad{ float: right;*margin-top: -40px;}
.nav_ad{ height:40px;}
.nav_ad img{ width: 220px; height: 40px;}
/*end 导航*/
.search_sel2{ border-right: 0 !important; position: relative;width:38px;border: 2px solid #11ba65;height:38px;float:left;cursor:pointer;background:#fff;}
.p_triangle2{background:url(../images/gd_img/gd_icon.png) no-repeat center;width:38px;height:38px;position:absolute;left:0px;top:0px;}
.search_text2{border-left: 0px !important;float: left;width:378px;height: 38px;border:2px solid #11ba65;color: #343434;font: 14px/38px "Microsoft Yahei";}
.search_btn2{float: left;width: 80px;height:42px;background: #11ba65;color: #fff;font: 16px "Microsoft Yahei";cursor: pointer;}
.search_btn3{ width:360px !important; height:37px !important; color: #343434;font: 14px/37px "Microsoft Yahei"; padding:0 9px;}




.gd_filt_jg_on{background: #10b863 !important;color: #fff !important;}
.gd_filt_jg_on i{background: url(../images/hs_list/listIcon.png) no-repeat 0px -194px !important;}
.list_filt{ width:200px !important;}


/******广大商品失效  继续购物按钮*******/
.regsucBtn2:hover {background: url(../images/sindex/regsucBtn2.png) no-repeat 0px -60px;}
.regsucBtn2 {width: 182px;height: 40px;background: url(../images/sindex/regsucBtn2.png) no-repeat 0px 0px;color: #fff;font: 18px/40px "Microsoft Yahei";text-align: center;margin-top: 24px;}

/*****广大没有商品*******/
.listfail_cont2 { width: 998px;border: 1px solid #e6e6e6; background: #fcfcfc;margin-top: 20px;}
.listfail_cont2 ul {padding: 80px 100px 80px 400px;background: url(../images/hs_list/fgirl2.png) no-repeat 295px 58px;}
.listfail_cont2 ul li {font: 14px/26px Microsoft Yahei;color: #646464;}