.provBtn_category{display: block;float:right; margin-right:65px;width: 74px; height: 30px;background: url(../images/provider/provBtn.png) no-repeat 0px -42px;color: #fff;font: 12px/30px "Microsoft Yahei";text-align: center;position: relative;}
.provBtn_category2{display: block;float:right; margin-right:25px;width: 74px; height: 30px;background: url(../images/provider/provBtn.png) no-repeat 0px -42px;color: #fff;font: 12px/30px "Microsoft Yahei";text-align: center;position: relative;}
/*弹窗样式*/
.layui-layer {border: 10px solid rgba(0,0,0,0.1);}
.alert_tb_1{ height:38px;}
.alert_tb_1 h3{ font:14px/38px "Microsoft Yahei"; color:#333; text-align:left;    border-bottom: 1px solid #ddd; margin:0 30px; padding-top:20px;}
.alert_tb td{ font:12px/28px "Microsoft Yahei";color:#646464;padding:9px 9px 9px 0;overflow:hidden;}
.input_sm{float:left; width:170px;border:1px solid #ddd;height:26px;padding-left:10px;color:#333;font: 12px/28px "Microsoft Yahei";}
.star_red{ color:#e64d4f;}
.alert_tb td label{ margin:0 35px 0 19px;}
.star_red{ margin-right:9px;}

.pd12_tr th{padding-bottom:13px;}
.dreupbtn{display: block;width:80px;height:26px;background: #edf0f5;border: 1px solid #e4e5e6;border-radius:13px;color: #646464;font: 12px/26px "Microsoft Yahei";text-align: center; float:left; position:relative; margin:52px 0 0 10px; cursor:pointer;}
.dreupfile{width:80px;height:26px;position: absolute;top: 0px;left: 0px;z-index: 999;opacity: 0; filter:alpha(opacity=0);font-size: 26px;overflow: hidden; cursor:pointer;}


.vessel_dh2{float:left;color: #575757;font-size: 14px; margin-left:50px;}
.vessel_dh2_text{width:229px;height: 20px;border: 1px solid #e8e8e8;padding:4px 0 4px 9px;color: #575757;font: 14px/20px "Microsoft Yahei";}
.list_page_div{ margin-top:30px; margin-bottom:50px;}
.add_img{
    width: 78px;
    height: 78px;
    border: 1px solid #e5e5e5;
    float: left;}
.add_confirm{width:80px; height:30px; font:16px "Microsoft Yahei"; color:#fff;
background-color: #fd7676;border: 1px solid #ff4b4b; border-radius:2px; cursor:pointer;}
.add_cancel{width:80px; height:30px; font:16px "Microsoft Yahei"; color:#323333;
background-color: #f1f1f1;border: 1px solid #dedede; border-radius:2px; margin-left:8px;cursor:pointer;}
