@import url('common.css');
@import url('hs_common.css');
button:active{border:0;}
.hs_pc_ibg{background:#f6f6f6;}
.hs_pcT_wrap{width:100%;height:34px;background:#ebebeb;}
.bordercolor{border-left: 1px solid #ebebeb !important;border-right: 1px solid #ebebeb !important;}
.hspc_head_wrap{width: 100%;height: 96px;background: #f6f6f6;position: relative;}
.hspc_head{width: 1200px;height: 66px;}
.hspc_head_logo{float: left;width: 258px;height: 50px;position: relative;margin: 14px 0px 0px 40px;}
.hplogo{display: block;width: 258px;height: 50px;background: url(../images/hs_pc_all/pc_logo.png) no-repeat 0px 0px;}
.hp_goindex{display: block;width: 80px;height: 18px;border: 1px solid #d1d1d1;border-radius: 20px;background: #f6f6f6;color: #b1b1b1;font: 12px/18px "Microsoft Yahei";text-align: center;position: absolute;top: 24px;right: 0px;}
.hp_goindex:hover{color:#fff;background:#ff6161;border:1px solid #ff6161;}
.hp_search{width: 200px;height: 34px;position: relative;float: right;margin: 22px 17px 0px 0px;}
.hp_searInput{width: 150px;padding:6px 32px 6px 16px;height: 20px;border: 1px solid #dcdcdc;border-radius: 20px;background: #fff;color: #434343;font: 12px/20px "Microsoft Yahei";}
.hp_search span{display: block;width: 150px;height: 34px;color: #d2d2d2;font: 12px/34px "Microsoft Yahei";position: absolute;top: 0px;left: 16px;}
.hp_searBtn{width:20px;height:20px;background:url(../images/hs_pc_all/pc_iicon.png) no-repeat;z-index: 11;cursor:pointer;position:absolute;top:8px;right:12px;}
.hptxt_on{border:1px solid #ff4b4b !important;}
.hpbtn_on{background:url(../images/hs_pc_all/pc_iicon.png) no-repeat -34px 0 !important;}
/*屏幕大于1200*/
.hspc_head_bg1{width: 1366px;height: 30px;background: url(../images/hs_pc_all/bg.png) no-repeat 0px 0px;position:absolute;left:50%;margin-left:-700px;}
/*屏幕小于等于1200*/
.hspc_head_bg2{width: 1400px;height: 30px;background: url(../images/hs_pc_all/bg.png) no-repeat 0px 0px;position:absolute;left:0px;margin-left:-92px;}
.hs_pc_cont{width:1215px;position:relative;}
.hs_pc_txdiv{width:202px;height:306px;background:url(../images/hs_pc_all/txbg.png) no-repeat;position:absolute;
top:12px;left:-10px;text-align:center;}
.hs_pc_txdiv img{width:101px;height:101px;margin:27px 0 0 -46px;}
.hs_pc_txdiv h3{color:#ffe5e5;font:600 14px/26px Microsoft yahei;margin:7px 0 0 -46px;cursor:pointer;
background:url(../images/hs_pc_all/pc_iicon.png) no-repeat 150px -85px;}
.hs_pc_txdiv p{color:#ffbbbb;font:14px/26px Microsoft yahei;margin:0px 0 0 -46px;}
.hs_pc_txdiv ul{margin:16px 0 0 35px;}
.hs_pc_txdiv ul li{color:#fff1f1;font:14px/26px Microsoft yahei;margin-left:6px;display:block;float:left;width:80px;margin-left:0px;text-align:left;}
.hs_pc_txdiv ul li a{color:#fff1f1;}
.hs_pc_txdiv ul li a:hover{text-decoration:underline;}
.hs_pc_contl{width:163px;float:left;border-left:1px solid #e5e5e5;margin-left:12px;background:#fff;}
.blank_88{width:100%;height:88px;}
.blank_118{width:100%;height:118px;}
.blank_19{width:100%;height:19px;}
.blank_30{width:100%;height:30px;}
.menu_cont{width:162px;padding:230px 0 20px 0;border:1px solid #e5e5e5;border-left:0;}
.menu_cont dl,.mtop20{margin-top:22px;}
.menu_cont dl dt{border-left:3px solid #ff6161;height:29px;padding-left:22px;color:#ff6161;font:600 16px/29px Microsoft yahei;}
.menu_cont dl dd{color:#8d8d8d;font:14px/42px Microsoft yahei;padding-left:40px;margin-top:2px;}
.menu_cont dl dd a{color:#8d8d8d;}
.dd_on{background:#ff7a76;box-shadow:0px 3px 8px 0px #ff7a76;}
.menu_cont dl dd:hover a{color:#ff6161;}
.dd_on a{color:#fff !important;}
.hs_pc_contr{float:right;width:1027px;border-right:1px solid #e5e5e5;margin-right:11px;background:#fff;}
.hsp_my_order{float:left;border-bottom:0;width:818px;margin-left:21px;}
.hsp_my_order table{width:100%;text-align:center;border:1px solid #ffdcda;}
.hsp_my_order table th{height:42px;font:600 14px/42px Microsoft yahei;padding:0 20px;color:#ea5b57;
background:#ffedec;border-bottom:1px solid #ffdcda;text-align:left;}
.afr{float:right;color:#f29e9c;font-weight:normal;}
.afr:hover{color:#ff6561;}
.hsp_my_order table td{padding:12px 0;color:#757575;font:12px/18px Microsoft yahei;border-bottom:1px solid #ffdcda;}
.hsp_my_order table td img{float:left;width:80px;height:80px;margin-left:10px;}
.myo_g_info{float:left;width:200px;margin:10px 0 0 15px;text-align:left;}
.myo_g_name{margin-bottom:5px;}
.myo_g_name a{ color: #757575; font-size: 12px; }
.myo_g_num{color:#8d8d8d;}
.span_red{color:#ff6161;}
.a_glook{padding:4px 16px;border:1px solid #dcdcdc;border-radius:5px;cursor:pointer;color:#757575;}
.a_glook:hover{border:1px solid #ff6161;border-radius:5px;background:#ff6161;color:#fff;}
.myo_g_ellipsis{margin:32px 0 0 15px;float:left;}
.lovewrap{width:816px;height:454px;margin-top:22px;overflow:hidden;position:relative;}
.guess_your_love{width:814px;height:452px;overflow:hidden;position: absolute;top: 0px;left: 0px;}
.love_border{width:814px;height:452px;position: absolute;top: 0px;left: 0px;border:1px solid #ffe5c1;}
.guess_your_love h3{width: 774px;height:42px;font:600 14px/42px Microsoft yahei;padding:0 20px 0 20px;color:#fc9c13;background:#fff8ec;border-bottom:1px solid #ffdcda;margin: 1px 0px 0px 1px;}
.afrlove{float:right;color:#fdb055;font-weight:normal;padding-right:30px;
background:url(../images/hs_pc_all/pc_iicon.png) no-repeat 47px -29px;}
.afrlove:hover{color:#fc9c13;background:url(../images/hs_pc_all/pc_iicon.png) no-repeat 47px -140px;}
.your_all_dl{position:absolute;top:43px;left:0;height:409px;}
.your_all_dl .flsm{height:409px;width:816px;float:left;}
.your_all_dl dl{border-right:1px solid #ffdcda;border-bottom:1px solid #ffdcda;width:203px;float:left;padding:12px 0;}
.your_all_dl dl dt{width:110px;height:110px;overflow:hidden;}
.your_all_dl dl dt img{width:110px;height:110px;display:block;}
.your_all_dl dl dd{width:160px;font:12px/20px Microsoft yahei;color:#585858;margin-top:5px;}
.your_all_dl dl dd a{color:#585858;display: block;height: 40px;overflow: hidden;}
.your_all_dl dl dd a:hover{color:#ff6161;}
.your_all_dl dl dd span{color:#f33732;font-size:14px;}
.hsp_my_collection{float:right;border:1px solid #e6e6e6;border-right:0;width:162px;text-align:center;}
.hsp_my_collection h3{height:42px;font:600 14px/42px Microsoft yahei;padding:0 0px 0 20px;color:#848484;
background:#f0f0f0;border-bottom:1px solid #e6e6e6;text-align:left;}
.hsp_my_collection h3 a{color:#c2c2c2;margin-left:60px;}
.hsp_my_collection ul {width:102px;}
.hsp_my_collection ul li{padding:11px 0 12px 0;border-bottom:1px solid #e6e6e6;}
.hsp_my_collection ul li:last-child{border:0}
.hsp_my_collection ul li img{width:100px;height:100px;}
.hsp_xg_p{font:14px/22px Microsoft yahei;color:#848484;height:606px;margin-top:20px;}
.hsp_xg_p a{color:#0066CC;}
/************************personal-center我的订单页面css********************/
.my_order_list{ background: #fff; border: 1px solid #e7e7e7; width:938px;overflow:hidden;margin-top:19px;}
.page_tobt{width:920px; margin-top:19px;}
.my_order_list_tit{ height: 60px; line-height: 60px;}
.mt_active{color: #e4393c;font-size: 14px;border-bottom: 2px solid #ea0000; height: 42px;}
.mt_active a{color:#e4393c !important;}
.my_order_list_tit ul li{ color: #323232; font-size: 14px; margin-left: 20px; float: left;padding: 0px 4px 2px 4px;}
.my_order_list_tit ul li a{color: #323232;}
.my_order_list_tit ul li em{ color: #e4393c; font-style: normal; margin-left: 4px;}
.my_order_list_search{ margin-right: 20px;margin-top: 18px;}
.my_order_list_search input{border: 1px solid #dedede; width: 170px; padding: 3px 10px; height: 20px;color: #999;font:12px "Microsoft Yahei";}
.my_order_list_search i{ color: #a1a1a1; border: 1px solid #dedede; background: #f6f6f6 url(../images/hs_pc_all/pc_iicon.png) no-repeat 15px 4px; cursor: pointer; width: 50px;text-align: center;
line-height: 26px; height: 26px;border-left:0;}
.my_order_list_main_top{width: 920px; margin: 0 auto; border-bottom: 1px solid #eaeaea; border-top: 1px solid #eaeaea; background: #f9f9f9; }
.my_order_list_main_top p{ float: left; text-align: center;color: #646464; font-size: 14px; margin: 6px 0px;}
.my_order_list_main table{ width: 920px; margin: 0 auto;  font-size: 12px; border: 1px solid #efefef; margin-top: 20px; }
.w410{ width: 410px !important;}
.w348{ width: 348px !important;}
.w324{ width: 324px !important;}
.w135{ width: 135px !important;}
.w125{ width: 125px !important;}
.w96{width: 96px !important;}
.w72{width: 72px !important;}
.ml8{margin-left:18px;}
.fl{float:left;}
.fr{float:right;}
.borderr{border-right:1px solid #efefef;}
.gap20{line-height: 20px;}
.my_order_list_main{}
.my_order_list_main table tr{ width:920px; margin: 0 auto;}
.my_order_list_main table tr th{background:#f5f5f5;}
.my_order_list_main table tr th p{ color: #999; font-size: 12px; font-weight: normal; float: left;line-height:32px;padding:0 30px 0 15px;}
.my_order_list_main table tr th span{ color: #666;}
.my_order_list_main table tr td{font-weight: normal; color: #666; text-align: center;padding:18px 0px;}
.orlist_img{ vertical-align: middle; width: 60px; height: 60px; overflow: hidden; float: left; margin-left: 15px;border:1px solid #f9f9f9;}
.my_order_list_main table tr td p{float: left;width: 200px;height: 32px;color: #666;font: 12px/16px "Microsoft Yahei";text-align: left;margin-left:10px;margin-top: 4px;overflow: hidden; }
.my_order_list_main table tr td em{ font-style: normal;}
.em_needpay{color:#ff6161;}
.em_needdelivery{color:#ff6c00;}
.em_common{color:#404040;}
.em_common a{color:#404040;}
.return_a{color:#3996e4;}
.return_a:hover{color:#3996e4;}
.em_quitr{color:#666;}
.em_wgray{color:#9a9a9a;}
.span_wuliu{color:#3996e4;}
.span_wuliu a{color:#0f6bb7;}
.span_wuliu a:hover{color: #3996e4;}


.my_order_list_main table tr td b{ font-weight: normal;color: #999; font-size: 12px; display: block; width: 90px; margin: 2px auto; text-align: left; line-height: 14px; padding-left: 4px;}/*已取消状态用*/
.mt26{ display: block; margin-top: 26px !important;}
.delete_order img{ margin-right: 20px;margin-top: 8px; cursor:pointer;}
.order_gdiv{margin-top:16px;position:relative;}
.olist_em_dshelf{width:36px;height:36px;background:url(../images/hs_pc_all/dshelf.png) no-repeat 0px -77px;position:absolute;left:5px;top:-10px;}
.order_gdiv span{float:left;margin:4px 0 0 20px;font-size:12px;color:#9a9a9a;}
.order_gdiv span i{padding-right:12px;color:#353535;}
.order_gdiv p:hover{color:#e43c3c;}
.overtime_operation{font-style: normal; color: #bcbcbc;padding-left:20px;background: url(../images/hs_pc_all/pc_iicon.png) no-repeat -32px -43px;}
.overtime_operation i{margin-right: 4px;}
.overtime_operation span{ font-size: 12px; color: #9a9a9a;}
.div_payment_operation{width: 86px; border: 1px solid #e4393c; border-radius: 2px;cursor: pointer; margin-top: 5px;}
.payment_operation{width: 86px;height: 22px; color: #e4393c; border: 0px;background: none;font:12px Microsoft Yahei;cursor: pointer; }
.payment_operation:hover{background: #e4393c; color: #fff;}
.div_cancel_operation{width: 86px;color: #666;border: 1px solid #f5f4f4;border-radius: 2px;cursor: pointer; margin-top: -10px;}
.cancel_operation{width: 86px;height: 22px;color: #666;border: 0px !important;background:#f5f4f4;font:12px Microsoft Yahei;cursor: pointer; }
.cancel_operation:hover{ color: #e4393c; background:#fff;}
.div_cancel_operation:hover{border: 1px solid #e4393c;}


.div_retu_operation,.div_cancel_order{width: 86px;color: #666;margin-top: -10px;}
.returnbtn{display: block;width: 84px;height: 20px;border: 1px solid #f5f4f4;border-radius: 2px;color: #666;background:#f5f4f4;font:12px/20px Microsoft Yahei;cursor: pointer; }
.returnbtn:hover{color: #e4393c;background:#fff;border: 1px solid #e4393c;}

.cancel_order_a{display: block;width: 84px;height: 22px;border: 1px solid #f5f4f4;border-radius: 2px;color: #666;background:#f5f4f4;font:12px/22px Microsoft Yahei;cursor: pointer;}
.cancel_order_a:hover{color: #e4393c;background:#fff;border: 1px solid #e4393c;}

.confirm_operation{width: 86px;height: 22px; color: #3996e4; border: 0px;background: none;font:12px Microsoft Yahei;cursor: pointer;}
.confirm_operation:hover{background: #3996e4; color: #fff;}
.div_confirm_operation{width: 86px; border: 1px solid #3996e4;border-radius: 2px;cursor: pointer; margin-top: 5px;}
.div_return_operation{width: 86px;border: 1px solid  #f5f4f4; border-radius: 2px;cursor: pointer; margin-top: 5px;}
.div_return_operation:hover{border: 1px solid #e4393c;}
.reviews_operation{color: #666; color: #666;border: 1px solid #f5f4f4;cursor: pointer; margin-top: 5px;}
.reviews_operation:hover{ color: #e4393c;}
.div_again_operation{width: 86px;height: 22px; border:1px solid #f5f4f4;border-radius: 2px;background: #f5f4f4;cursor: pointer; margin-top: -10px;}
.div_again_operation1{width: 86px;height: 22px; border:1px solid #f5f4f4;border-radius: 2px;background: #f5f4f4;cursor: pointer; margin-top: 37px;position: absolute;margin-left: 85px;}
.again_operation{float: left;display: block;width: 86px;height: 22px;color: #3996e4;border:1px solid #3996e4;border-radius: 2px;background: #fff;font:12px/22px Microsoft Yahei;cursor: pointer;}
.again_operation:hover{background: #3996e4; color: #fff;}
.div_again_operation:hover{background: #3996e4; color: #fff;}
.buy_operation{color: #666; border:1px solid #f5f4f4;border-radius: 2px;padding: 3px 20px; background: #f5f4f4;font:12px Microsoft Yahei;cursor: pointer;}
.buy_operation:hover{background: #fff; color: #e4393c; border: 1px solid #e4393c;border-radius: 2px;}
.div_go_comments{width: 86px;height: 22px;margin-top: 5px;}
.go_comments{display: block;width: 84px;height: 20px;border: 1px solid #ff6c00;border-radius: 2px;color: #ff6c00;background: none;font:12px/20px Microsoft Yahei;cursor: pointer;}
.go_comments:hover{background: #ff6c00;color: #fff;}
.div_wl_info{width: 86px;border: 1px solid #3996e4; border-radius: 2px;cursor: pointer; margin-top: 5px;}
.wl_info{width: 86px;height: 22px; color: #3996e4; border: 0px; padding: 3px 8px;background: none;font:12px Microsoft Yahei;cursor: pointer;}
.wl_info:hover{background: #3996e4; color: #fff;}
.a_odinfo{width: 86px;height: 20px;color: #3996e4;padding: 0.5px 8px;background: none;font:12px Microsoft Yahei;margin-top: 2px;cursor: pointer;}
.a_odinfo:hover{color: #0f6bb7;}
.a_blank{width: 86px;height: 5px; display: block;}
/*取消订单弹出层*/
.cancel_operation_layer{background:#fff;width:460px;height:220px;overflow:hidden;}
.cancel_operation_layer img{ vertical-align: middle;margin-right: 5px;}
.panel_cancel_note{ color: #ff6161; font-size: 14px; border: 1px solid #ff6161; background: #ffeee2; padding: 3px 0px; margin:30px 36px 11px 36px; text-align: center;}
.cancel_cause{ width: 380px; margin: 0 auto; text-align:left;}
.cancel_cause span{ display: block; color: #9b9b9b; font-size: 14px; margin-left: 20px;}
.cancel_cause ul li{ float:left; border: 1px solid #dadada; width: 170px; line-height: 26px; margin-left: 15px; margin-top: 14px; cursor: pointer;}
.cancel_cause ul li:hover{border: 1px solid #ff6161;}
.causeli{border: 1px solid #ff6161 !important;}
.cancel_cause ul li a{color: #555; font-size: 14px; text-align: center; margin-left: 20px;}
.ccl_a{background: url(../images/common/wricon3.png) no-repeat 0 3px;padding-left:20px;display:inline}

.alert_noted{width:380px;padding-top:50px;height:20px;text-align:center;overflow:hidden;font:14px/20px Microsoft Yahei;color:#646464;}
.wl_info_alert{width:340px;height:140px;overflow:hidden;font:14px/26px Microsoft Yahei;color:#646464;margin-top:20px;}
.wl_info_alert td{padding:5px;}
.swl_txt,.order_txt{width:192px;height:28px;padding-left:6px;font:14px/28px Microsoft Yahei;color:#646464;border:1px solid #cdcdcd;}
.swl_sbtn{height:30px;font:14px/28px Microsoft Yahei;color:#fff;border:0px !important;width:80px;background:#fe8181;border-radius:3px;cursor:pointer;}
.div_swl_sbtn{float: left; height:30px;border:1px solid #ff6161;width:80px;background:#fe8181;border-radius:3px;cursor:pointer;}
/*无订单页面*/
.no_orders{ width: 360px; margin: 0 auto; padding: 105px 0px;}
.no_orders img{ width: 150px; height: 150px; overflow: hidden;}
.no_orders p{ color: #646464; font-size: 14px;}
.no_orders p{ color: #646464; font-size: 14px;margin-top: 52px;margin-left: 12px;}
.no_orders a{ color: #0066CC;text-decoration:underline;}
.no_orders a:hover{ color: #f40;}

/*零售-内页-最近浏览*/
.recentVisit{margin-top:40px;margin-bottom:60px;width:940px;}
.recentVisit_tit{height: 31px; position: relative;z-index: 99;}
.recentVisit_tit span{ color: #646464; font-size: 14px; margin-left: 10px;}
.recentVisit_tit a{ color: #646464; font-size: 14px;background:url(../images/hs_pc_all/pc_iicon.png) no-repeat 48px -121px;padding-right:36px;}
.recentVisit_tit i{ color: #999;}
.browse_line{width:360px;height:4px;position:absolute;top:29px;left:0;background:url(../images/hs_pc_all/line.png) no-repeat;z-index: 99;}
.recentVisit_content{ background: #fff;height:240px;border: 1px solid #efefef;overflow:hidden;width:938px;position:relative;}
.my_collection_content{position:absolute;left:0;top:0;}
.my_collection_content ul{width:938px;float:left;}
.my_collection_content ul li{ float: left; width: 130px; text-align: center; margin: 25px 28px;}
.my_collection_content ul li a{ color: #666; font-size: 12px; }
.my_collection_content ul li img{ width: 130px; height: 130px; overflow: hidden; }
.my_collection_content ul li span{ color: #ea0000; }
.my_collection_content ul li p{line-height:22px;height:40px;overflow:hidden;}
.no_browse{color:#646464;font:14px/98px Microsoft Yahei;text-align:center;background:url(../images/hs_pc_all/ygirl.png) no-repeat 290px 0px;margin-top: 72px;padding-left: 115px;}
/*end 零售-内页-最近浏览*/



/***************我的收藏*****************/
.collection_list_tit{ padding: 9px 0px; border-bottom:1px solid #e7e7e7;background:#f6f6f6; }
.collection_list_tit span{ color: #333333; font-size: 14px; border-bottom: 2px solid #ea0000; padding: 7px 14px; margin-left: 15px;}
.collection_dl_single{width:200px;float:left;margin:30px 0 0 28px;position: relative;}
.collection_dl_single dt{border:1px solid #e6e6e6;width:198px;height:198px;position:relative;text-align: center;}
.collection_dl_single dt img{width:160px;heigt:160px;margin-top: 19px;}
.collection_dl_single dt i{position:absolute;width:16px;height:16px;right:10px;top:10px;cursor:pointer;
background:url(../images/hs_pc_all/goods_yn_i.png) -62px -1px no-repeat;}
.collection_span_dshelf{position:absolute;width:69px;height:60px;left:-15px;top:-15px;background:url(../images/hs_pc_all/dshelf.png) 0px 0px no-repeat;}
.collection_p_yes{left:0;top:0;background:url(../images/hs_pc_all/goods_yn_i.png) 0px 0px no-repeat;position:absolute;width:53px;height:46px;}
.collection_p_no{left:0;top:0;background:url(../images/hs_pc_all/goods_yn_i.png) 0px -54px no-repeat;position:absolute;width:53px;height:46px;}
.collection_dd_name{width: 190px;padding: 0px 5px;height:40px;color:#646464;font:12px/20px Microsoft Yahei;margin-top:5px;}
.collection_dd_name a{color:#646464;}
.collection_dd_name a:hover{color:#ff6161}
.collection_ot_info{display: block;width: 190px;padding: 0px 5px;color:#ea0000;font:16px/26px Microsoft Yahei;}
.collection_ot_info em{display: block;float: left;width: 24px;height: 25px;}
.collection_em_hn{background:url(../images/hs_list/checkbox_i.png) 0 -54px no-repeat;}
.collection_em_gd{background:url(../images/hs_list/checkbox_i.png) 0 -82px no-repeat;}
.collection_em_ot{background:url(../images/hs_list/checkbox_i.png) 0 -114px no-repeat;}
.collection_ot_info span{color:#a7a7a7;float:right;font-size:12px;}
.collection_ot_info span a{text-decoration:line-through;}
.soldout_shade{width: 200px;height: 271px;background: #000;opacity:0.2;filter: alpha(opacity=20);position: absolute;top: -8px;left: -1px;padding-top: 7px;border-radius: 10px;padding-bottom: 2px;}
.soldout_text{display: block;width: 60px;height: 60px;background: url(../images/hs_pc_all/soldout_text.png) no-repeat;position: absolute;top: 0px;left: 5px;}
/***************我的收藏(无收藏时)*****************/
.no_coll{ width: 520px; margin: 0 auto; padding: 105px 0px;}
.no_coll img{ width: 150px; height: 150px; overflow: hidden;}
.no_coll p{ color: #646464; font-size: 14px;margin-top: 52px;margin-left: 12px;}

/************************我的购物车页面css********************/
.scart_tit{width:938px;border:1px solid #e6e6e6;margin: 0 auto;padding: 9px 0px;background:#f6f6f6;margin-top:20px;}
.scart_tit span{ color: #333333; font-size: 14px; border-bottom: 2px solid #ea0000; padding: 7px 14px; margin-left: 15px;}
.cart_list_main table{ width: 938px; margin: 0 auto; font-size: 14px; }
.cart_list_main table tr th{height:40px;color:#333;font: normal 14px/40px "Microsoft Yahei";border-bottom:1px solid #e6e6e6;background:#f9f9f9;}
.cart_shadow{box-shadow:0 1px 10px 1px #e4e4e4;}
.checkall{margin:15px 5px 0 20px;*margin-top: 11px;float:left;}
.check_single,.check_ss{margin-left:20px;float:left;}
.tit_pos{position: relative;height:46px;}
.seller_lp{padding-left:23px;height:26px;margin-top:3px;color:#646464;font:600 14px/26px Microsoft Yahei;text-align:left;top:7px;left:-25px;position: absolute;white-space:nowrap;}
.gd_logo_ic{background:url(../images/hs_list/checkbox_i.png) no-repeat 0px -55px;}
.pt_logo_ic{background:url(../images/hs_list/checkbox_i.png) no-repeat 0px -114px;}
.hn_logo_ic{background:url(../images/hs_list/checkbox_i.png) no-repeat 0px -84px;}
.nonsupport{color:#e4393c;font-size: 12px;background:url(../images/topay/supportIcon.png) no-repeat 0px 4px;padding:2px 10px 2px 15px;margin-left:20px;white-space:nowrap;}
.cart_list_main table tr td{font-weight: normal; color: #666; text-align: center; border-top:1px solid #ddd;border-bottom:1px solid #efefef;}
.cart_bbc{background:#fef5f5;border-top:1px solid #ffd4d3;}
.border_two{border-bottom:2px solid #ddd;}
.cart_pro_dl{padding:15px 0;}
.cart_pro_dl dt{width:70px;height:70px;float:left;margin-left:0px;background:#fff;position:relative;}
.cart_hd_i{width:25px;height:25px;background:url(../images/hs_pc_all/tejia_ic.png) no-repeat;position:absolute;left:0;top:0;}
.cart_span_dshelf{width:36px;height:36px;background:url(../images/hs_pc_all/dshelf.png) no-repeat 0px -77px;
position:absolute;left:-5px;top:-5px;}
.cart_span_wh{width:36px;height:36px;background:url(../images/hs_pc_all/dshelf.png) no-repeat 0px -116px;
position:absolute;left:-5px;top:-5px;}
.stock_wh{ display: block; width: 31px; height: 31px; background: url(../images/sellerCenter/stock_wh.png) no-repeat;position:absolute;left:0px;top:0px;}
.cart_pro_dl dt img{width:70px;height:70px;overflow: hidden;}
.cart_pro_dl dd{width:220px;float: left; text-align: left; overflow: hidden;word-break:break-all;font:12px/20px Microsoft yahei;margin-left:14px;}
.cart_pro_dl dd p{padding-top:3px;color:#e45600;}
.cart_pro_dl dd a{color: #646464;}
.cart_pro_dl dd a:hover{color: #ff6161;}
.scart_guigep{padding: 15px 0;font:12px/22px Microsoft Yahei; text-align: left; margin-top: 0;color:#909090;}
.cart_bl_span{text-decoration:line-through;color:#999;font-size:12px;}
.cart_bb_span{color:#fff;background:#ff7a76;border-radius:3px;padding:1px 6px;font-size:12px;}
.cart_bgy_p{color:#ff6c00;font-size:12px;margin-top:8px;}
.operation_minus{background:#fff;width: 18px; height: 22px;border: 1px solid #e7e7e7; float: left;cursor: pointer; margin-left: 30px;}
.operation_number input{width: 48px; height: 14px; padding: 4px 0px; text-align: center; border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;float: left;color: #666;font: 12px "Microsoft Yahei";}
.operation_add{background:#fff;width: 18px; height: 22px;border: 1px solid #e7e7e7;float: left;cursor: pointer;}
.cart_list_main table tr td em{ font-style: normal;color: #e4393c;}
.del_abtn{color:#909090;}
.del_abtn:hover{color:#ff6161;}
.cart_b_price{font-size:12px;}
.cart_settlement{width:939px;height:140px; margin-top: 22px; border-top: 1px solid #e7e7e7;border-left: 1px solid #fcfcfc;border-right: 1px solid #fcfcfc;}
.cart_settlement_top{ width: 938px; height: 60px; background: #fff;}
.cart_settlement_top p{ color: #646464; font-size: 14px; text-align: right; line-height:26px;padding-right:15px;}
.cart_settlement_top span{ color: #e4393c; font-size: 14px; font-weight: bold;}
.cart_settlement_bottom{width:964px; height: 74px; margin-left: -12px; background:url(../images/hs_pc_all/cart_settlement_bg.png) no-repeat; }
.cart_settlement_bottom_fl{ margin-top: 32px;margin-left: 35px;}
.cart_settlement_bottom_fl input{ vertical-align: middle;margin-right:10px;}
.cart_settlement_bottom_fl label{ color: #333; font-size: 14px;}
.batch_dela{color: #0066cc;font: 14px "Microsoft Yahei";border-left: 1px solid #e8e8e8;padding: 12px 14px;margin-left:14px;}
.emptyBtn{color: #909090;font: 14px "Microsoft Yahei";}
.emptyBtn:hover{color: #0066cc;}
.cart_settlement_bottom_fr{margin-top: 32px; margin-right: 50px;}
.cart_settlement_bottom_fr p{ color: #646464; font-size: 14px;}
.cart_settlement_bottom_fr span{  font-size:14px; font-weight: bold; margin-left: 10px;}
.cart_settlement_bottom_fr em{ color: #e4393c;font-size: 14px; font-weight: bold; font-style: normal; background:url(../images/hs_pc_all/money_bg.png) repeat-x; padding: 20px 10px;}
.cart_settlement_bottom_fr button{ border: none; background: #ff5555; color: #fff; font-size: 18px; font-weight: bold; padding: 9px 26px;*padding:6px 8px;margin-left: 10px;border-radius: 3px; margin-top: -12px; cursor: pointer;}
.cart_list{border: 1px solid #e7e7e7; width:938px;overflow:hidden;margin-top:19px;}
.cart_list_tit{ padding: 9px 0px; border-bottom:1px solid #e7e7e7; }
.cart_list_tit span{ color: #333333; font-size: 14px; border-bottom: 2px solid #ea0000; padding: 7px 14px; margin-left: 15px; }

.bottom_on{position:fixed;bottom:0;left:50%;margin-left:-399px;}
.spec{display: block;width: 220px;height: 22px;overflow: hidden;color:#acacac;font:12px/22px Microsoft Yahei;}
.spec2{float:left;width:200px;height: 22px;overflow: hidden;color:#acacac;font:12px/22px Microsoft Yahei;margin-left:10px;text-align:left;}


/************************我的退货页面css********************/
.myreturn_tb{width:920px;margin:30px 9px 80px 9px;font:14px/20px Microsoft yahei;text-align:center;border-top:1px solid #efefef;}
.myreturn_tb th{*width: 120px padding:10px;color:#333;font-weight:normal;}
.myreturn_tb td{border:1px solid #efefef;padding:20px 10px;color:#666666;font-size:12px;}
.myrtb_ntit{color:#333;font-size:14px;}
.span_status_g{color:#3996e4;}
.myrtb_pp{color:#9a9a9a;}
.my_rtn_ul{width:100%;margin:0;padding:0;height:100%;}
.my_rtn_ul li{border-bottom: 1px dashed #ddd;padding:5px 10px;line-height:27px;color:#333;}
.my_rtn_ul li:last-child{border-bottom:0;}
/*零售-订单筛选条件*/
.sfilter2{width: 938px;background: #fff;}
.sf_cont{width: 918px;height: 30px;padding: 20px 0px 20px 20px;}
.sfInput_p{float: left;position: relative;}
.sfInput_p input{color:#434343;font: 12px/20px "Microsoft Yahei";width: 160px;padding:4px 0 4px 8px;height: 20px;border: 1px solid #dedede;}
.sfInput_p em{display: block;color: #909090;font: normal 12px/30px "Microsoft Yahei";position: absolute;top: 0px;left: 8px;}
.sf_seatit{float: left;color: #575757;font: 14px/30px "Microsoft Yahei";text-align: right;}
.sf_select{float: left;width: 80px;height: 30px;position:relative;}
.sf_select p{width: 70px;height: 28px;background: url(../images/common/sstIcon.png) no-repeat 60px -37px;border: 1px solid #dedede;color:#575757;font:12px/28px "Microsoft Yahei";cursor:pointer;padding-left: 8px;}
.sf_select ul{width:78px;position:absolute;left:0px;top:30px;z-index: 100;border:1px solid #3aa2e4;border-top:0;background:#fff;}
.sf_select ul li{font:12px/26px Microsoft yahei;color:#575757;cursor:pointer;padding-left: 8px;}
.sf_select ul li:hover{background:#79beff !important;color:#fff !important;}
.p_on{border:1px solid #3aa2e4 !important;background: url(../images/common/sstIcon.png) no-repeat 60px -87px !important;}
.sf_time{float: left;width: 104px;padding-left: 4px;height: 28px;color:#434343;font: 12px/28px "Microsoft Yahei";border: 1px solid #dedede;background: #fff url(../images/sellerCenter/pur_icon.png) no-repeat 81px 7px;cursor: pointer;}
.sfem{float: left;display: block;width: 24px;height: 30px;color: #cbcbcb;font: 26px/30px "Microsoft Yahei";text-align: center;}
.vesselBtn{float: left;width: 80px;height: 30px;background: #ff8484 url(../images/sellerCenter/derIcon.png) no-repeat 18px 8px;border: 1px solid #ff6565;border-radius: 2px;color: #fff;font: 12px "Microsoft Yahei";padding-left: 16px;cursor: pointer;}
.vesselBtn:hover{background: #fe6767 url(../images/sellerCenter/derIcon.png) no-repeat 18px 8px;border: 1px solid #fe6767;}
.deriveBtn{float: left;width: 80px;height: 30px;width: 80px;height: 30px;background: #54adff url(../images/sellerCenter/derIcon.png) no-repeat 8px -80px;border: 1px solid #349eff;border-radius: 2px;color: #fff;font: 12px "Microsoft Yahei";padding-left: 16px;cursor: pointer;}
.deriveBtn:hover{background: #349eff url(../images/sellerCenter/derIcon.png) no-repeat 8px -80px;border: 1px solid #349eff;}
.ml20{margin-left: 20px;}
.ml10{margin-left: 10px;}
.sf_state{width: 918px;height: 49px;border-top: 1px dashed #e3e3e3;padding-left: 20px;}
.sf_state span{color: #575757;font: 14px/49px "Microsoft Yahei";}
.sf_state a{color: #2779be;font: 14px "Microsoft Yahei";margin-left: 40px;padding: 1px 4px;}
.sf_state_on{background: #2779be;border-radius: 2px;color: #fff !important;}
.sf_blue{border: 1px solid #3aa2e4 !important;}
/*end 零售-订单筛选条件*/

/*未搜索到相关退货单信息*/
.noret{width: 180px;height: 70px;background: url(../images/hs_list/fgirl.png) no-repeat 0px 0px;padding: 30px 0px 0px 106px;margin: 50px auto 50px auto;}
.noret p{color: #646464;font: 14px/26px "Microsoft Yahei";}
/*end 未搜索到相关退货单信息*/
/************************意见反馈css********************/
.feedback_cont{width:920px;height:800px;position:relative;}
.feedback_tit{margin:100px 0 0 370px;}
.feedback_bg{width:858px;height:458px;border:1px solid #dcdcdc;background:#f7f7f7;border-radius:6px;margin-top:40px;}
.feedback_realc{width:900px;position:absolute;left:0;top:200px;height:460px;}
.feedback_realc textarea{width:838px;height:318px;border:1px solid #dcdcdc;background:#fff;border-radius:6px;margin:10px 0 0 14px;font:14px/20px Microsoft yahei;color:#646464;padding:10px;}
.area_tip{position: absolute;top: 64px;left: 25px;color: #999;font: 14px/20px "Microsoft Yahei";}
.fd_p_cont{float:right;width:170px;height:40px;border:1px solid #dcdcdc;border-radius:6px;font:14px/40px Microsoft yahei;color:#333;
 text-align:center;background:#fff url(../images/hs_pc_all/tria_ii.png) no-repeat 150px 17px;margin-left:10px;cursor:pointer;}
.fd_ul_w{position:absolute;width:170px;border:1px solid #dcdcdc;border-top:0;background:#fff;border-radius-bottom:10px;
font:14px/36px Microsoft yahei;right:0;top:42px;color:#646464;text-align:center;}
.fd_ul_w li{border-bottom:1px dashed #dcdcdc;margin:0 10px;cursor:pointer;}
.fd_btn{width:135px;height:50px;background:#ea5b57;border-radius:6px;float:right;margin:8px 25px 0 0;font:18px Microsoft yahei;
cursor:pointer;color:#fff;}
.borderred{border:1px solid #ea5b57 !important;}
.fd_btn:hover{background:#e24a46;}

.hs_footer_wrap{ margin-top: 0px !important;}/*和合商footer冲突*/

/************************合商零售订单详情页css********************/
.mycenter_title{background: #f6f6f6; padding: 9px 0px; border:1px solid #e7e7e7; }
.mycenter_title span{ color: #333333; font-size: 14px; border-bottom: 2px solid #ea0000; padding: 7px 14px; margin-left: 15px; }
.mycenter_title a{margin-right:20px;color: #676767; font-size: 14px;float:right;font-weight:normal;}
.mycenter_order_note{padding-bottom:30px;}
.mycenter_order_note input{width:78px;height:22px;font:12px Microsoft Yahei;float:left;cursor: pointer;border-radius:2px;}
.mycenter_order_note h3{width:110px;text-align:right;font-size:24px;line-height:26px;
margin-top:10px;float:left;}
.mycenter_order_code{color:#999;text-align:center;font-size:14px;line-height:26px;margin-top:30px;}
.mycenter_order_code span{margin-left:20px;}
.mycenter_order_statusb{color:#3996e4;margin-left:320px;}
.mycenter_order_statusr{color:#e4393c;margin-left:320px;}
.mycenter_order_statusg{color:#9a9a9a;margin-left:362px;}
.mycenter_order_statusy{color:#ff6c00;margin-left:350px;}
.mycenter_order_confirm{color:#3996e4;background: none;border:1px solid #3996e4;margin:13px 0 0 10px;}
.mycenter_order_confirm:hover{background: #3996e4;color: #fff;}
.mycenter_order_cancel{color:#666;background: #f5f4f4;border:1px solid #f5f4f4;margin:13px 0 0 10px;}
.mycenter_order_cancel:hover{background: #fff;color: #e4393c;border:1px solid #e4393c;}
.mycenter_order_pay{color:#e4393c;background: none;border:1px solid #e4393c;margin:13px 0 0 10px;}
.mycenter_order_pay:hover{background: #e4393c;color: #fff;}

/***退货单panel***/
.opd_kuaidi{width:340px;overflow:hidden;font:14px/26px Microsoft Yahei;color:#646464;margin:15px 0 5px 20px;}
.opd_kuaidi td{padding:5px;}
.swl_txt,.order_txt{width:192px;height:28px;padding-left:6px;font:14px/28px Microsoft Yahei;color:#646464;border:1px solid #cdcdcd;}
.swl_sbtn{height:30px;font:14px/28px Microsoft Yahei;color:#fff;border:0px !important;width:80px;background:#fe8181;border-radius:3px;cursor:pointer;}
.div_swl_sbtn{float: left; height:30px;border:1px solid #ff6161;width:80px;background:#fe8181;border-radius:3px;cursor:pointer;}
.oinfo_select{width:200px;height:32px;color:#646464;border:1px solid #cdcdcd;}
