.mycenter_via{ font:16px/30px "Microsoft Yahei"; font-weight: bold;}
.oinfo_yongyaoren dt{background:#f9f9f9 url(../images/hs_pc_all/ordericon.png) no-repeat -10px -456px;padding-left:40px;}
.oinfo_invoice dt{background:#f9f9f9 url(../images/hs_pc_all/ordericon.png) no-repeat -10px -523px;padding-left:40px;}
.yyr_li{ width:75px; height:100px; float:left; margin-left:30px; text-align:center; font:14px/100px "Microsoft Yahei"; margin-top:15px;}
.select_name{color:#909090;font: 12px "Microsoft Yahei";width:80px;padding:4px 0 4px 4px;height:30px;border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle; margin-right: 10px;}
.vessel_cont{ height:69px !important;}
.w127{width:127px !important;}
.w176{width:176px !important;}
.w98{width:98px !important;}
.w90{width:90px !important;}
.ts_text{ text-align:center; color:#666; font-size:14px;}
.ts_text2{ text-align:center; color:#909090; font-size:12px;}
.table_single2{width: 960px;margin: 0 auto;border: 1px solid #efefef;margin-bottom: 18px;}
.table_single2 tr td{ padding:10px 0; border-left: 1px solid #efefef;}
.ts_state{ text-align:center; font-size:14px;}
.ts_blue{color: #3996e4;}
.ts_red{ color:#ff6161;}
.ts_orange{ color:#ff6c00;}
.ts_green{ color:#38bc32;}
.ts_gray{ color:#404040;}
.ts_gray2{ color:#909090;}
.community_content2{ width:980px !important;float:right;}
.order_invoice{ padding:10px 20px; font:12px/22px Microsoft Yahei; color:#737373; background:#fff;}
