@charset "utf-8";
@import url('common.css');
@import url('hs_common.css');

/***********确认订单CSS***********/
.confirm_content{ width: 980px;}
.paytop_nei{width:980px;}
.topay_logo{width:980px;}
.topay_logo img{float:left; width: 296px; height: 56px; margin-top: 23px; margin-bottom: 40px;}
.topay_stepul{float:right;width:380px;background:url(../images/topay/step_01.png) no-repeat center 0;margin-top:35px;}
.tored a{color:#e51d20 !important;}
.topay_stepul_2{float:right;width:380px;background:url(../images/topay/step_02.png) no-repeat center 0;margin-top:35px;}
.topay_stepul li,.topay_stepul_2 li{display:inline;font:12px/76px 'Microsoft Yahei';color:#a5a5a5;margin-left:60px;}
.topay_stepul li:first-child,.topay_stepul_2 li:first-child{margin-left:20px;}
.tored{color:#e51d20 !important;}
.topay_content{width:980px;}
.topay_h3tt{font:18px/36px 'Microsoft Yahei';color:#646464;padding:0 0 5px 18px;}
.topay_box{width:978px;border:1px solid #ddd;}
.topay_vicett{font:16px/26px 'Microsoft Yahei';color:#333;margin:6px 0;padding-left:18px;margin-top: 20px;
background:url(../images/topay/line.png) no-repeat -18px -130px;}
.topay_msg_box{width:456px;height:120px;border:1px solid #ddd;background:url(../images/topay/interval.png) repeat-x -20px;
position:relative;margin:13px 0 16px 20px;float:left;}
.span_add_address{float: right;padding:0 23px 0 25px;color: #0063cf;font-size: 14px;font-weight: normal;cursor: pointer;
	background: url(../images/sindex/so_icon.png) no-repeat 0 -65px;}
.span_modify_address{margin-left:20px; background:url(../images/hs_pc_all/addr_icon.png) no-repeat 0px -6px; padding-left: 20px; cursor: pointer; color:#3996e4; }
.msg_box_p1{font:12px/36px 'Microsoft Yahei';color:#646464;padding:0 0 7px 30px;margin:12px 15px 0 15px;border-bottom:1px dashed #ddd;
background:url(../images/topay/line.png) no-repeat -11px 9px;}
.msg_box_p1 span{background:url(../images/topay/line.png) no-repeat -11px -41px;margin:5px 0 5px 150px;padding-left:30px;}
.msg_box_p2{font:12px/36px 'Microsoft Yahei';color:#646464;padding:0 0 7px 30px;margin:12px 15px 0 15px;
background:url(../images/topay/line.png) no-repeat -11px -76px;}
.msg_box_pos{background:url(../images/topay/line.png) no-repeat 0px -160px;position:absolute;bottom:0px;right:0;
width:37px;height:35px;}


.so_cont_b{background:#fff;}
.so_addr_ul{margin:30px 40px 0 40px;}
.so_addr_ul li{height:32px;font:14px Microsoft yahei;color:#646464;margin-top:10px;}
.so_addr_ul li:hover{background:#f8f8f8;}
.so_addr_ul li span{display:block;float:left;}
.addr_pt{height:30px;line-height:30px;width:138px;text-align:center;border:1px solid #ccc;background:#fff;cursor:pointer;}
.addr_pt:hover{background:url(../images/sindex/so_icon2.png) no-repeat 0 -32px;width:140px;height:32px;border:0;}
.addr_pt em{padding:0 6px;}
.addr_detail{width:520px;height:32px;line-height:32px;margin-left:20px; overflow: hidden;padding-right: 10px;}
.addr_operate{color:#0066cc;line-height:32px;}
.addr_operate a{padding:0 20px 0 0;cursor:pointer;font-size:12px;}
.addr_default{background:#ff5c5c;width:60px;height:22px;font-size:12px;line-height:22px;margin-top:5px;text-align:center;color:#fff;}
.addr_on{background:url(../images/sindex/so_icon2.png) no-repeat;width:140px !important;height:32px !important;border:0 !important;}
.ss_addr_btn{margin:10px 0 20px 40px;width:80px;height:32px;font:12px/32px Microsoft yahei;color:#909090;cursor:pointer;
background:url(../images/sindex/so_icon.png) no-repeat 58px -209px;}
.ss_addr_btn:hover{background:url(../images/sindex/so_icon.png) no-repeat 58px -110px;color:#ff4949;}
.ss_sq{background:url(../images/sindex/so_icon.png) no-repeat 58px -89px !important;}
.ss_sq:hover{background:url(../images/sindex/so_icon.png) no-repeat 58px -188px !important;}


/*弹窗样式*/
.alert_tb{width:640px;margin-top:30px;}
.alert_tb th h3{border-bottom: 1px solid #ddd;margin:0 30px;text-align:left;color:#333;padding:0 0 10px 10px;}
.alert_tb td{font-size:14px;height:38px;color:#646464;padding:10px 10px 10px 0;overflow:hidden}
.input_sm{float: left; width:263px;border:1px solid #ddd;height:18px;padding:9px 0px 9px 10px;*+padding:10px 0px 8px 10px;color:#333;font: 12px/18px "Microsoft Yahei";}
.input_lg{float: left; width:262px;border:1px solid #ddd;height:18px;padding:9px 0px 9px 10px;*+padding:10px 0px 8px 10px;color:#333;font: 12px/18px "Microsoft Yahei";}
.left10{margin-left:10px;}
.checkbox{line-height:38px;height:38px;vertical-align:middle;margin-right:6px;}
.star_red{color:#ff4545;}
.alert_btn{border:1px solid #ff4b4b;background:#fd7676;width:220px;height:36px;border-radius:3px;font:16px microsoft yahei;color:#fff;cursor:pointer;}
.alert_btn:hover{background:#ff4b4b;}
.wrong_note{padding:30px 20px 10px 30px;width:260px;overflow:hidden;font-size:14px;color:#575757;text-align: center;}
.alert_noted{width:380px;padding-top:50px;text-align:center;overflow:hidden;font:14px/20px Microsoft Yahei;color:#646464;}
.b_blue{border:1px solid #3998e4 !important;}
.b_red{border:1px solid #ff4545 !important;}
.note_p{float:left;display:block;height:38px;color: #ff4545;font: 12px/38px "Microsoft Yahei";padding-left:25px;background-position: 7px 12px !important;}
.note_wrong{background: url(../images/common/wricon2.png) no-repeat 0px 7px;}
.note_right{background:url(../images/common/wricon2.png) no-repeat 6px -78px !important;}
.select1{width: 80px;height: 40px;color: #646464;font: 12px/34px "Microsoft Yahei";border: 1px solid #e6e6e6;padding-left: 5px;margin-right: 8px;float: left;}
.select2{width: 99px !important;margin-right: 0px !important;}
.select_lg{float: left;width: 275px;height: 40px;color: #646464;font: 12px/34px "Microsoft Yahei";border: 1px solid #e6e6e6;padding-left: 10px;}

/**兼容IE6/IE7/IE8/火狐---下拉菜单select样式设置**************************/
.select_border{ 
width:80px; 
height:36px; 
*background:#fff; 
background:#fff; 
*border:1px solid #ddd; 
float:left;
*margin-top:0px;
} 
.container{ 
*border:0; 
*position:relative; 
*height:38px; 
*overflow:hidden; 
} 
.select{ 
border:1px solid #ddd; 
padding:4px 3px; 
font-size:12px; 
height:38px; 
width:80px; 
*width:80px; 
font-family:Microsoft yahei;
color:#333;
} 


.topay_bline{margin:0 10px;height:1px;background:#ddd;}
.topay_msg_tb{margin:15px 32px;width:914px;border:1px solid #ddd;text-align:center;}
.topay_msg_tb th{border-bottom:1px solid #ddd;background:#f5f5f5; font-weight: normal; color: #646464; font-size: 12px; line-height: 28px; height: 28px;}
.topay_msg_tb td{ color: #666; font-size: 12px;}
.col9{ color: #999 !important;}
.totop15{margin-top:18px;}
.topay_goods_msgd{text-align:left;margin-top: 10px; margin-left: 10px;}
.topay_goods_msgd img{float:left;width:58px;height:58px;overflow:hidden;border: 1px solid #f9f9f9;margin-right: 8px;}
.topay_goods_msgd a{float: left;display: block;width: 310px;height: 20px;overflow: hidden;color:#646464;font: 12px/20px "Microsoft Yahei";}
.topay_goods_msgd a:hover{color:#ff6c00;}
.topayor_em{display: block;float: left;width: 310px;height: 18px;overflow: hidden;color: #acacac;font: normal 12px/18px "Microsoft Yahei";}
.topayor_span{float: left;height: 18px;display: block;color: #e4393c;font: 12px "Microsoft Yahei";margin-top: 2px;}
.pn{ padding-left: 16px; background: url(../images/topay/supportIcon.png) no-repeat 0px 2px;}/*普通不支持货到付款*/
.gs{ padding-left: 22px; background: url(../images/topay/supportIcon.png) no-repeat 0px -122px;}/*广大支持货到付款*/
.gn{ padding-left: 44px; background: url(../images/topay/supportIcon.png) no-repeat 0px -434px;}/*广大不支持货到付款*/
.hs{ padding-left: 21px; background: url(../images/topay/supportIcon.png) no-repeat 0px -279px;}/*豪诺支持货到付款*/
.hn{ padding-left: 44px; background: url(../images/topay/supportIcon.png) no-repeat 0px -583px;}/*豪诺不支持货到付款*/
.remark{float: left; width: 560px;height: 30px;*height: 40px; margin: 10px 0px 14px 0px;text-align:left;}
.remark span{float: left;display: block;color: #666;font: 12px/30px "Microsoft Yahei";}
.remark input{float: left;width: 280px;padding:4px 0 4px 6px;height: 20px;color: #434343;font: 12px "Microsoft Yahei";margin-right: 20px;border: 1px solid #ddd;box-shadow: inset 0 2px 0 #ededed;-moz-box-shadow: inset 0 2px 0 #ededed;-webkit-box-shadow: inset 0 2px 0 #ededed;}
.select_ps{float: left;width: 150px;padding-left:6px;height: 30px;border:1px solid #ddd;color:#646464;font: 12px/26px "Microsoft Yahei";}
.topay_pway{margin:18px 10px 25px 10px;}
.topay_pway li{display:inline;padding:5px 18px;font:12px Microsoft Yahei;color:#646464;border:1px solid #ddd;margin-left:22px;cursor:pointer;}
.borred{border:1px solid #ea2528 !important; background: url(../images/topay/toIcon.png) no-repeat 72px -158px;*background: url(../images/topay/toIcon.png) no-repeat 77px -157px !important;}
.topay_price_ul{margin:15px 15px 15px 0;text-align:right;}
.topay_price_ul li{font:14px/32px 'Microsoft Yahei';color:#646464;}
.topay_price_ul li span{color:#e4393c; font-weight: bold;}
.topay_subdiv{width:100%;height:39px;background:#f9f9f9;font:600 14px/50px 'Microsoft Yahei';margin-bottom:80px; border-bottom: 1px solid #e6e6e6;}
.topay_subdiv p{margin-right:20px;color:#333; float: right; height: 39px; line-height: 39px;}
.topay_subdiv p span{color:#e4393c;}
.topay_subbtn{float: right;cursor:pointer;width:125px;height: 40px;background: url(../images/topay/topay_subbtn.png) no-repeat;color:#fff;font:16px/40px 'Microsoft Yahei';border: none;}
.topay_not_subbtn{float: right;cursor: not-allowed;width:125px;height: 40px;background: url(../images/topay/topay_subbtn_gray.png) no-repeat;color:#fff;font:16px/38px 'Microsoft Yahei';border: none;}
.topay_subdiv_returnCart{ float: right; color: #3366cc; font-size: 12px;font-weight: initial; margin-right: 30px; cursor: pointer; background: url(../images/topay/toIcon.png) no-repeat 0px 13px; padding-left: 23px; height: 39px; line-height: 39px;}
.topay_subdiv_returnCart:hover{color: #ff6161; background: url(../images/topay/toIcon.png) no-repeat 0px -67px;}
.toe{color:#e4393c; font-weight: bold; font-style: normal;}
.nb_td td{ border-bottom:1px solid #ddd; padding-left: 20px;*margin-bottom: 20px;}

.join_img{position: relative; margin-top: 20px;margin-bottom: 150px;background: url(../images/topay/click.png) no-repeat;z-index: 100000;}
.join_text{position: absolute;top: 23px;left: 493px; width: 117px;height: 32px; background: url(../images/topay/click.png) no-repeat;z-index: 100000;}

/***********end 确认订单CSS***********/

/* ******************去支付页css******************** */
.topay_ttop{height:80px;width:100%;border-bottom:1px solid #ddd;background:#f5f5f5;}
.ttop_left{float:left;width:550px;padding:15px 0 15px 20px;}
.ttop_left li{font:12px/26px 'Microsoft Yahei';color:#646464;}
.ttop_left li p{font-size:16px;}
.ttop_left li p span{color:#2ea7e7;}
.ttop_right{float:left;width:350px;padding:15px 0 15px 20px;text-align:right;}
.ttop_right li{font:14px/26px 'Microsoft Yahei';color:#646464;}
.ttop_right li span{color:#ea2528;padding-left:10px; font-size: 18px;}
.ttop_right li em{font-size:12px;color:#2ea7e7;font-style:normal;padding-right:10px;cursor:pointer;
	background:url(../images/topay/arrow.png) no-repeat right 7px;}
.topay_tbottom{width:100%;margin-top:6px;}
.topay_tbottom li{font:14px/26px 'Microsoft Yahei';color:#646464;padding-left:20px;}
.topay_bank{width:980px;margin-top:20px;}
.topay_bank_tt{border-left:2px solid #cc0000;border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
font:600 14px/38px 'Microsoft Yahei';color:#ce0c0c;background:#f5f5f5;padding-left:30px;}
.bank_list{width:798px;border-top:0;}
.bank_list ul li{width:160px; height:43px; text-align:center;border:1px solid #c0cce1;float:left;margin:15px 17px 0 18px;border-radius:2px;cursor:pointer;}
.bank_list ul li img{width:138px;height:33px;margin:5px 0 0 10px;display: block;}
.bank_more{width:158px;height:36px;font:600 14px/36px 'Microsoft Yahei';text-align:center;border:1px solid #97cfef;
background:#d8f1ff;color:#2ea7e7;margin:15px 0 0 18px;cursor:pointer;}
.bank_blank10{height:10px;width:100%;}
.bank_blank25{height:25px;width:100%;}
.go_pay{width:200px;height:38px;border-radius:3px;font:16px Microsoft Yahei; font-weight: bold;}
.go_pay2{width:200px;height:38px;border-radius:3px;margin:20px 0 0 30px; font-weight: bold; font:16px Microsoft Yahei;background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
.bgray{background:#d8d8d8;border:1px solid #bfbfbf;color:#fff;cursor:not-allowed;}
.blight{background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
.please_selspan{font:12px Microsoft Yahei;padding-left:10px;color:#ff5d5b;}
.bank_light_border{border:1px solid #e51d20 !important;}
.bank_selected{width:158px;height:36px;border:1px solid #b0c2e1;border-radius:2px;cursor:pointer;}
.bank_other{padding:0px 0 0 25px;background:url(../images/topay/recycle.png) no-repeat 10px 11px;}
.bank_other a{color:#646464;}
.bank_tbed{width:360px;font:14px/36px 'Microsoft Yahei';color:#646464;text-align:center;}
.bank_tbed td{height:36px;}
.bank_chuxu{margin-right:6px;}
.bank_xinyong{margin:0 6px 0 30px;}

.topay_cont{ width: 980px; margin: 0 auto; position: relative; margin-top: 55px;}
.topay_tit{ position: absolute; top: -35px; left: 0px; height: 35px; z-index: 99; border-left: 1px solid #e6e6e6;}
.topay_tit li{ float: left; cursor: pointer; width: 118px; height: 33px; background: #f9f9f9; border-right: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; text-align: center; line-height: 33px;}
.topay_tit li a{ color: #909090; font-size: 14px; font-weight: bold;}
.topay_box2{ width: 978px; border: 1px solid #e6e6e6;padding-top:15px;}
.topaysBtn{width:798px; margin-top: 40px; margin-bottom: 78px;}
.topay_zw{ width: 978px; margin: 0 auto; margin-top: 20px; margin-left: 90px;}
.topay_zw a:hover{ border: 1px solid #ff4b4b;}
.topay_z{ float: left; display: block; width: 188px; height: 79px; border: 1px solid #e6e6e6; border-radius: 2px; background: #fff url(../images/topay/topay_zw.png) no-repeat 40px 22px;}
.topay_w{ float: left; display: block; width: 188px; height: 79px; border: 1px solid #e6e6e6; border-radius: 2px; background: #fff url(../images/topay/topay_zw.png) no-repeat 40px -438px; margin-left: 60px;}
.topay_tit_on{ border-top: 2px solid #ff4b4b !important; background: #fff !important; height: 34px !important;}
.topay_tit_on a{ color: #ff6161 !important;}

.topaysBtn0{ margin-top: 40px; margin-bottom: 78px;}
.go_pay0{width:200px;height:38px;border-radius:3px;font:16px Microsoft Yahei; font-weight: bold;}
.bgray0{background:#d8d8d8;border:1px solid #bfbfbf;color:#fff;cursor:not-allowed;}
.please_selspan0{font:12px Microsoft Yahei;padding-left:10px;color:#ff5d5b;}
.ml18{ margin-left: 18px; }
/* ******************end 去支付页css******************** */

/* ******************微信支付页css******************** */
.topay_wx{ width: 978px; height: 598px; border: 1px solid #ececec; margin-top: 20px; background:#f9f9f9 url(../images/topay/topay_wx.png) no-repeat 468px 66px;}
.wx_p{ color: #323232; font-size: 16px; width: 98px; height: 32px; padding-left: 42px; margin-left: 20px; background: url(../images/topay/wx_p.png) no-repeat 0px 0px; margin-top: 20px;}
.wx_cont{ margin-left: 154px; margin-top: 56px;}
.wx_code{ margin: 0px; width: 258px; height: 258px; border: 1px solid #ddd; border-radius: 10px; background: #fff; text-align: center;}
.wx_code img{ width: 224px; height: 224px; margin-top: 17px;}
.wx_text{ color: #646464; font-size: 14px; padding-left: 8px; margin-top: 10px; margin-bottom: 18px;}
.wx_text span{ color: #fb6a68 !important; font-size: 16px !important;}
.wx_text a{ color: #2ea7e7 !important; text-decoration: underline; margin-left: 50px;}
.wx_tip{ width: 207px; height: 62px; background: url(../images/topay/topay_wxTip.png) no-repeat; color: #fff; font-size: 16px; padding-left: 53px; padding-top: 18px; text-align: center; margin: 0;}
.wxclass{background-image: url(../images/topay/wxclass_bg.png) !important;background-color: transparent !important;box-shadow: none !important;}
.wxtimer{color: #ff7348;font: 30px "Microsoft Yahei";position: absolute;top: 88px;left: 104px;}
/* ******************end 微信支付页css******************** */

/**支付结果弹窗**/
.comments_cont{width:480px;height:230px;background:#fff;overflow: hidden;}
.comments_msg{width: 380px;height: 90px;background: #ffeee2;border: 1px solid #ffb076;margin-top: 40px;}
.comments_msg p{background: url(../images/sindex/iquestion.png) no-repeat 0px 6px;padding-left: 30px;margin: 22px 40px;color: #ff6c05;font: 14px/26px "Microsoft Yahei";}
.operation_btn{margin-top: 30px;width: 204px;height: 28px;}
.ed_btn,.ing_rebtn{display: block;float: left;width: 90px;height: 26px;font: 12px/26px "Microsoft Yahei";text-align: center;}
.ed_btn{color:#555555;border: 1px solid #dadada;background: #fafafa;}
.ing_rebtn{color:#fff;border: 1px solid #ff6900;background: #ff822a;margin-left: 20px;}
/**end  支付结果弹窗**/


/********************************** 支付失败页面css ********************************/
.topay_fail_cont{ width: 980px; height: 254px;}
.topay_fail{background:url(../images/topay/girl_sad.png) no-repeat 252px 73px !important;padding:80px 100px 80px 400px;}
.topay_fh3{color:#e4393c;font-size:20px;font-weight:normal;}
.topay_qbtn{width:160px;height:32px;border-radius:3px;margin-top:10px;font:600 14px Microsoft Yahei;background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
/********************************** end 支付失败页面css ********************************/

/********************************** 支付成功页面css ********************************/
.topay_success_cont{ width: 980px; height: 254px;}
.topay_success{background:url(../images/topay/girl_happy.png) no-repeat 252px 73px !important;padding:80px 100px 80px 400px;}
.topay_sh3{color:#0066cc;font-size:20px;font-weight:normal;}
/********************************** end 支付成功页面css ********************************/
/******用药信息******/
.topay_bline{margin:0 10px;height:1px;background:#ddd;}
.topay_pharmacy{ width:980px;}
.topay_vicett i{ font:12px/26px "Microsoft Yahei"; color:#f4b343; margin-left:12px;}
.new_built{ width:90px; height:26px; border:1px dashed #06c; font:12px/26px "Microsoft Yahei"; color:#06c; text-align:center;  margin:10px 45px; cursor:pointer; float:left;}
.new_built3{ width:90px; height:26px; border:1px dashed #cecbc6; font:12px/26px "Microsoft Yahei"; color:#cecbc6; text-align:center; margin:10px 45px; cursor:pointer; float:left;}
.new_builts{border:1px dashed #ea2528 !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom; color:#ea2528 !important;}
.topay_tb{ width:980px;  margin:20px 0 0 20px; color:#555;}
.topay_info{font: 14px/28px "Microsoft Yahei";}
.topay_input{ width:170px; height:26px; border:1px solid #e5e5e5; font:14px/26px "Microsoft Yahei"; padding-left:10px; float:left;}
#sex_1{ margin-left:20px;}
.dreupbtn{display: block;width:80px;height:26px;background: #edf0f5;border: 1px solid #e4e5e6;border-radius:13px;color: #646464;font: 12px/26px "Microsoft Yahei";text-align: center; float:left; position:relative; margin:52px 0 0 15px;}
.dreupfile{width:80px;height:26px;position: absolute;top: 0px;left: 0px;z-index: 999;opacity: 0; filter:alpha(opacity=0);font-size: 26px;overflow: hidden;}

.topay_img i{ font:12px/26px "Microsoft Yahei"; color:#888; float:left; margin:57px 0 0 15px;}
.topay_img_box{ width:78px; height:78px; border:1px solid #e5e5e5; float:left;}
/******用药信息 end******/

/*弹窗样式*/
.layui-layer{ border:10px solid rgba(0,0,0,0.1); border-radius:5px;}
.add_pharmacy_tb tr{ height:48px;}
.add_pharmacy_tb tr td{ font:12px/28px "Microsoft Yahei"; padding-right:5px; color:#646464;}
.alert_tb_1{height:38px;}
.alert_tb_1 h3{ line-height:38px; color:#333; text-align:left;border-bottom: 1px solid #ddd;margin: 0 30px;text-align: left;padding:20px 0 0 0;}
.alert_tb td{ font:12px/28px "Microsoft Yahei";color:#646464;padding:9px 9px 9px 0;overflow:hidden;}
.input_sms{float:left; width:170px; height:26px; border:1px solid #ddd;padding-left:10px;color:#333;font: 12px/28px "Microsoft Yahei"; }
.star_red{ color:#e64d4f; font: 12px/28px "Microsoft Yahei"; margin-right:9px;}
.alert_tb td label{ margin:0 35px 0 19px;}
.add_invoice_tb tr{ height:48px;}
.pd12_tr th{padding-bottom:13px; width:582px;}
.add_invoice_tb tr td{ color:#666; font: 12px/28px "Microsoft Yahei"; padding-right:15px;}
 

.star_red2{ color:#e64d4f; font: 18px/24px "Microsoft Yahei"; margin:0 0 0 9px;}
.payment{ width:980px; margin:0 auto;}
.borred0,.borred2{border:1px solid #ea2528 !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom;}
.topay_stepul2 li{display:inline;font:12px/76px 'Microsoft Yahei';color:#a5a5a5;margin-left:67px;}
.topay_stepul2{float:right;width:380px;background:url(../images/topay/step.png) no-repeat center 0;margin-top:35px;}
.borred3{border:2px solid #ea2528 !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom;display:inline;padding:5px 18px;font:12px Microsoft Yahei;color:#646464;border:1px solid #ddd;margin-left:48px;cursor:pointer;}
.pval{border:2px solid #ea2528 !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom; width:311px; height:27px;font:12px/27px Microsoft Yahei;color:#646464;cursor:pointer; float:left; margin:10px 0 0 23px; padding-left:5px;}
.borred4{border:2px solid #ddd; width:311px; height:27px;font:12px/27px Microsoft Yahei;color:#646464;cursor:pointer; float:left;padding-left:5px;}
.borred5{border:2px solid #ea2528 !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom;display:inline;padding:5px 25px;font:12px Microsoft Yahei;color:#646464;cursor:pointer;}
.invoice_input{ width:235px; padding:0 73px 0 10px; height:26px; border:2px solid #ddd;  font:12px/26px'Microsoft Yahei'; cursor:pointer;}
.new_invoice{ color:#69b9ff; font:12px/48px 'Microsoft Yahei';}
.pos_invoice{ position:relative;}
.keep_invoice{font:12px/30px 'Microsoft Yahei'; color:#43acff; position:absolute; left:282px; top:0px;}
.keep_invoice:active{ color:#e4393c;}
.invoice_box{ position:absolute; left:20px; top:10px;}
/*点击边框变化样式*/
.topay_add{ border:1px solid #e4393c !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom;}
.topay_add2{ border:2px solid #e4393c !important; background: url(../images/sindex/so_icon3.png) no-repeat right bottom;}
.topay_add3{ border:1px solid #e5e5e5 !important; background:none;}
.topay_add4{ border:2px solid #e5e5e5 !important; background:none;}
/*点击边框变化样式end*/

.mr7{color:#434343;width:170px; height:26px; border:1px solid #e5e5e5; font:14px/28px "Microsoft Yahei";border: 1px solid #dedede; box-shadow: inset 0 1px 0 #f3f3f3; vertical-align: middle;background: #fff url(../images/sellerCenter/pur_icon.png) no-repeat 153px 6px; cursor: pointer; padding-left:10px; float:left;}
.fptt{ vertical-align:top; line-height:48px !important;padding-right: 15px;}
.borred_bj{ float:right; margin-right:10px;}
.borred_bj a{ color:#2878d2;}
.invdiv,.invdiv2{margin-bottom: 12px;position: relative;height:31px; width:320px; float:left;}
.invhover{position:absolute; top:0px; left:240px;}
.invhover a{margin-left: 10px;}

.add_pharmacy_tb tr td p,.text_p{ height:28px; float:left; color:#e64d4f;  font:12px/28px "Microsoft Yahei"; margin-left:5px; text-align:left; padding-left:20px;}

/*上传图片文本框*/
.goods_uploadpic li{ float: left; margin-left: 10px; width: 78px; height: 78px; border: 1px solid #edf0f5; position: relative;}
.goods_uploadpic li img{ width: 78px; height: 78px; overflow: hidden;}
.goods_uploadpic_note{color: #909090;font-size: 12px;margin-top: 8px;margin-left: 10px;margin-bottom: 18px;}
.deletePic{ display: block; width: 10px; height: 10px; background: url(../images/sellerCenter/deletePic.png) no-repeat; position: absolute; top: 3px; right: 3px; cursor: pointer;}
.addPic{ background: url(../images/sellerCenter/jia.png) no-repeat 23px 23px; cursor: pointer;}
.addPic input{ width: 78px; height: 78px; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}
.uploadTip{ border: none !important;}
.uploadTip span{ color: #525252; font-size: 12px; position: absolute; bottom: 0px;}
.uploadPic p{ color: #909090; font-size: 12px; margin-top: 8px; margin-left: 10px; margin-bottom: 18px;}

/*不在配送范围提示弹窗*/
.community_prompt tr td{ height:20px;}
.community_text{ font:14px/20px "Microsoft Yahei"; color:#646464; text-align:center;}