@charset "utf-8";
/* CSS Document */
@import url('hs_common.css');

/************************零售-找回密码css********************/
.backpwd_head_wrap{width: 100%;background: #fff;}
.backpwd_head{width: 980px;height: 99px;}
.backpwd_head a{float: left;display: block;width: 220px;height: 66px;background: url(../images/reg/regLogo.png) no-repeat;margin: 17px 39px 0px 1px;}
.backpwd_head p{float: left;height: 60px;color: #434343;font: 24px/60px "Microsoft Yahei";border-left: 2px solid #eaeaea;margin-top: 20px;padding-left: 20px;}
.backpwd_head_bg{width: 100%;height: 70px;background: url(../images/reg/backpwd_bg1.png) no-repeat center center;border-top: 1px solid #f5f5f5;}
.backpwd_main_wrap{width: 100%;height: 600px;background: url(../images/reg/backpwd_bg2.png) no-repeat center center;margin-bottom: 70px;}
.backpwd_main{width: 980px;height: 504px;background: #fff;padding-top: 96px;}
.backpwd_mainTit{width: 600px;height: 25px;border-bottom: 2px solid #ebebeb;position: relative;}
.backpwd_mainTit ul{position: absolute;top: 2px;left: 0px;}
.backpwd_mainTit li{width: 72px;padding: 0px 0px 3px 28px;color: #a6a6a6;font: 16px/20px "Microsoft Yahei";border-bottom: 2px solid #ebebeb;float: left;position: relative;margin-left: 75px;}
.backpwd_mainTit li i{float: left;display: block;width: 18px;height: 20px;background: url(../images/reg/backpwdIcon.png) no-repeat 1px 2px;color: #fff;font: 12px/19px "Microsoft Yahei";text-align: center;position: absolute;top: 0px;left: 7px;}
.bdTit_on{color: #ff6161 !important;border-bottom: 2px solid #ff7e7e !important;}
.bdTit_on i{background: url(../images/reg/backpwdIcon.png) no-repeat 1px -22px !important;}
.backpwd_tab1,.backpwd_tab2{width: 450px;margin: 59px auto 0px auto;}
.bpt_tit{color: #646464;font: 14px/40px "Microsoft Yahei";text-align: right;padding-right: 6px;}
.bpt_tit i{color: #ff4545;margin-left: 2px;}
.J_bpt_div{width: 310px;}
.bpt_div{height: 40px;float: left;position: relative;}
.bpt_div em{color: #ccc;font: normal 12px/18px "Microsoft Yahei";position: absolute;top: 11px;left: 11px;}
.bptInput,.bptInput_sm{height: 18px;padding: 10px;border: 1px solid #e6e6e6;color: #434343;font: 12px/18px "Microsoft Yahei";}
.bptInput{width: 288px;}
.bptInput_sm{width: 158px;}
.bpt_imgcode{float: right;width: 120px;height: 40px;cursor: pointer;margin-left: 10px;}
.bpt_codeBtn{float: right;width: 118px;height: 38px;background: #f6f6f6;border: 1px solid #e6e6e6;}
.bpt_codeBtn input{width: 118px;height: 38px;background: none;border: 0;color: #7d7d7d;font: 12px "Microsoft Yahei";cursor: pointer;}
.bpt_codeBtn:hover input{color: #646464;}
.bpt_codeBtn_jin{border: 1px solid #e0e0e0 !important;background: #e0e0e0 !important;}
.bpt_codeBtn_jin input{color: #fff !important;cursor: not-allowed !important;}
.bpt_span{float: right;display: block;width: 40px;height: 40px;}
.bpt_p{color: #ff6161;font: 12px "Microsoft Yahei";padding: 4px 0px 4px 20px;}
.pwdcut{display: block;width: 20px;height: 12px;background: url(../images/reg/hseye.png) no-repeat 1px 2px;cursor: pointer;position: absolute;top: 14px;right: 10px;}
.pwdcut:hover{background: url(../images/reg/hseye.png) no-repeat 1px -34px;}
.pwdcut_on{background: url(../images/reg/hseye.png) no-repeat 0px -68px !important;}
.bpt_codeTip{color: #646464;font: 12px "Microsoft Yahei";margin-top: 5px;background: url(../images/common/wricon.png) no-repeat 0px -183px;padding: 0px 30px 0px 20px;}
.bpt_codeTip span{color: #ff6161;padding: 0px 4px;}
.bptBtn{width: 312px;height: 38px;background: url(../images/reg/regBtn.png) no-repeat 0px 0px;color: #fff;font: bold 16px "Microsoft Yahei";cursor: pointer;margin-top: 10px;}
.bptBtn:hover{background: url(../images/reg/regBtn.png) no-repeat 0px -125px;}
.bpt_wrong{background: url(../images/common/wricon.png) no-repeat 0px 5px;}
.bpt_right{background: url(../images/common/wricon.png) no-repeat 6px -72px;}
.bpt_blue{border: 1px solid #3998e4 !important;}
.bpt_red{border: 1px solid #ff6161 !important;}
.backpwd_div3{height: 100px;padding-left: 116px;background: url(../images/reg/backpwdIcon.png) no-repeat 0px -50px;margin: 88px 0px 0px 365px;}
.backpwd_div3 h3{color: #ff696f;font: bold 18px "Microsoft Yahei";padding-top: 25px;}
.backpwd_div3 p{color: #757575;font: 16px "Microsoft Yahei";margin-top: 6px;}
.backpwd_shade{width: 980px;height: 14px;background: url(../images/reg/backpwd_shade.png) no-repeat center center;}
/************************end 零售-找回密码css********************/
