@charset "utf-8";
@import url('hs_common.css');
@import url('ibar.css');


/***********合商-零售首页CSS***********/
/*浮动搜索栏*/
.f_search_wrap{width: 100%;height: 60px; background: #ee4646;position: fixed;top: 0px;z-index: 999;}
.f_search{ width: 1200px; margin: 0 auto;position:relative;}
.f_search_logo{float: left;width: 170px;height: 50px;background: url(../images/common/grp_logo.png) no-repeat 0px -150px;margin: 5px 0px 0px 10px;}
.f_searchText{float: right;width: 401px;height: 20px;border: 2px solid #d5291f;padding:9px 0 9px 15px;background: #fff;color: #333; font: 14px/20px Microsoft Yahei; margin-top: 9px;}
.f_searchSub{ float: right; width: 80px; height: 42px; background: #d5291f; color: #fff; font-size: 16px; font-family: "微软雅黑"; cursor: pointer; margin-top: 9px; margin-right: 31px;}
.f_search_list{position:absolute;left:671px;top:50px;}
.f_search_list{width: 496px;border:1px solid #ddd;background:#fff;position:absolute;z-index:1000;}
.f_search_list li{font: 14px/32px Microsoft Yahei;}
.f_search_list li a{padding:0 10px;color:#333;display:block;height:32px;}
.xlist_on{background:#f5f5f5;}
/*end 浮动搜索栏*/
.top_ad_wrap{width: 100%;background: #f0000b;}
.top_ad{width: 1200px;height: 60px;position: relative;}
.top_ad img{width: 1200px;height: 60px;}
.ad_close{display: block;width: 19px;height: 19px;position: absolute;top: 10px;right: 10px; background: url(../images/common/grpIcon1.png) no-repeat 0px -480px;cursor: pointer;}
.ad_close:hover{background: url(../images/common/grpIcon1.png) no-repeat 0px -520px;}

/*产品分类导航*/
.hs_banner{width: 1200px;height: 326px;margin: 0 auto;position: relative;}
.cata_tit{width: 190px;height: 326px;background: #876769;float: left;}
.cata_tit li{width: 190px;height: 40px;float: left;}
.cata_tit a{display: block;color: #fff;font: 14px/40px "Microsoft Yahei";padding-left: 52px;background: url(../images/common/grpIcon1.png) no-repeat 172px -305px;cursor: pointer;}
.cata_tit li:hover{background: #874c50;}
.cata_s1{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px 13px;}
.cata_s2{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -75px;}
.cata_s3{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -31px;}
.cata_s4{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -455px;}
.cata_s5{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -555px;}
.cata_s6{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -251px;}
.cata_s7{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -207px;}
.cata_s8{ background: url(../images/hs_index/cataIcon.png) no-repeat 21px -506px;}
.cata_s1:hover,.mgd_1{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px 13px !important;}
.cata_s2:hover,.mgd_2{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -75px !important;}
.cata_s3:hover,.mgd_3{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -31px !important;}
.cata_s4:hover,.mgd_4{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -455px !important;}
.cata_s5:hover,.mgd_5{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -555px !important;}
.cata_s6:hover,.mgd_6{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -251px !important;}
.cata_s7:hover,.mgd_7{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -207px !important;}
.cata_s8:hover,.mgd_8{ background: #874c50 url(../images/hs_index/cataIcon.png) no-repeat 21px -506px !important;}
.cata_cont{width: 1020px;min-height: 326px;position: absolute;top: 0px;left: 190px;*z-index: 999;}
.cata_single{width: 738px;min-height: 326px;margin: 0;padding: 0px 20px;background: #fafafa;position: absolute;z-index: 9999;}
.cata_single li{padding: 12px 0px;border-bottom: 1px dashed #eee;}
.cata_single li a{ float: left;}
.caTit{float: left;margin-right: 18px;}
.caTit a{display: block;width: 74px;padding-left: 6px;height: 20px;background: #a79e9e url(../images/hs_index/arrowsR.png) no-repeat 59px -80px;color: #fff;font: 12px/20px "Microsoft Yahei";}
.caList{float: left;width: 640px;}
.caList a{display: block;color: #646464;font: 12px/16px "Microsoft Yahei";height: 16px;white-space:nowrap;padding: 0px 8px;border-right: 1px solid #e3e3e3;margin: 2px 0px;}
.caList a:hover{color: #d73228;text-decoration: underline;}
.cata_ad{position: absolute;left: 50%;top: 0px;margin-left: 268px;width: 231px;min-height: 326px;background: #fafafa;z-index: 9999;}
.ad_shang{width: 231px;height: 156px;}
.ad_xia{width: 231px;height: 170px;}
/*end 产品分类导航*/

/*全屏轮播banner图*/
.bslides {width:800px;height: 326px;position:relative;overflow:hidden;margin-left:10px;float:left;}
/*数字按钮样式*/
.bslides .num { overflow:hidden; height: 20px; position: absolute; bottom:12px; left:50%; margin-left:-75px; zoom:1; z-index:3 }
.bslides .num li { font-size:14px;width: 20px; height: 20px; line-height: 20px; text-align: center; font-weight: 400; font-family: "微软雅黑", Arial; color: #FFFFFF; background: #000; opacity:0.5;filter:alpha(opacity=5);margin-right: 10px; border-radius:50%; cursor:pointer; float: left; }
.bslides .num li.on { background: #f12924 ; opacity: 100 !important; filter: alpha(opacity=100) !important; } /*当前项*/
/*上一个  下一个*/
.bslides .prev,.bslides .next{display: none;width:30px;height:66px;position:absolute;top:115px;z-index:9999;}
.bslides .prev{background:url(../images/hs_index/grp_hsIndex.png) no-repeat 0 -203px;left:0px;}
.bslides .next{background:url(../images/hs_index/grp_hsIndex.png) no-repeat -70px -203px;right:0px;}


/*end 全屏轮播banner图*/
.leftBtn,.rightBtn{display: none;width:26px;height:66px;position:absolute;top:40px;z-index:9999;}
.leftBtn{background:url(../images/hs_index/grp_hsIndex.png) no-repeat 0 -319px;left:0px;}
.leftBtn:hover{background:url(../images/hs_index/grp_hsIndex.png) no-repeat 0 -435px;cursor:pointer;}
.rightBtn{background:url(../images/hs_index/grp_hsIndex.png) no-repeat -74px -319px;right:0px;}
.rightBtn:hover{background:url(../images/hs_index/grp_hsIndex.png) no-repeat -74px -435px;cursor:pointer;}
.hs_bulletin{float: left;width: 190px;height: 326px;position: absolute;top:0px;left: 50%;margin-left: 410px;z-index: 998;}
.hbn_tit{width: 170px;height: 35px;padding: 0px 10px;background: #fff;border-bottom: 1px solid #f0f0f0;}
.hbn_tit p{float: left;color: #646464;font: 14px/35px "Microsoft Yahei";}
.hbn_tit a{float: right;display: block;color: #878787;font: 14px/35px "Microsoft Yahei";background: url(../images/common/grpIcon1.png) no-repeat 33px -346px;padding-right: 10px;}
.hbn_cont{width: 170px;height: 124px;background: #fff;padding: 10px;}
.hbn_cont a{display: block;color: #646464;font: 12px/25px "Microsoft Yahei";}
.hbn_cont a span{color: #8e8e8e;margin-right: 10px;}
.hbn_tit a:hover,.hbn_cont a:hover,.hbn_cont a:hover span{color: #d32c2c;}
.hbn_ad{width: 190px;height: 136px;padding-top: 10px;position: relative;}
.hbn_ad img{width: 100%;cursor: pointer;}
.hbn_a{display: block;width: 190px;height: 28px;background:url(../images/hs_index/hbn_tit_bg.png) no-repeat;cursor: pointer;position: absolute;bottom: 0px;left: 0px;}
.pl0{padding-left: 0px !important;}
.pl0 .popBtn{left: 12px;}
.ml0{margin-left: 0px !important;}
.hs_popGoods{width: 1200px;height: 124px;margin-top: 10px;}
.hs_popGoods li{float: left;width: 232px;height: 124px;position: relative;padding-left: 10px;font-size: 0;}
.hs_popGoods li a{display: block;cursor: pointer;}
.hs_popGoods li a img{width: 232px;height: 124px;}
.popBtn{display: block;width: 46px;height: 18px;border-radius: 10px;font: 14px/18px "Microsoft Yahei";text-align: center;position: absolute;left: 22px;bottom: 10px;cursor: pointer;}
.popBtn:hover{color: #fff;}
.popBtn1{color: #98a5e9;border: 1px solid #98a5e9;}
.popBtn2{color: #dc93a0;border: 1px solid #dc93a0;}
.popBtn3{color: #6db9c3;border: 1px solid #6db9c3;}
.popBtn4{color: #98a5e9;border: 1px solid #98a5e9;}
.popBtn5{color: #f1ae52;border: 1px solid #f1ae52;}
.popBtn1:hover{background: #98a5e9;}
.popBtn2:hover{background: #dc93a0;}
.popBtn3:hover{background: #6db9c3;}
.popBtn4:hover{background: #98a5e9;}
.popBtn5:hover{background: #f1ae52;}
.hs_sale{width: 1200px;height: 284px;margin-top: 16px;}
.saleImg{width: 1200px;height: 50px;}
.saleImg img{width: 100%;}
.saleCont{width: 1200px;height: 224px;margin-top: 10px;position: relative; overflow: hidden;}
.saleIn{position: absolute;top:0;left:-10px; height: 224px;}
.sale_single{width: 232px;height: 224px;background: #fff;position: relative;float: left;margin-left: 10px;}
.sale_img{width: 232px;height: 140px;padding-top: 4px;}
.sale_img img{display: block;width: 140px;height: 140px;margin: 0 auto;}
.sale_tit{width: 212px;padding: 0px 10px;height: 32px;overflow: hidden;padding-top: 3px;}
.sale_tit a{display: block;color: #646464;font: 12px/16px "Microsoft Yahei";}
.sale_cont{width: 212px;height: 26px;padding: 0px 10px 9px 10px;}
.sale_sp{float: left;width: 132px;height: 35px;}
.sale_jg{color: #f64840;font: bold 16px "Microsoft Yahei";}
.sale_jg em{font-size: 12px !important;font-style: normal !important;}
.sale_yj{text-decoration: line-through;}
.sale_num{display: block;}
.sale_yj,.sale_num{color: #909090;font: 12px/15px "Microsoft Yahei";}
.saleBtn{float: right;width: 80px;height: 32px;background: url(../images/hs_index/grp_hsIndex.png) no-repeat 0px -80px;margin-top: 3px;}
.saleBtn a{display: block;background: url(../images/hs_index/grp_hsIndex.png) no-repeat 9px 10px;color: #fff;font: bold 12px/32px "Microsoft Yahei";padding-left: 22px;}
.saleBtn a:hover{background: #fa5f5d url(../images/hs_index/grp_hsIndex.png) no-repeat 9px 10px;border-radius: 2px;}
.sale_all{width: 232px;height: 224px;background: url(../images/hs_index/sallbg.png) no-repeat;position: absolute;top: 0px;left: 0px;}
.hs_ad{width: 1200px;height: 80px;padding-top: 16px;}
.hs_ad img{width: 100%;}
.hs_floor_wrap{width: 1200px;margin-bottom: 50px;}
.hs_floor{width: 1200px;}
.hs_floor_tit{width: 1200px;height: 38px;padding-top: 20px;}
.fltit{float: left;width: 220px;height: 20px;color: #333;font: 18px/20px "Microsoft Yahei";border-left: 6px solid #fc9753;padding-left: 14px;}
.flcont{float: right;height: 20px;}
.flcont a{float: left;display: block;color: #646464;font: 12px/20px "Microsoft Yahei";background: url(../images/hs_index/grp_hsIndex.png) no-repeat 0px -692px;padding: 0px 20px;}
.pr0{padding-right: 0px !important;}
.bgn{background: transparent !important;}
.flcont a:hover{color: #ea3232;}
.flon{color: #ea3232 !important;}
.hs_floor_cont{width: 1200px;height: 412px;}
.flt_left{float: left;width: 220px;height: 382px;padding-top: 30px;}
.flt_left a{display: block;width: 118px;height: 28px;color: #fff;font: 14px/28px "Microsoft Yahei";text-align: center;margin-bottom: 10px;}
.flt1{background: url(../images/hs_index/flt_01.jpg) no-repeat;}
.flt1 a{border: 1px solid #f6d896;background: #f1bf54;}
.flt1 a:hover{border: 1px solid #fff;background: #efb73f;}
.flt1_on{border: 1px solid #fff !important;background: #efb73f !important;}
.flt2{background: url(../images/hs_index/flt_02.jpg) no-repeat;}
.flt2 a{border: 1px solid #fec582;background: #fda133;}
.flt2 a:hover{border: 1px solid #fff;background: #fd951a;}
.flt2_on{border: 1px solid #fff !important;background: #fd951a !important;}
.flt3{background: url(../images/hs_index/flt_03.jpg) no-repeat;}
.flt3 a{border: 1px solid #bad1ff;background: #8fb4ff;}
.flt3 a:hover{border: 1px solid #fff;background: #81abff;}
.flt3_on{border: 1px solid #fff !important;background: #81abff !important;}
.flt4{background: url(../images/hs_index/flt_04.jpg) no-repeat;}
.flt4 a{border: 1px solid #ffaeae;background: #ff7a7a;}
.flt4 a:hover{border: 1px solid #fff;background: #ff5959;}
.flt4_on{border: 1px solid #fff !important;background: #ff5959 !important;}
.flt_right{float: left;width: 980px;height: 411px;background: #fff;border-top: 1px solid #fff;}
.flt_right ul{width: 1000px;height: 205px;border-top: 1px solid #f2f2f2;}
.bt0{border-top: 0px !important;}
.bl0{border-left: 0px !important;}
.flt_right ul li{float: left;width: 195px;height: 205px;border-left: 1px solid #f2f2f2; overflow: hidden;word-break: break-all;}
.flr_img{display: block;width: 140px;height: 140px;margin: 0 auto;cursor: pointer;}
.flr_tit{display: block;height: 32px;color: #646464;font: 12px/16px "Microsoft Yahei";padding: 2px 10px;}
.flr_tit:hover{color: #ea3232;}
.flr_jg{height: 23px;padding: 0px 10px 0px 10px;}
.flr_jg span{color: #f64840;font:bold 16px/23px "Microsoft Yahei";}

/*图片动画*/
.sale_img img,.flr_img{
	transition:transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
	-ms-transition: -ms-transform .2s linear;
}
.sale_img img:hover,.flr_img:hover{
	-webkit-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	transform:rotate(3deg);
}
/*end 图片动画*/

/*社区弹窗*/
.comClass{background-image: url(../images/hs_index/comClass.png) !important;background-color: transparent !important;box-shadow: none !important;}/*注册成功弹窗样式*/
.community_layer{width: 420px;height: 250px;margin-top: 97px;}
.community_tit{width: 390px;height: 44px;}
.community_tt{float: left;color: #fc5e5d;font: 16px/20px "Microsoft Yahei";height: 20px;margin: 22px 0px 0px 0px;padding-left: 15px;background: url(../images/hs_index/comIcon.png) no-repeat 0px 3px;}
.comlogin,.comreg{float: right;display: block;width: 26px;padding-top: 26px;height: 18px;font: 12px/18px "Microsoft Yahei";text-align: center;}
.comlogin{color: #fca382;background: url(../images/hs_index/comIcon.png) no-repeat 1px -81px;margin-right: 16px;}
.comlogin:hover{color: #fe7c4c;background: url(../images/hs_index/comIcon.png) no-repeat -25px -81px;}
.comreg{color: #7fb4fd;background: url(../images/hs_index/comIcon.png) no-repeat 1px -34px;margin-right: 26px;}
.comreg:hover{color: #4994fc;background: url(../images/hs_index/comIcon.png) no-repeat -25px -34px;}
.community_cont{width: 426px;height: 200px;margin-top: 13px;}
.community_cont table{width: 426px;height: 200px;}
.comtit{color: #646464;font: 12px "Microsoft Yahei";text-align: right;padding-right: 5px;}
.regsel{float: left;width: 310px;height: 40px;}
.comselect{width:98px;height:40px;padding-left:6px;color: #646464;font: 12px/34px "Microsoft Yahei";border:1px solid #e6e6e6; float:left;}/*地区三级联动*/
.comselect_lg{width:310px;height:40px;padding-left:6px;color: #656565;font: 12px/34px "Microsoft Yahei";border:1px solid #e6e6e6;}/*地区三级联动*/
.ml3{margin-left: 8px;}
.pt28 td{padding-top: 28px;}
.combtn{display:block;width: 310px;height: 48px;background: url(../images/hs_index/comBtn.png) no-repeat 0px 0px;color: #fff;font: 16px/38px "Microsoft Yahei";text-align: center;cursor: pointer;margin: 4px 0px 0px 0px;}
.combtn:hover{background: url(../images/hs_index/comBtn.png) no-repeat 0px -63px;}
.regspan{float: left;display: block;width: 28px;height: 40px;}
.regp{color: #ff4545;font: 12px "Microsoft Yahei";padding: 5px 0px 5px 20px;}
.reg_wrong{background: url(../images/common/wricon2.png) no-repeat 0px 6px;}
.reg_right{background: url(../images/common/wricon2.png) no-repeat 4px -72px;}
.reg_blue{border: 1px solid #3998e4 !important;}
.reg_red{border: 1px solid #ff4545 !important;}
/*end 社区弹窗*/
/***********end 合商-零售首页CSS***********/