@charset "utf-8";

/*右侧边栏*/
.ibar{ width: 34px; height: 100%; background: #444851; position: fixed; top: 0px; right: 0px; z-index: 9990;}
.ibar_main_center{ width: 34px; position: absolute; top: 50%; left: 0px; height:300px; margin-top: -150px;}
.i_shopCart{ height: 127px; cursor: pointer; }
.i_shopCart:hover{ background: #f75850;}
.i_shopCart:hover .cart_num{ color: #ff6565; background: #fff;}
.i_shopCart a{display: block;padding: 10px 0px;}
.i_shopCart i{ display: block; width: 24px; height: 18px; background: url(../images/hs_index/ibarIcon.png) no-repeat 0px 0px;}
.cart_text{ display: block; width: 16px; cursor: pointer; color: #fff; font-size: 12px; line-height: 16px; margin-top: 10px; margin-left: 10px;}
.cart_num{ width: 20px; height: 20px; display: block; border-radius: 50%; background: #f75850; text-align: center; line-height: 21px; margin: 11px 0 0 7px;
 cursor: pointer; color: #fff; font-size: 12px;}
	/*工具标签效果*/ 
.toolbar-tab{ display: block; position: relative;width: 34px;height: 34px;margin-bottom: 1px;cursor: pointer;color: #fffefe; font-size: 14px;}
.tbar-tab-hover{ left: -90px !important; background-color: #f75850;}
.tbar-tab-selected i{ background-color: #f75850;}
.myhs i{background-image: url(../images/hs_index/ibarIcon.png);background-repeat: no-repeat; background-position: 10px -72px;}
.tab-ico{ display: block; width: 34px;height: 34px;position: relative;z-index: 2;background-color: #444851;}
.tab-text{ width: 90px;height: 34px;line-height: 34px;color: #FFF;text-align: center;font-family: "微软雅黑";position: absolute;z-index: -1; left: 0px; *+left: 34px;top: 0px;
background-color: #f75850;transition: left 0.3s ease-in-out 0.1s;font-style: normal;margin: 0px;padding: 0px;cursor: pointer;}
.mysq{ display: block; position: relative;width: 34px;height: 34px;margin-bottom: 1px;cursor: pointer;color: #fffefe; font-size: 14px;background-color: #f75850;}
.mysqi_hover{background-color: #f75850;}
.mysq i{background-image: url(../images/hs_index/ibarIcon.png);background-repeat: no-repeat; background-position: 10px -168px;}
.mysqCont{ width: 285px; background-color: #f75850; padding-top: 14px;padding-bottom: 14px; padding-left: 15px; position: absolute; left: -300px; top:0px;}
.mysq_tx{ float: left; width: 80px; height: 80px; overflow: hidden;}
.mysq_text{ float: left; color: #fffefe; font-size: 14px; line-height: 22px; margin-left: 20px;width: 170px;}
.mysq_info{ float: left; color: #fffefe; font-size: 14px; margin-top: 16px; line-height: 22px;}
.mysq_code{ float: left; width: 105px; background: url(../images/common/mysqIcon.png) no-repeat 0px 38px;}
.mysq_code img{ width: 66px; height: 66px; border: 3px solid #ddd; border-radius: 4px; margin-left: 26px; margin-top: 12px;}
.lxsq i{background-image: url(../images/hs_index/ibarIcon.png);background-repeat: no-repeat; background-position: 10px -268px;}
.ibar_footer{ position: absolute; bottom: -1px;}
.ibar_footer i{background-image: url(../images/hs_index/ibarIcon.png);background-repeat: no-repeat; background-position: 7px -376px; background-color: #919191;}
.mt4{ margin-top: 4px !important;}
.mt10{ margin-top: 10px !important;}

.community{ display: block; position: relative;width: 34px;height: 34px;margin-bottom: 1px;cursor: pointer;color: #fffefe; font-size: 14px;/*background-color: #f75850;*/}
.mysqi_hover{background-color: #f75850;}
.community i{margin-top: 9px;background-image: url(../images/common/trumpet.png);background-repeat: no-repeat; background-position: 8px 7px;}
.comCont{ width: 300px;height:200px;background-image: url(../images/common/comCont.png); position: absolute; left: -300px; *top:9px !important;top:0px;}
/*end 右侧边栏*/