@charset "utf-8";
/***********转账审核***************/
.gd_vessel_cont_top {padding: 20px 0px 20px 20px;border: 1px solid #e1e6eb;}
.gd_vessel_cont_top .select_btn{display: block;float: left;width: 74px;padding-left: 16px;height: 30px;background: url(../images/provider/provBtn.png) no-repeat 0px -42px;color: #fff;font: 12px/30px "Microsoft Yahei";text-align: center;position: relative;}
.select_btn i{display: block;width: 12px;height: 12px;background: url(../images/provider/provBtn.png) no-repeat 0px 0px;position: absolute;top: 9px;left: 25px;}
.select_btn:hover{background: url(../images/provider/provBtn.png) no-repeat -110px -42px;}
.provBtn_addgood{display: block;float: left;width: 74px;padding-left: 16px;height: 30px;background: url(../images/provider/provBtn.png) no-repeat 0px -102px;color: #fff;font: 12px/30px "Microsoft Yahei";text-align: center;position: relative;}
.provBtn_addgood i{display: block;width: 12px;height: 12px;background: url(../images/provider/provBtn.png) no-repeat -93px 0px;position: absolute;top: 9px;left: 14px;}
.provBtn_addgood:hover{background: url(../images/provider/provBtn.png) no-repeat -110px -102px;}
.gd_vessel_cont_top .return_btn{display: block;float: left;width: 74px;padding-left: 16px;height: 30px;background: url(../images/provider/provBtn.png) no-repeat 0px -102px;color: #fff;font: 12px/30px "Microsoft Yahei";text-align: center;position: relative;}
.gd_vessel_cont_top .return_btn i{display: block;width: 14px;height: 12px;background: url(../images/provider/provBtn.png) no-repeat -1px -158px;position: absolute;top: 9px;left: 25px;}
.gd_vessel_cont_top .return_btn:hover{background: url(../images/provider/provBtn.png) no-repeat -110px -102px;}
.gd_vessel_cont_top .add_btn{display: block;float: left;width: 74px;padding-left: 16px;height: 30px;background: url(../images/provider/provBtn.png) no-repeat 0px -102px;color: #fff;font: 12px/30px "Microsoft Yahei";text-align: center;position: relative;}
.gd_vessel_cont_top .add_btn i{display: block;width: 14px;height: 12px;background: url(../images/provider/provBtn.png) no-repeat -93px 0px;position: absolute;top: 9px;left: 25px;}
.gd_vessel_cont_top .add_btn:hover{background: url(../images/provider/provBtn.png) no-repeat -110px -102px;}
.gd_vessel_cont{ width: 980px; background: #fff;}
.gd_vessel_cont p{ float: left; color: #575757; font-size: 14px;}
.gd_table_single tr td{ padding-top: 10px; padding-bottom: 10px;color: #666;font-size: 14px;text-align: center;}
.gd_table_single { width: 980px;margin: 0 auto;border-bottom: 1px solid #efefef;}
.gd_reg_hr{height: 9px;padding: 0px !important; background: url(../images/r_recruit/tr_hr.png);}
.gd_tr{color: #808080;font: 14px "Microsoft Yahei";text-align: left;}
.gd_tr td{height: 50px;border-bottom: 1px solid #eeeeee;}
.gd_ts_zt{ text-align: center; font-size: 14px;}
.bz{overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;width:120px;}
.wrong_er {padding: 30px 20px 10px 110px;width: 230px;overflow: hidden;font-size: 16px;color: #646464;text-align: left;background: url(../images/common/lay3.png) no-repeat 25px 32px;}
.dobtn{ cursor: pointer;display: block; width: 70px;height: 20px;text-align: center;line-height: 22px;border: 1px solid #f5f4f4;border-radius: 3px;background: #f5f4f4;color: #666;font-size: 12px;margin-bottom: 6px;}
.dobtn:hover{border: 1px solid #ff4b4b; background: #fff; color: #ff6161;}
/***********转账审核***************/
/***********转账管理***************/
.gd_cont{ width: 980px; background: #fff;}
.gd_cont p{ float: left; color: #575757; font-size: 12px;}
.gd_com_sel{float: left;position:relative;}
.gd_sel{width: 107px;height: 28px;box-shadow: inset 0 1px 0 #f3f3f3;border: 1px solid #dedede;margin-left:10px; color:#999999;font:14px/28px "Microsoft Yahei";cursor:pointer;padding-left: 8px;}
.gd_sel_p{width: 107px;height: 28px;box-shadow: inset 0 1px 0 #f3f3f3;background: url(../images/recruit/xl.png) no-repeat 90px 10px;border: 1px solid #dedede;margin-left:10px; color:#999999;font:14px/28px "Microsoft Yahei";cursor:pointer;padding-left: 8px;}
.gd_sel_p1{ background: url(../images/recruit/xl1.png) no-repeat 90px 10px;border-bottom-left-radius: 1px;border-bottom-right-radius:1px;border:1px solid #3aa2e4;}
.gd_com_sel ul{z-index: 10; width:115px;position:absolute;left:10px;top:30px;border:1px solid #3aa2e4;border-top:0;background:#fff;}
.gd_com_sel ul li{font:12px/26px Microsoft yahei;color:#575757;cursor:pointer;padding-left: 8px;}
.gd_com_sel ul li:hover{background:#79beff !important;color:#fff !important;}
.ga_com_post{margin-left: 0px;}
.gd_vessel_name{line-height: 30px;margin-left: 10px;}
.vessel_name input{color:#909090;font: 12px "Microsoft Yahei"; width: 115px;padding: 4px 0px 4px 10px;height: 20px;border: 1px solid #dedede; vertical-align: middle; margin-right: 10px;}
.vessel_name {position:relative;}
.documents_span {position:absolute;top:7px;left:81px;color:#909090;font: 12px "Microsoft Yahei";}
.gd_sel_pp{margin-left: 0px !important;}
.mainTit {width: 970px;height: 37px;border-bottom: 1px solid #e2e2e2;background: #fff;margin-left: 30px;}
.maintit {color: #646464;font: bold 14px/37px "Microsoft Yahei";padding-left: 12px;float: left;}
.retbtn {font: 14px "Microsoft Yahei";color: #646464;text-align: center;float: right;margin: 8px 37px; cursor: pointer;}
.retbtn:hover{color: #3996e4;}
.chbtn{border: 1px solid #fe6767; color: #fe6767;}
.chbtn:hover{border: 1px solid #fe6767;background: #fe6767; color: #fff;}
.cfbtn{border: 1px solid #3996e4; color: #3996e4;}
.cfbtn:hover{border: 1px solid #3996e4;background: #3996e4; color: #fff;}
.order_txt{ width: 192px;height: 20px; padding: 4px 0px 4px 6px;font: 14px/20px Microsoft Yahei;color: #646464;border: 1px solid #cdcdcd;}
.recp {margin-left: 75px; background: url(../images/common/wricon2.png) no-repeat 0px 3px;height: 20px;color: #ff4545;font: 14px/20px "Microsoft Yahei";padding-left: 20px;}
.gd_oinfo_panel{margin: 30px 0px 0px 50px; font: 14px/26px Microsoft Yahei;color: #646464;}
.dsh{color: #f75c5c;}/*待审核*/
.ybh{color: #ff6c00;}/*已驳回*/
.y_agree{color: #757575;}/*已通过*/
.ych{color: #999999;}/*已撤回*/
.dj_id{padding-left: 6px;}
/*弹窗样式*/
.alert_tb_1 h3{ font:14px/38px "Microsoft Yahei"; color:#333; text-align:left;    border-bottom: 1px solid #ddd; margin:0 30px; padding-top:20px;}
.provBtn_add_tb tr td,.provBtn_add_tb2 tr td{ font:12px/32px "Microsoft Yahei";color:#646464;padding:9px 4px 9px 0;overflow:hidden;}
.pd12_tr th{padding-bottom:13px;}
.dreupbtn{display: block;width:80px;height:26px;background: #edf0f5;border: 1px solid #e4e5e6;border-radius:13px;color: #646464;font: 12px/26px "Microsoft Yahei";text-align: center; float:left; position:relative; margin:52px 0 0 10px; cursor:pointer;}
.dreupfile{width:80px;height:26px;position: absolute;top: 0px;left: 0px;z-index: 999;opacity: 0; filter:alpha(opacity=0);font-size: 26px;overflow: hidden; cursor:pointer;}
.vessel_dh2{float:left;color: #575757;font-size: 14px; margin-left:50px;}
.vessel_dh2_text{width:229px;height: 20px;border: 1px solid #e8e8e8;padding:4px 0 4px 9px;color: #575757;font: 14px/20px "Microsoft Yahei";}
.list_page_div{ margin-top:30px; margin-bottom:50px;}
.add_confirm{width:110px; height:30px; font:16px "Microsoft Yahei"; color:#fff;margin-left: 7px;float: left;
background-color: #fd7676;border: 1px solid #ff4b4b; border-radius:2px; cursor:pointer;}
.add_cancel{width:110px; height:30px; font:16px "Microsoft Yahei"; color:#323333;
background-color: #f1f1f1;border: 1px solid #dedede; border-radius:2px; margin-left:7px;cursor:pointer;}
.pbselect_lg2,.pbselect_lg3{width:230px;height:32px;padding-left:6px;color: #656565;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6; margin-left:6px; float:left;}/*地区三级联动*/
.m6{ margin-left:6px;}
.m10{ margin-left:10px;}
.nextp{padding-left: 15px !important;vertical-align: top;margin-top: 4px;}
.note_wrong {background: url(../images/common/wricon2.png) no-repeat 0px 17px; color:#ff6161 !important;}
.note_right {background: url(../images/common/wricon2.png) no-repeat 0px -69px !important;}
.b_red {border: 1px solid #ff4545 !important;}
.b_blue{border:1px solid #3998e4 !important;}
.provBtn_input{width:222px;height:30px;padding-left:6px;color:#656565;font:12px/32px "Microsoft Yahei";border:1px solid #e6e6e6; margin-left:6px;float:left}
.tan_bz{border: 1px solid #efefef;width: 223px;overflow: auto;margin-left:6px;background-attachment: fixed;background-repeat: no-repeat;list-style: none;outline: none;resize: none;border-style: solid;padding-left: 5px; height: 78px;float: left;font: 14px/20px Microsoft yahei; color: #646464;}
.matop{vertical-align: top;}
.pbselect {width: 70px;height: 32px;margin-right:0px; padding-left: 6px;color: #646464; font: 12px/32px "Microsoft Yahei";border: 1px solid #e6e6e6;float: left;}
.sq{display: none;}
.sh{display: none;}
.select{max-height: 280px; /*overflow-x:hidden;*/ overflow-y:scroll;width:228px;border:1px solid #3998e4;background:#fff;cursor:pointer;z-index:2;}
.select li{overflow: hidden; height:27px;font:12px/27px Microsoft Yahei;padding:0 10px;}
.select_on{background:#1E90FF;color:#fff;}
.provBtn_add_tb2{position: relative;}
/*end 弹窗样式*/
/***********转账管理***************/

/*供应商公司定价（广大）*/
.download {color: #54adff;font: 16px/30px "Microsoft Yahei";cursor: pointer;float: left;}
.cate_one{ cursor: pointer;}
/*分类定价弹窗*/
.provBtn_add_tb3 tr th,.provBtn_add_tb2 tr th,.provBtn_add_tb4 tr th{ font:600 16px/40px "Microsoft Yahei";color:#646464; padding: 10px 0 16px 0;}
.provBtn_add_tb3 tr td{ font:12px/28px "Microsoft Yahei";color:#646464;padding:9px 0px 9px 0;overflow:hidden;}
.tb3_input,.tb3_input2,.tb3_input3{ width: 75px; height: 28px; float: left; border: 1px solid #e6e6e6; padding-left: 5px;}
.pbselect_drug{ border:  1px solid #e6e6e6;width: 100px;height: 32px;padding-left: 6px;color: #656565;font: 12px/32px "Microsoft Yahei";}
/*下拉阴影*/
.shadow{   -webkit-box-shadow: 0px 8px 8px rgba(0,0,0,0.1);  -moz-box-shadow: 0px 8px 8px rgba(0,0,0,0.1);  box-shadow: 0px 8px 8px rgba(0,0,0,0.1);}
.gd_tr2 td{height: 50px; border: none !important;}
/*数据传输弹窗*/
.transmission-box{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2);}
.transmission{width: 290px; height: 226px; position: fixed; top: 50%; left: 50%; margin:-138px 0 0 -230px; padding: 50px 0 0 170px; background: #fff;}
.transmission_qd{width: 106px;height:40px;background:url(../images/gd_img/transmission.png) no-repeat 0px 0px;font: 14px/34px '微软雅黑';color: #fff;text-align: center;cursor: pointer;margin: 30px 0 0 6px;}
.transmission_qd:hover{background:url(../images/gd_img/transmission.png) no-repeat 0px -110px;}
