@charset "utf-8";
/***********转账审核***************/
.gd_vessel_cont_top {padding: 20px 0px 20px 20px;}
.gd_vessel_cont_top .select_btn{cursor: pointer; width: 80px;height: 30px;margin-left: 5px;background: #fe5656;border-radius: 20px;font: 14px/30px "Microsoft Yahei";color: #fff;}
.gd_vessel_cont_top .select_btn:hover{background: #f35050;}
.gd_vessel_cont_top .return_btn{cursor: pointer; width: 80px;height: 30px;margin-left: 10px;background: #6ca0ff;border-radius: 20px;font: 14px/30px "Microsoft Yahei";color: #fff;}
.gd_vessel_cont_top .return_btn:hover{background: #6499FB;}
.gd_vessel_cont{ width: 970px; background: #fff;margin:30px 0px 0px 30px;}
.gd_vessel_cont p{ float: left; color: #575757; font-size: 14px;}
.gd_table_single tr td{ padding-top: 10px; padding-bottom: 10px;color: #666;font-size: 14px;text-align: center;}
.gd_table_single { width: 970px;margin: 0 auto;border-bottom: 1px solid #efefef;}
.gd_reg_hr{height: 9px;padding: 0px !important; background: url(../images/r_recruit/tr_hr.png);}
.gd_tr{color: #808080;font: 14px "Microsoft Yahei";text-align: left;}
.gd_tr td{height: 50px;border-bottom: 1px solid #eeeeee;}
.gd_ts_zt{ text-align: center; font-size: 14px;}
.bz{overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;width:120px;}
.wrong_er {padding: 30px 20px 10px 110px;width: 230px;overflow: hidden;font-size: 16px;color: #646464;text-align: left;background: url(../images/common/lay3.png) no-repeat 25px 32px;}
.dobth {
    cursor: pointer;
    display: block;
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 22px;
    border: 1px solid #f5f4f4;
    border-radius: 3px;
    background: #f5f4f4;
    color: #666;
    font-size: 12px;
    margin-bottom: 6px;
}
/***********转账审核***************/
/***********转账管理***************/
.gd_cont{ width: 970px; border-radius: 6px; background: #fff;margin:6px 0 0 30px;}
.gd_cont p{ float: left; color: #575757; font-size: 14px;}
.gd_com_sel{float: left;position:relative;}
.gd_sel_p{width: 100px;height: 30px;background: url(../images/recruit/xl.png) no-repeat 90px 12px;border-radius: 20px; border: 1px solid #dedede;margin-left:10px; color:#999999;font:14px/30px "Microsoft Yahei";cursor:pointer;padding-left: 15px;}
.gd_sel_p1{ background: url(../images/recruit/xl1.png) no-repeat 90px 12px;border-bottom-left-radius: 1px;border-bottom-right-radius:1px;border:1px solid #3aa2e4;}
.gd_com_sel ul{z-index: 10; width:115px;position:absolute;left:10px;top:32px;border:1px solid #3aa2e4;border-top:0;background:#fff;}
.gd_com_sel ul li{font:12px/26px Microsoft yahei;color:#575757;cursor:pointer;padding-left: 8px;}
.gd_com_sel ul li:hover{background:#79beff !important;color:#fff !important;}
.ga_com_post{margin-left: 0px;}
.gd_vessel_name{line-height: 30px;margin-left: 10px;}
.vessel_name input{color:#909090;font: 12px "Microsoft Yahei";border-radius: 20px; width: 115px;padding: 4px 0px 4px 10px;height: 20px;border: 1px solid #dedede; vertical-align: middle; margin-right: 10px;}
.gd_sel_pp{margin-left: 0px !important;}
.mainTit {width: 970px;height: 37px;border-bottom: 1px solid #e2e2e2;background: #fff;margin-left: 30px;}
.maintit {color: #646464;font: bold 14px/37px "Microsoft Yahei";padding-left: 12px;float: left;}
.retbtn {font: 14px "Microsoft Yahei";color: #646464;text-align: center;float: right;margin: 8px 37px; cursor: pointer;}
.retbtn:hover{color: #3996e4;}
.order_txt{ width: 192px;height: 20px; padding: 4px 0px 4px 6px;font: 14px/20px Microsoft Yahei;color: #646464;border: 1px solid #cdcdcd;}
.recp {margin-left: 75px; background: url(../images/common/wricon2.png) no-repeat 0px 5px;height: 20px;color: #ff4545;font: 14px/22px "Microsoft Yahei";padding-left: 20px;}
.gd_oinfo_panel{margin: 30px 0px 0px 50px; font: 14px/26px Microsoft Yahei;color: #646464;}
/***********转账管理***************/

/******社区主变价*******/
.pbselect_lg{width:210px;height:32px;padding-left:6px;color: #656565;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6; margin-left:6px; float:left; border-radius:16px;background: url(../images/recruit/xl.png) no-repeat 180px 10px;}
.pbselect_lg_on{border:1px solid #799bd2 !important; border-radius:16px 16px 0px 0px !important;}
.pbselect_drug{width:100px;height:32px;padding-left:6px;color: #656565;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6; margin-left:6px; float:left; border-radius:16px;background: url(../images/recruit/xl.png) no-repeat 70px 10px;}
.pbselect_text{ width:250px; height:32px; padding-left:12px; color:#656565;font: 12px/32px "Microsoft Yahei";border:1px solid #e6e6e6; margin-left:6px; float:left; border-radius:16px;}
.pbselect_text_on{ border:1px solid #799bd2 !important;}
.pbselect_span{ position:absolute; left:20px; top:9px; color:#999;font: 12px "Microsoft Yahei";}
.cbbtn{border: 1px solid #54adff; border-radius: 20px; color: #54adff;}
.cbbtn:hover{ border: 1px solid #54adff; background: #54adff; color: #fff;}
.notop{height: 29px;padding-left: 20px;color: #ff4545;font: 12px/29px "Microsoft Yahei";}
/********弹窗样式**********/
.provBtn_add_tb2 tr td{ font:12px/28px "Microsoft Yahei";color:#646464;padding:9px 0px 9px 0;overflow:hidden;}
.note_wrong {background: url(../images/common/wricon2.png) no-repeat 0px 17px; color:#ff6161 !important;}
.note_right {background: url(../images/common/wricon2.png) no-repeat 0px -69px !important;}
.b_red {border: 1px solid #ff4545 !important;}
.b_blue{border:1px solid #3998e4 !important;}
.provBtn_input{width:200px;height:30px;padding-left:6px;color:#656565;font:12px/32px "Microsoft Yahei";border:1px solid #e6e6e6;float:left}
.alert_tb_1 h3{ font:14px/38px "Microsoft Yahei"; color:#333; text-align:left;    border-bottom: 1px solid #ddd; margin:0 30px; padding-top:20px;}


select {
  /*将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*替换选择框的最右侧显示小箭头图片*/
  background: url(../images/recruit/xl.png) no-repeat 210px 13px;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }