@import url('s_common.css');

.back_ppwd_a{float:left;display: block;height: 38px;color:#3996e4;font: 14px/38px "Microsoft Yahei";}
.back_ppwd_a span{color:#3996e4;}
.back_ppwd a{color:#3996e4;font: 14px/38px "Microsoft Yahei";text-decoration:underline;}
.porder_body_bg{background:#f6f6f6;}
.so_outw{width:100%;height:103px;background:#fff;}
.so_header{width:1000px;}
.sotop_24{margin-top:24px;float:left;}
.sotop_37{margin-top:37px;float:right;}
.so_cont{width:1000px;margin-top:20px;}
.so_h3_tit{font:600 16px/36px Microsoft yahei;color:#575757;padding:0 20px;}
.so_h3_tit span{float:right;padding-left:25px;color:#0063cf;font-size:14px;font-weight:normal;cursor:pointer;
background:url(../images/sindex/so_icon.png) no-repeat 0 -60px;}
.so_cont_b{width:998px;border:1px solid #dfdfdf;background:#fff;}
.so_addr_ul{margin:30px 40px 30px 40px;}
.so_addr_ul li{height:32px;font:14px Microsoft yahei;color:#646464;margin-top:10px;}
.so_addr_ul li:hover{background:#f8f8f8;}
.so_addr_ul li span{display:block;float:left;}
.addr_pt{height:30px;line-height:30px;width:138px;text-align:center;border:1px solid #ccc;background:#fff;cursor:pointer;}
.addr_pt em{padding:0 6px;}
.addr_detail{width:520px;height:32px;line-height:32px;margin-left:20px;padding-right: 10px;overflow: hidden;}
.addr_operate{color:#0066cc;line-height:32px;}
.addr_operate a{padding:0 20px 0 0;cursor:pointer;font-size:12px;}
.addr_default{float: left;display: block;width:60px;height:22px;background:#bebebe;color:#fff;font: 12px/22px "Microsoft Yahei";margin-top:5px;text-align:center;cursor: pointer;}
.addr_default:hover{background: #ff4949;}
.addr_on{background:url(../images/sindex/so_icon2.png) no-repeat;width:140px !important;height:32px !important;border:0 !important;}
.ss_addr_btn{margin:10px 0 20px 40px;width:80px;height:32px;font:12px/32px Microsoft yahei;color:#909090;cursor:pointer;
background:url(../images/sindex/so_icon.png) no-repeat 58px -88px;}
.ss_addr_btn:hover{color:#ff4949;background:url(../images/sindex/so_icon.png) no-repeat 58px -110px;}
.noaddr{margin:30px 40px 0 40px;}
.noaddr_div{width: 300px;height: 40px;background: url(../images/sindex/soicon.png) no-repeat 0px 2px;margin: 0px 0px 32px 0px;padding-left: 58px;}
.noaddr_div p{color: #646464;font: 14px/20px "Microsoft Yahei";}
.noaddr_div span{color: #8d8d8d;font: 12px/20px "Microsoft Yahei";}
.so_pay_way{margin:30px 40px 30px 10px;}
.so_pay_way li{width:138px;height:48px;border:1px solid #e6e6e6;float:left;margin-left:30px;text-align:center;cursor:pointer;
font:14px/48px Microsoft yahei;color:#646464;}
.so_pay_way li p{line-height:20px;margin-top:3px}
.way_gray{color:#909090;font-size:12px;}
.way_on{width:136px !important;height:46px !important;border:2px solid #ff4949 !important;
background:url(../images/sindex/so_icon.png) no-repeat 114px 24px;}
.so_table_tit{width:920px;background:#f9f9f9;border:1px solid #e6e6e6;height:32px;font:12px/32px Microsoft yahei;color:#646464;
text-align:center;margin:20px 0 0 40px;}
.so_table_cont{width:920px;border:1px solid #e6e6e6;font:12px/32px Microsoft yahei;color:#646464;
text-align:center;margin:20px 0 0 40px;}
.so_table_cont th{background:#fff7ed;height:32px;text-align:left;padding-left:20px;color:#757575;font-weight:600;font-size:14px;}
.so_table_cont td dl{width:310px;height:62px;padding:10px 10px 0 10px;overflow:hidden;}
.so_table_cont td dl dt{float:left;}
.so_table_cont td dl dt img{width:59px;height:59px;border:1px solid #ebebeb;display:block;}
.so_table_cont td dl dd{float:left;width:230px;height: 22px;overflow: hidden;color: #646464;font: 12px/22px "Microsoft Yahei";text-align:left;}
.so_table_cont td dl dd a{color:#646464;}
.corac{color: #acacac !important;}
.so_dd_1081{margin:0px 0 0 10px;}
.so_dd_1082{margin:0 0 0 -10px;}
.select_ps{margin-left: 20px; width: 150px;*line-height:20px;  height: 30px;border:1px solid #ddd;margin:10px 0;color:#646464;padding-left:10px;font: 12px/24px "Microsoft Yahei";vertical-align: middle;}
.nonsupport{color:#e4393c;font-size: 12px;background:url(../images/topay/supportIcon.png) no-repeat 0px 4px;
padding:2px 10px 2px 15px;margin-left:20px;}
.stc_aleft{height:52px;text-align:left;padding-left:10px;border-top:1px solid #ebebeb;}
.stc_aleft span{margin-left: 20px;}
.stc_txt{ border:1px solid #ddd;width:355px;height:16px;margin:10px 0;color:#646464;padding:7px 0px 7px 10px;font: 12px/16px "Microsoft Yahei";vertical-align: middle;}
.stc_blank10{height:10px;width:100%;}
.stc_blank50{height:50px;width:100%;}
.so_cont_speb{width:980px;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;margin-top:20px;background:#fff;height:80px;
text-align:right;padding-right:20px;}
.so_cont_speb ul{margin-top:16px;}
.so_cont_speb ul li{font:14px/24px Microsoft yahei;color:#323232;}
.so_cont_speb ul li b{color:#ff4949;}
.so_cont_nob{width:1000px;height:48px;background:#fff;text-align:right;}
.stc_returnlist{float:right;display:block;width:100px;padding:0px 25px;background:url(../images/sindex/so_icon.png) no-repeat 0 -142px;}
.stc_returnlist a{color:#0063cf;font:14px/48px "Microsoft Yahei";}
.stc_total_mm{float:right;display: block;min-width: 140px;padding-right:25px;color:#333;font:14px/48px "Microsoft Yahei";}
.stc_total_mm b{color:#ff4949;}
.stc_sbtn{float:right;width:125px;height:48px;border:1px solid #e7282b;background:#ff5858;font:16px Microsoft yahei;color:#fff;cursor:pointer;}
.stc_not_sbtn{float:right;width:125px;height:48px;border:1px solid #7f7f7f;background:#969696;font:16px Microsoft yahei;color:#fff;cursor:not-allowed;}
.stc_footer_out{border-top:2px solid #f6f6f6;background:#fff;width:100%;margin-top:30px;padding-top:20px;}
.bt_img_font{display:block;margin:0 0 30px 45px;}
/*弹窗样式*/
.alert_tb{width:640px;margin-top:30px;}
.alert_tb th h3{border-bottom: 1px solid #ddd;margin:0 30px;text-align:left;color:#333;padding:0 0 10px 10px;}
.alert_tb td{font-size:14px;height:38px;color:#646464;padding:10px 10px 10px 0;overflow:hidden}
.input_sm{float: left;width:263px;border:1px solid #ddd;height:18px;padding: 9px 0px 9px 10px;color:#333;font: 12px/18px "Microsoft Yahei";}
.input_lg{float: left;width:262px;border:1px solid #ddd;height: 18px;padding: 9px 0px 9px 10px;color:#333;font: 12px/18px "Microsoft Yahei";}
.left10{margin-left:10px;}
.checkbox{line-height:38px;height:38px;vertical-align:middle;margin-right:6px;}
.star_red{color:#ff4545;}
.alert_btn{border:1px solid #ff4b4b;background:#fd7676;width:220px;height:36px;border-radius:3px;font:16px microsoft yahei;color:#fff;cursor:pointer;}
.alert_btn:hover{background:#ff4b4b;}
.wrong_note{padding:30px 20px 10px 30px;width:260px;overflow:hidden;font-size:14px;color:#575757;text-align: center;}
.alert_noted{width:380px;padding-top:50px;text-align:center;overflow:hidden;font:14px/20px Microsoft Yahei;color:#646464;}
.b_blue{border:1px solid #3998e4 !important;}
.b_red{border:1px solid #ff4545 !important;}
.note_p{float:left;display:block;height:38px;color: #ff4545;font: 12px/38px "Microsoft Yahei";padding-left:25px;}
.note_wrong{background: url(../images/common/wricon2.png) no-repeat 6px 12px;}
.note_right{background:url(../images/common/wricon2.png) no-repeat 6px -74px;}
.select1{width: 80px;height: 40px;color: #646464;font: 12px/33px "Microsoft Yahei";border: 1px solid #e6e6e6;padding-left: 6px;margin-right: 8px;float: left;}
.select2{width: 99px !important;margin-right: 0px !important;}
.select_lg{float: left;width: 275px;height: 40px;color: #646464;font: 12px/34px "Microsoft Yahei";border: 1px solid #e6e6e6;padding-left: 6px;}
/**兼容IE6/IE7/IE8/火狐---下拉菜单select样式设置**************************/
.select_border{ 
width:80px; 
height:36px; 
*background:#fff; 
background:#fff; 
*border:1px solid #ddd; 
float:left;
/*margin-top:-5px;*/
*margin-top:0px;
} 
.container{ 
*border:0; 
*position:relative; 
*height:38px; 
*overflow:hidden; 
} 
.select{ 
border:1px solid #ddd; 
padding:4px 3px; 
font-size:12px; 
height:38px; 
width:80px; 
*width:80px; 
font-family:Microsoft yahei;
color:#333;
} 

/*.select_border,.container {*width:150px;} */


/**商户结算页面css**/
.topay_tit{ position: absolute; top: -35px; left:-1px; height: 35px; z-index: 99; border-left: 1px solid #e6e6e6;}
.topay_tit li{ float: left; cursor: pointer; width: 118px; height: 33px; background: #f9f9f9;border-bottom: 1px solid #e6e6e6;
border-right: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; text-align: center; line-height: 33px;}
.topay_tit li a{ color: #909090; font-size: 14px; font-weight: bold;}
.topay_tit_on{ border-top: 2px solid #ff4b4b !important; background: #fff !important; border-bottom: 1px solid #fff !important;}
.topay_tit_on a{ color: #ff6161 !important;}
.wallet_recharge_tb{width:820px;margin:35px 0 0px 80px;}
.wallet_recharge_tb td{color:#646464;font:14px Microsoft yahei;}
.wrt_r{text-align:right;padding-right:10px !important;width:160px;}
.payInput_p{float: left;width: 200px;height: 38px;position: relative;}
.payInput{width:188px;height:18px;border:1px solid #ededed;color:#646464;font:14px/18px microsoft yahei;padding: 9px 0px 9px 10px;}
.payInput_em{display: block;color: #a9a9a9;font: 14px/38px "Microsoft Yahei";position: absolute;top: 0px;left: 10px;}
.note_span{float: left;display: block;width: 30px;height: 38px;}
.note_blue{border: 1px solid #3998e4 !important;}
.note_red{border: 1px solid #ff4545 !important;}
.pt20 td{padding-top: 20px;}
.ppwd_mtxt{width:180px;height:18px;border:1px solid #ededed;padding:9px 0px 9px 10px;color:#646464;font:14px/18px microsoft yahei;}
.go_recharge_span{border-radius:5px;border:1px solid #3996e4;padding:0px 16px 2px 16px;margin-left:20px;color:#3996e4;cursor:pointer;}
.go_recharge_span a{color:#3996e4;}
.go_recharge_span:hover{color:#fff;background:#3996e4;}
.go_recharge_span:hover a{color:#fff;}
.js_dl_lt{width:600px;float:left;margin-left:20px;}
.js_dl_lt dt{font:16px/30px Microsoft yahei;color:#323232;}
.js_dl_lt dd{font:12px/30px Microsoft yahei;color:#646464;}
.js_dl_lt dd span{color:#ff2525;font-size:14px;font-weight:600;}
.js_p_rt{width:240px;float:right;padding-right:20px;font:600 14px/60px Microsoft yahei;color:#646464;text-align:right;}
.js_p_rt span{color:#ff2525;font-size:16px;}
.js_cont{width:998px;border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;background:#fff;
margin-top:50px;position: relative;}
.js_tit{background:url(../images/sindex/js_tit.jpg) no-repeat 20px 5px;font:600 16px/30px Microsoft yahei;color:#ff4949;padding-left:60px;margin-top:10px;}
.bank_list{width:800px;padding:0 90px;}
.bank_list ul li{width:160px; height:35px; text-align:center;border:1px solid #ddd;float:left;margin:20px 17px 0 18px;cursor:pointer;}
.bank_list ul li img{width:138px;height:33px;margin-left:10px;display: block;}
.bank_list ul li:hover,.bank_on{border:2px solid #ff4949 !important;width:158px !important;height:33px !important;h}
.bank_more{width:162px;height:35px;font:600 14px/35px 'Microsoft Yahei';text-align:center;background:#ffcbcb;color:#ff6262;margin:15px 0 0 18px;cursor:pointer;}
.bank_blank10{height:10px;width:100%;}
.bank_blank25{height:25px;width:100%;}
.go_pay{width:200px;height:38px;border-radius:3px;margin-top:20px;display:block;font:600 14px Microsoft Yahei;}
.go_pay2{width:200px;height:38px;border-radius:3px;margin:0;display:block;font:600 14px Microsoft Yahei;}
.bgray{background:#d8d8d8;border:1px solid #bfbfbf;color:#fff;cursor:not-allowed;}
.blight{background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
.js_cont_bt{background:url(../images/sindex/js_btbg.png) no-repeat;width:1000px;height:76px;}
/**支付结果弹窗**/
.comments_cont{width:480px;height:230px;background:#fff;overflow: hidden;}
.comments_msg{width: 380px;height: 90px;background: #ffeee2;border: 1px solid #ffb076;margin-top: 40px;}
.comments_msg p{background: url(../images/sindex/iquestion.png) no-repeat 0px 6px;padding-left: 30px;margin: 22px 40px;color: #ff6c05;font: 14px/26px "Microsoft Yahei";}
.operation_btn{margin-top: 30px;width: 204px;height: 28px;}
.ed_btn,.ing_rebtn{display: block;float: left;width: 90px;height: 26px;font: 12px/26px "Microsoft Yahei";text-align: center;}
.ed_btn{color:#555555;border: 1px solid #dadada;background: #fafafa;}
.ing_rebtn{color:#fff;border: 1px solid #ff6900;background: #ff822a;margin-left: 20px;}
/**end  支付结果弹窗**/
.nxjs{background: url(../images/sindex/loading-0.gif) no-repeat center; padding-top: 80px !important;}/* 耐心等待结算弹窗 */