@charset "utf-8";
@import url('hs_common.css');


/**************************零售-提交订单**************************/
.hs_submit_head{width: 1200px;height: 70px;padding: 30px 0px 4px 0px;}
.hsMit_head_logo{float: left;display: block;width: 180px;height: 56px;background: url(../images/common/grp_logo.png) no-repeat 0px 0px;margin-left: 10px;}
.hsMit_head_text{float: left;color: #434343;font: 22px/56px "Microsoft Yahei";margin-left: 18px;}
.hsMit_head_div{float: right;width: 370px;}
.hsMit_head_div ul{margin-top: 6px;width: 370px;height: 39px;}
.hsMit_head_div ul li{float: left;}
.mithd_i_01{margin-left: 49px;width: 23px;}
.mithd_i_01 i{width: 23px;height: 21px;background-position: 0px 0px !important;}
.mithd_i_02{margin-left: 73px;width: 84px;}
.mithd_i_02 i{width: 21px;height: 22px;background-position: -87px 0px !important;margin-bottom: 1px;}
.mithd_i_03{margin-left: 70px;width: 19px;}
.mithd_i_03 i{width: 19px;height: 22px;background-position: -183px 0px !important;margin-bottom: 1px;}
.mithd_i_02,.mithd_i_03{color: #ff6868;font: 12px "Microsoft Yahei";}
.mithd_i_01 i,.mithd_i_02 i,.mithd_i_03 i{display: block;background: url(../images/topay/hsMit_icon.png) no-repeat;}
.mt12{margin-top: 12px;}
.hsMit_head_bg{width: 370px;height: 27px;background: url(../images/topay/hsMit_icon.png) no-repeat 0px -44px;}
.hs_order_address{width: 1200px;overflow: hidden;}
.hs_order_address h2{height: 48px;color: #424242;font: bold 16px/48px "Microsoft Yahei";padding-left: 10px;}
.hsoa_list{width: 1216px;}
.hsoa_list_single,.hsoa_list_add{float: left;width: 256px;height: 100px;padding: 16px;background: url(../images/topay/hsMit_icon.png) no-repeat 0px -378px;cursor: pointer;margin: 0px 16px 15px 0px;}
.hsoa_list_single:hover{background: url(../images/topay/hsMit_icon.png) no-repeat 0px -531px;}
.hls_on,.hls_on:hover{background: url(../images/topay/hsMit_icon.png) no-repeat 0px -230px;}
.hsoal_hd{height: 20px;padding: 2px 0px 3px 0px;border-bottom: 1px dashed #ececec;}
.hsoal_hd h6{float: left;height: 20px;color: #575757;font: 14px/20px "Microsoft Yahei";}
.hsoal_hd h6 span{margin-left: 4px;}
.addrdef_btn,.addrset_btn{float: right;display: block;width: 58px;height: 18px;border-radius: 2px;font: 12px/18px "Microsoft Yahei";text-align: center;}
.addrdef_btn{border: 1px solid #ff6161;background: #ff6161;color: #fff;}
.addrset_btn{border: 1px solid #ff4b4b;background: #fff;color: #ff6161;}
.hsoal_bd{height: 40px;overflow: hidden;color: #666;font: 14px/20px "Microsoft Yahei";margin-top: 3px;}
.hsoal_toolbar{margin-top: 10px;}
.hsoalt_a{float: left;display: block;width: 30px;height: 20px;padding-left: 20px;color: #4881ee;font: 14px/20px "Microsoft Yahei";background: url(../images/topay/hsMit_icon.png) no-repeat -276px 2px;}
.hsoalt_a:hover{background: url(../images/topay/hsMit_icon.png) no-repeat -355px 2px;color: #3366cc;}
.hsl_add{width: 85px;height: 70px;color: #999;font: 14px "Microsoft Yahei";padding-top: 18px;}
.hsl_add i{display: block;width: 42px;height: 42px;background: url(../images/topay/hsMit_icon.png) no-repeat 0px -159px;margin-bottom: 5px;}
.hsoa_list_add:hover .hsl_add{color: #4881ee;}
.hsoa_list_add:hover .hsl_add i{background: url(../images/topay/hsMit_icon.png) no-repeat -67px -159px;}
.hsoal_oper{width: 1200px;height: 20px;}
.hsoal_oper .hsoal_showAll{float: left;color: #4881ee;font: 14px/20px "Microsoft Yahei";}
.hsoal_oper .hsoal_showAll:hover{color: #3366cc;}
.hsoal_oper .hsoal_addr{float: right;color: #4881ee;font: 14px/20px "Microsoft Yahei";}
.hsoal_oper .hsoal_addr:hover{color: #3366cc;}
.hs_goodsInfo_h3,.hs_payWay_h3{width: 1190px;height: 24px;padding: 24px 0px 10px 10px;color: #424242;font: bold 16px/24px "Microsoft Yahei";}
.hs_goodsInfo_tit{width: 1178px;padding: 0px 10px;height: 40px;border: 1px solid #ececec;background: #f9f9f9;}
.hs_goodsInfo_tit p{float: left;color: #333;font: 12px/40px "Microsoft Yahei";}
.gsInfo_single_div{width: 1200px;}
.gsInfo_single{width: 1188px;padding-left: 10px;padding: 0px 0px 0px 10px;border: 1px solid #efefef;border-top: 2px solid #ddd;margin-top: 10px;}
.gsInfo_item_div{float: left;width: 1178px;}
.gsInfo_item{float: left;width: 1178px;border-top: 1px solid #e7e7e7;padding: 12px 0px 12px 0px;}
.gsInfo_dl{float: left;width: 338px;}
.gsInfo_dl dt{float: left;width: 74px;}
.gsInfo_dl dd{float: left;width: 244px;padding: 0px 10px;}
.gsInfo_img{display: block;width: 72px;height: 72px;border: 1px solid #fafafa;position: relative;}
.gsInfo_img i{display: block;width: 25px;height: 25px;background: url(../images/hs_pc_all/carthIcon.png) no-repeat 0px -94px;position: absolute;top: 0px;left: 0px;}
.gsInfo_img img{width: 100%;}
.gsInfo_txt{height: 38px;color: #575757;font: 12px/19px "Microsoft Yahei";}
.gsInfo_tip{height: 16px;color: #ff4b4b;font: 12px/16px "Microsoft Yahei";padding-left: 18px;margin-top: 18px;position: relative;}
.gsInfo_tip i{display: block;width: 16px;height: 16px;background: url(../images/hs_pc_all/carthIcon.png) 0px -58px;position: absolute;top: 0px;left: 0px;}
.gsInfo_spec{width: 160px;float: left;}
.gsInfo_spec p{color: #999;font: 12px "Microsoft Yahei";margin-bottom: 4px;}
.gsInfo_comp{float: left;width: 250px;color: #666;font: 12px "Microsoft Yahei";}
.gsInfo_price{float: left;width: 140px;color: #434343;font: 12px "Microsoft Yahei";}
.gsInfo_num{float: left;width: 140px;color: #434343;font: 12px "Microsoft Yahei";}
.gsInfo_sub{float: left;width: 150px;color: #ff4b4b;font: bold 12px "Microsoft Yahei";}
.gsInfo_rem{float: left;padding: 0px 0px 13px 0px;}
.gsInfo_rem p{float: left;color: #666;font: 12px/28px "Microsoft Yahei";padding-right: 8px;}
.gsInfo_rem input{float: left;width: 354px;height: 18px;padding: 4px 8px;border: 1px solid #f6f6f6;box-shadow: inset 0 1px 0 #f1f1f1;color: #434343;font: 12px/18px "Microsoft Yahei";}
.godt_tit{float: left;color: #333;font: 12px/28px "Microsoft Yahei";margin-left: 20px;}
.hs_payWay{width: 1200px;height: 30px;padding-bottom: 30px;border-bottom: 1px solid #efefef;}
.payWay_hd,.payWay_zx{float: left;display: block;width: 158px;height: 28px;border: 1px solid #efefef;color: #474747;font: 14px/28px "Microsoft Yahei";text-align: center;margin-right: 22px;cursor: pointer;}
.payWay_on{border: 1px solid #e4393c !important;background: url(../images/topay/toIcon.png) no-repeat 146px -157px;}
.hs_paySum{width: 1200px;padding: 20px 7px 20px 0px;}
.hs_paySum_text{float: right;}
.hs_paySum_text p{color: #323232;font: 14px/32px "Microsoft Yahei";text-align: right;}
.hs_paySum_text p span{color: #ff4b4b;font: bold 14px "Microsoft Yahei";margin-right: 4px;}
.hs_paySum_num{float: right;}
.hs_paySum_num p{color: #ff4b4b;font: bold 14px/32px "Microsoft Yahei";text-align: left;}
.mit_toolbar{width: 1198px;height: 41px;padding-top: 17px;border: 1px solid #ececec;background: #f9f9f9;position: relative;margin-bottom: 110px;}
.mit_cart{float: left;display: block;width: 72px;padding-left: 22px;height: 24px;color: #4881ee;font: 14px/24px "Microsoft Yahei";margin-left: 10px;position: relative;}
.mit_cart i{display: block;width: 16px;height: 14px;background: url(../images/topay/toIcon.png) no-repeat 0px -36px;position: absolute;top: 4px;left: 0px;}
.mit_cart:hover{color: #ff6161;}
.mit_cart:hover i{background: url(../images/topay/toIcon.png) no-repeat 0px -79px;}
.mit_money{float: right;font: bold 14px/24px "Microsoft Yahei";height: 24px;margin-right: 161px;}
.mit_money em{color: #ff4b4b;font: normal bold 14px "Microsoft Yahei";}
.mit_money span{color: #ff4b4b;font: bold 16px "Microsoft Yahei";}
.mit_toolbar .mit_order{width: 130px;height: 60px;background: #ff5555;position: absolute;top: -1px;right: -1px;color: #fff;font: bold 18px "Microsoft Yahei";cursor: pointer;}
.mit_toolbar .mit_order:hover{background: #f04444;}
/*新增收货地址*/
.add_addr_layer{width: 560px;padding: 20px;}
.add_addr_layer h3{width: 550px;padding-left: 10px;height: 40px;color: #333;font: bold 16px/40px "Microsoft Yahei";border-bottom: 1px solid #ddd;}
.add_addr_layer table{width: 410px;margin: 30px auto 0px auto;}
.adadl_tit{color: #646464;font: 14px/38px "Microsoft Yahei";text-align: right;padding-right: 6px;}
.adadl_tit i{color: #ff4545;margin-left: 2px;}
.liht16{line-height: 16px !important;}
.adadl_div{float: left;width: 280px;height: 38px;position: relative;}
.adadl_div .adadlInput{width: 262px;height: 18px;padding: 9px 8px;border: 1px solid #ddd;color: #434343;font: 12px/18px "Microsoft Yahei";}
.adadl_div em{color: #ccc;font: 12px/18px "Microsoft Yahei";position: absolute;top: 10px;left: 10px;}
.adadl_select{float: left;width: 280px;height: 38px;}
.adadl_select .select1,.select2,.select_lg{float: left;padding-left: 4px;height: 38px;border: 1px solid #ddd;color: #434343;font: 12px/32px "Microsoft Yahei";}
.adadl_select .select1{width: 80px;margin-right: 5px;}
.adadl_select .select2{width: 110px;}
.adadl_select .select_lg{width: 280px;}
.adadl_span{float: right;display: block;width: 30px;height: 38px;}
.adadl_p{color: #ff6161;font: 12px "Microsoft Yahei";padding: 4px 0px 4px 20px;}
.adadl_btn_div{width:218px;height:34px;border:1px solid #ff4b4b;background:#fd7676;border-radius:3px;margin-left: 0px;}
.adadl_btn_div:hover{background:#ff4b4b;}
.adadl_btn{width:218px;height:34px;border:none;background: none;color:#fff;font:16px "Microsoft Yahei";cursor:pointer;}
.adadl_wrong{background: url(../images/common/wricon.png) no-repeat 0px 5px;}
.adadl_right{background: url(../images/common/wricon.png) no-repeat 6px -74px;}
.adadl_blue{border: 1px solid #3998e4 !important;}
.adadl_red{border: 1px solid #ff6161 !important;}
/*end 新增收货地址*/


/**************************end 零售-提交订单**************************/



/* ******************零售-订单支付css******************** */
.hs_submit_head2{width: 980px;height: 70px;padding: 30px 0px 20px 0px;}
.hs_submit_head2 .mithd_i_02{margin-left: 102px !important;width: 21px !important;}
.hs_submit_head2 .mithd_i_02 i{background-position: -45px 0px !important;}
.hs_submit_head2 .mithd_i_03{width: 72px !important;}
.hs_submit_head2 .mithd_i_03 i{background-position: -135px 0px !important;}
.hs_submit_head2 .hsMit_head_bg{background: url(../images/topay/hsMit_icon.png) no-repeat 0px -106px !important;}
.hs_submit_head2 .hsMit_head_logo{width: 296px !important;}
.topay_content{width:980px;}
.topay_ttop{height:80px;width:100%;border-bottom:1px solid #ddd;background:#f5f5f5;}
.ttop_left{float:left;width:550px;padding:15px 0 15px 20px;}
.ttop_left li{font:12px/26px 'Microsoft Yahei';color:#646464;}
.ttop_left li p{font-size:16px;}
.ttop_left li p span{color:#2ea7e7;}
.ttop_right{float:left;width:350px;padding:15px 0 15px 20px;text-align:right;}
.ttop_right li{font:14px/26px 'Microsoft Yahei';color:#646464;}
.ttop_right li span{color:#ea2528;padding-left:10px; font-size: 18px;}
.ttop_right li em{font-size:12px;color:#2ea7e7;font-style:normal;padding-right:10px;cursor:pointer;background:url(../images/topay/arrow.png) no-repeat right 7px;}
.topay_tbottom{width:100%;margin-top:6px;}
.topay_tbottom li{font:14px/26px 'Microsoft Yahei';color:#646464;padding-left:20px;}
.topay_bank{width:980px;margin-top:20px;}
.topay_bank_tt{border-left:2px solid #cc0000;border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;font:600 14px/38px 'Microsoft Yahei';color:#ce0c0c;background:#f5f5f5;padding-left:30px;}
.bank_list{width:798px;border-top:0;}
.bank_list ul li{width:160px; height:43px; text-align:center;border:1px solid #c0cce1;float:left;margin:15px 17px 0 18px;border-radius:2px;cursor:pointer;}
.bank_list ul li img{width:138px;height:33px;margin:5px 0 0 10px;display: block;}
.bank_more{width:158px;height:36px;font:600 14px/36px 'Microsoft Yahei';text-align:center;border:1px solid #97cfef;background:#d8f1ff;color:#2ea7e7;margin:15px 0 0 18px;cursor:pointer;}
.bank_blank10{height:10px;width:100%;}
.bank_blank25{height:25px;width:100%;}
.go_pay{width:200px;height:38px;border-radius:3px;font:16px Microsoft Yahei; font-weight: bold;}
.go_pay2{width:200px;height:38px;border-radius:3px;margin:20px 0 0 30px; font-weight: bold; font:16px Microsoft Yahei;background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
.bgray{background:#d8d8d8;border:1px solid #bfbfbf;color:#fff;cursor:not-allowed;}
.blight{background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
.please_selspan{font:12px Microsoft Yahei;padding-left:10px;color:#ff5d5b;}
.bank_light_border{border:1px solid #e51d20 !important;}
.bank_selected{width:158px;height:36px;border:1px solid #b0c2e1;border-radius:2px;cursor:pointer;}
.bank_other{padding:0px 0 0 25px;background:url(../images/topay/recycle.png) no-repeat 10px 11px;}
.bank_other a{color:#646464;}
.bank_tbed{width:360px;font:14px/36px 'Microsoft Yahei';color:#646464;text-align:center;}
.bank_tbed td{height:36px;}
.bank_chuxu{margin-right:6px;}
.bank_xinyong{margin:0 6px 0 30px;}
.topay_cont{ width: 980px; margin: 0 auto; position: relative; margin-top: 55px;}
.topay_tit{ position: absolute; top: -35px; left: 0px; height: 35px; z-index: 99; border-left: 1px solid #e6e6e6;}
.topay_tit li{ float: left; cursor: pointer; width: 118px; height: 33px; background: #f9f9f9; border-right: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; text-align: center; line-height: 33px;}
.topay_tit li a{ color: #909090; font-size: 14px; font-weight: bold;}
.topay_box2{ width: 978px; border: 1px solid #e6e6e6;padding-top:15px;}
.topaysBtn{width:798px; margin-top: 40px; margin-bottom: 78px;}
.topay_zw{ width: 978px; margin: 0 auto; margin-top: 20px; margin-left: 90px;}
.topay_zw a:hover{ border: 1px solid #ff4b4b;}
.topay_z{ float: left; display: block; width: 188px; height: 79px; border: 1px solid #e6e6e6; border-radius: 2px; background: #fff url(../images/topay/topay_zw.png) no-repeat 40px 22px;cursor: pointer;}
.topay_w{ float: left; display: block; width: 188px; height: 79px; border: 1px solid #e6e6e6; border-radius: 2px; background: #fff url(../images/topay/topay_zw.png) no-repeat 40px -438px; margin-left: 60px;cursor: pointer;}
.topay_tit_on{ border-top: 2px solid #ff4b4b !important; background: #fff !important; height: 34px !important;}
.topay_tit_on a{ color: #ff6161 !important;}
.topaysBtn0{ margin-top: 40px; margin-bottom: 78px;}
.go_pay0{width:200px;height:38px;border-radius:3px;font:16px Microsoft Yahei; font-weight: bold;}
.bgray0{background:#d8d8d8;border:1px solid #bfbfbf;color:#fff;cursor:not-allowed;}
.please_selspan0{font:12px Microsoft Yahei;padding-left:10px;color:#ff5d5b;}
.ml18{ margin-left: 18px; }
.join_img{position: relative; margin-top: 20px;margin-bottom: 150px;background: url(../images/topay/click.png) no-repeat;z-index: 100000;}
.join_text{position: absolute;top: 23px;left: 493px; width: 117px;height: 32px; background: url(../images/topay/click.png) no-repeat;z-index: 100000;}
/* ******************end 零售-订单支付css******************** */

/* ******************微信支付页css******************** */
.topay_wx{ width: 978px; height: 598px; border: 1px solid #ececec; margin-top: 20px; background:#f9f9f9 url(../images/topay/topay_wx.png) no-repeat 468px 66px;}
.wx_p{ color: #323232; font-size: 16px; width: 98px; height: 32px; padding-left: 42px; margin-left: 20px; background: url(../images/topay/wx_p.png) no-repeat 0px 0px; margin-top: 20px;}
.wx_cont{ margin-left: 154px; margin-top: 56px;}
.wx_code{ margin: 0px; width: 258px; height: 258px; border: 1px solid #ddd; border-radius: 10px; background: #fff; text-align: center;}
.wx_code img{ width: 224px; height: 224px; margin-top: 17px;}
.wx_text{ color: #646464; font-size: 14px; padding-left: 8px; margin-top: 10px; margin-bottom: 18px;}
.wx_text span{ color: #fb6a68 !important; font-size: 16px !important;}
.wx_text a{ color: #2ea7e7 !important; text-decoration: underline; margin-left: 50px;}
.wx_tip{ width: 207px; height: 62px; background: url(../images/topay/topay_wxTip.png) no-repeat; color: #fff; font-size: 16px; padding-left: 53px; padding-top: 18px; text-align: center; margin: 0;}
.wxclass{background-image: url(../images/topay/wxclass_bg.png) !important;background-color: transparent !important;box-shadow: none !important;}
.wxtimer{color: #ff7348;font: 30px "Microsoft Yahei";position: absolute;top: 88px;left: 104px;}
/* ******************end 微信支付页css******************** */

/**支付结果弹窗**/
.comments_cont{width:480px;height:230px;background:#fff;overflow: hidden;}
.comments_msg{width: 380px;height: 90px;background: #ffeee2;border: 1px solid #ffb076;margin-top: 40px;}
.comments_msg p{background: url(../images/sindex/iquestion.png) no-repeat 0px 6px;padding-left: 30px;margin: 22px 40px;color: #ff6c05;font: 14px/26px "Microsoft Yahei";}
.operation_btn{margin-top: 30px;width: 204px;height: 28px;}
.ed_btn,.ing_rebtn{display: block;float: left;width: 90px;height: 26px;font: 12px/26px "Microsoft Yahei";text-align: center;}
.ed_btn{color:#555555;border: 1px solid #dadada;background: #fafafa;}
.ing_rebtn{color:#fff;border: 1px solid #ff6900;background: #ff822a;margin-left: 20px;}
/**end  支付结果弹窗**/


/********************************** 支付失败页面css ********************************/
.topay_fail_cont{ width: 980px; height: 254px;}
.topay_fail{background:url(../images/topay/girl_sad.png) no-repeat 252px 73px !important;padding:80px 100px 80px 400px;}
.topay_fh3{color:#e4393c;font-size:20px;font-weight:normal;}
.topay_qbtn{width:160px;height:32px;border-radius:3px;margin-top:10px;font:600 14px Microsoft Yahei;background:#fb6a68;border:1px solid #e34240;color:#fff;cursor:pointer;}
/********************************** end 支付失败页面css ********************************/

/********************************** 支付成功页面css ********************************/
.topay_success_cont{ width: 980px; height: 254px;}
.topay_success{background:url(../images/topay/girl_happy.png) no-repeat 252px 73px !important;padding:80px 100px 80px 400px;}
.topay_sh3{color:#0066cc;font-size:20px;font-weight:normal;}
/********************************** end 支付成功页面css ********************************/